<section>

  <div class="row">

    <div class="col-md-12">

      <div class="card card-cascade narrower">
        <!--Titulo-->
        <div class="view gradient-card-header orange-chang" >
          <h2 class="h2-responsive">Proveedores</h2>
        </div>
        <!--/Titulo-->
        <div class="card-body" >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="text-right" style="margin-top:3%;">
                  <button type="button"  class="btn orange-chang" data-toggle="modal" data-target="#modalingresarproveedor" >Nuevo Proveedor</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th class="header-negrita">ID</th>
              <th class="header-negrita">Nombre</th>
              <th class="header-negrita">Direccion</th>
              <th class="header-negrita">Descripcion</th>
              <th class="header-negrita">Nombre representante</th>
              <th class="header-negrita">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proveedor of proveedores">
              <td class="body-negrita">{{ proveedor.IdProveedor }}</td>
              <td class="body-negrita">{{ proveedor.NombreProveedor }}</td>
              <td width="10%" class="body-negrita">{{ proveedor.Direccion }}</td>
              <td width="10%" class="body-negrita">{{ proveedor.Descripcion }}</td>
              <td width="10%" class="body-negrita">{{ proveedor.NombreRepresentante}}</td>
              <td width="25%" class="body-negrita">

                <div class="text-center">
                  <!--<button type="button" (click)="getProveedorById()" class="btn btn-sm" style="background-color:#E67E22;" id="btnShowProducto" data-toggle="tooltip" data-placement="bottom" title="Visualizar" ><i class="fa fa-eye"></i></button>-->
                  <button type="button" (click)="showModalUpdateProveedor(proveedor)" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateProveedor" data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="fa fa-pencil"></i></button>
                  <button type="button" (click)="deleteProveedor(proveedor.IdProveedor)" class="btn btn-sm" style="background-color:#E67E22;" id="btnDeleteProveedor" data-toggle="tooltip" data-placement="bottom" title="Eliminar"><i class="fa fa-times"></i></button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

</section>



<!-- Modal proveedores -->
<div class="modal fade" id="modalingresarproveedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg cascading-modal " role="document">
    <!--Contenido-->
    <div class="modal-content background-gray">

      <!--Titulo-->
      <div class="modal-header orange-chang white-text">
        <h4 class="title"> Proveedores</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo modal-->
      <div class="modal-body mb-0">
        <div class="container-fluid">
          <!-- Inicio form-->
          <form [formGroup]="addForm"(ngSubmit)="createProveedor()" novalidate>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                  <div class="card-header white-text orange-header" ><i class="fa fa-file-text-o" aria-hidden="true"></i> Datos del proveedor</div>
                  <div class="container-fluid">
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <br>
                        <div class="md-form ">
                          <input type="text" id="nombreProveedor"
                                 class="form-control letras"
                                 name = "nombreProveedor"
                                 formControlName="nombreProveedor"
                                 required
                          >

                          <show-errors [control]="addForm.controls['nombreProveedor']"></show-errors>
                          <label for="nombreProveedor" class="">Nombre</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="md-form ">
                          <input type="email" id="correoProveedor" class="form-control "
                                 name = "correoProveedor"
                                 formControlName="correoProveedor"
                                 required
                                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                          >
                          <show-errors [control]="addForm.controls['correoProveedor']"></show-errors>
                          <label for="correoProveedor" class="">Correo Electrónico</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <br>
                        <div class="md-form">
                          <textarea type="text" id="direccionProveedor" class="md-textarea"
                                    name = "direccionProveedor"
                                    formControlName="direccionProveedor"
                                    required

                          ></textarea>
                          <label for="direccionProveedor">Dirección</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="md-form ">
                          <input type="text" id="nombreRepresentante"
                                 class="form-control letras"
                                 name = "nombreRepresentante"
                                 formControlName="nombreRepresentante"
                                 required
                                 noNumeros

                          >
                          <show-errors [control]="addForm.controls['nombreRepresentante']"></show-errors>
                          <label for="nombreRepresentante" class="">Nombre Representante</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="md-form ">

                          <input type="text" id="telefonoProveedor" name="telefonoProveedor"
                                 formControlName="telefonoProveedor"
                                 class="form-control telefono"
                                 required
                          >
                          <label for="telefonoProveedor" class="">Telefóno</label>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <br>
                        <div class="md-form">
                          <textarea type="text" id="descripcionProveedor" class="md-textarea"
                                    name = "descripcionProveedor"
                                    formControlName="descripcionProveedor"
                                    required

                          ></textarea>
                          <label for="descripcionProveedor">Descripción</label>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="text-center mt-1-half">
                      <button class="btn orange-chang mb-1" value="Submit Form" [disabled]="!addForm.valid">Ingresar <i class="fa fa-check ml-1"></i></button>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Final form -->
          <br>
        </div>
      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>

<!-- Modal proveedores -->
<div class="modal fade" id="modalUpdateProveedor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg cascading-modal " role="document">
    <!--Contenido-->
    <div class="modal-content background-gray">

      <!--Titulo-->
      <div class="modal-header orange-chang white-text">
        <h4 class="title"> Proveedores</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo modal-->
      <div class="modal-body mb-0">
        <div class="container-fluid">
          <!-- Inicio form-->
          <form [formGroup]="updateForm" (ngSubmit)="updateProveedor()" novalidate>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                  <div class="card-header white-text orange-header"><i class="fa fa-file-text-o" aria-hidden="true"></i> Datos del proveedor</div>
                  <div class="container-fluid">
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <br>
                        <label for="nombreProveedor" class="">Nombre</label>
                        <div class="md-form ">
                          <input type="text" id="upnombreProveedor" class="form-control "
                                 name = "nombreProveedor"
                                 formControlName="nombreProveedor"
                                 required

                          >

                        </div>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="md-form ">
                          <input type="email" id="upcorreoProveedor" class="form-control "
                                 name = "correoProveedor"
                                 formControlName="correoProveedor"
                                 required

                          >
                          <label for="correoProveedor" class="">Correo Electrónico</label>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <br>
                        <div class="md-form">
                          <textarea type="text" id="updireccionProveedor" class="md-textarea"
                                    name = "direccionProveedor"
                                    formControlName="direccionProveedor"
                                    required

                          ></textarea>
                          <label for="direccionProveedor">Dirección</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="md-form ">
                          <input type="text" id="upnombreRepresentante" class="form-control "
                                 name = "nombreRepresentante"
                                 formControlName="nombreRepresentante"
                                 required

                          >
                          <label for="nombreRepresentante" class="">Nombre Representante</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <br>
                        <div class="md-form ">

                          <input type="number" id="uptelefonoProveedor" name="telefonoProveedor"
                                 minlength="7"
                                 maxlength="2"
                                 formControlName="telefonoProveedor"
                                 class="form-control"
                                 required
                                 birthYear
                          >

                          <label for="telefonoProveedor" class="">Telefóno</label>
                        </div>
                      </div>


                      <div class="col-md-12">
                        <br>
                        <div class="md-form">
                          <textarea type="text" id="updescripcionProveedor" class="md-textarea"
                                    name = "descripcionProveedor"
                                    formControlName="descripcionProveedor"
                                    required

                          ></textarea>
                          <label for="descripcionProveedor">Descripción</label>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="text-center mt-1-half">
                      <button class="btn orange-chang mb-1">Actualizar <i class="fa fa-check ml-1"></i></button>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Final form -->
          <br>
        </div>
      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>
