.size-img-card-reportes {
    height: 323 !important;
    width: auto !important;    
}

.img-reportes {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.background-card-reportes {
    background-color: rgb(242, 242, 242) !important;
}