<section>
  <div class="row">

    <div class="col-md-12">

      <div class="card card-cascade narrower">
        <!--Titulo-->
        <div class="view gradient-card-header orange-chang">
          <h2 class="h2-responsive">Reportes</h2>
        </div>
        <!--/Titulo-->
        <div class="card-body">
          <br><br>

          <div class="row">

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                    <img src="http://localhost:3000/api/getImagen/Reportes/productos.png" class="img-fluid img-reportes" alt="" style="background-color: white;">
                  <div class="stripe dark">
                    <a>
                      <p>Productos</p>
                      <button type="button" class="btn orange-chang btn-sm" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                  <img src="http://localhost:3000/api/getImagen/Reportes/proveedores.jpg" class="img-fluid img-reportes" alt="">
                  <div class="stripe dark">
                    <a>
                      <p>Proveedores</p>
                      <button type="button" class="btn orange-chang btn-sm" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                  <img src="http://localhost:3000/api/getImagen/Reportes/trabajadores.jpg" class="img-fluid img-reportes" alt="">
                  <div class="stripe dark">
                    <a>
                      <p>Trabajadores</p>
                      <button type="button" class="btn orange-chang btn-sm" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <!--Card image-->
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                  <img src="http://localhost:3000/api/getImagen/reportes/sucursales.jpg" class="img-fluid img-reportes" alt="">
                  <div class="stripe dark">
                    <a>
                      <p>Sucursales</p>
                      <button type="button" class="btn orange-chang btn-sm" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
                <!--Card image-->
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>