
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">Restaurante Familia Chang</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/menu">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Iniciar Sesión</a>
        </li>

      </ul>

    </div>
  </div>
</nav>


<!--/.Menu-->

<!--Imagen Principal-->
<div class="view-full hm-black-light">
  <div class="full-bg-img flex-center pattern-1">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 850px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center ">
              <h1 class="display-1 mb-2 wow fadeInDown " data-wow-delay="0.3s" style="color:#E67E22;">張家餐廳</h1>
              <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">Restaurante de la Familia Chang</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.Imagen Principal-->

<!--Contenido Descripcion-->
<div class="background">
  <br>
  <div class="container">
    <div class="divider-new" style="color:#E67E22;"><h1>Historia</h1></div>
    <div class="row">
      <div class="col-6">
        <h2 class="text-center " style="color:#E67E22;">¡Bienvenidos!</h2>
        <br>
        <p>El auténtico sabor de la comida oriental, preparada con ingredientes frescos, salsas tradicionales chinas y especiales recetas de la casa. No hay mejor lugar para degustar la comida china que el nuestro restaurante.</p>
        <p>Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus porttitor mauris, in ullamcorper quam laoreet in. Fusce dolor arcu, suscipit eu urna eget, posuere aliquet purus. Fusce neque diam, sollicitudin a cursus eget, gravida a turpis.</p>
      </div>
      <div class="col-6">
        <img src="./assets/img/landingpage/combine2.png" class="img-fluid" >
      </div>
    </div>
  </div>
  <br><br>
</div>
<!--/.Contenido Descripcion-->

<!--Streak frase Chang-->
<div class="streak streak-photo streak-long-2 hm-black-strong" style="background-image:url('./assets/img/landingpage/background-5.jpg')">
  <div class="mask flex-center">
    <div class="container">
      <div class="text-center white-text">
        <h2 class="h2-responsive mb-5"><i class="fa fa-quote-left" aria-hidden="true"></i> UNA DE LAS MEJORES COSAS DE LA VIDA ES QUE DEBEMOS INTERRUMPIR REGULARMENTE CUALQUIER LABOR Y CONCENTRARNOS EN LA COMIDA<i class="fa fa-quote-right" aria-hidden="true"></i></h2>
        <h5 class="text-center font-italic wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">~ Cristhian Chang</h5>
      </div>
    </div>
  </div>
</div>
<!--/. Streak frase Chang-->

<!--Menu de comidas-->
<div class="background">
  <br>
  <div class="container">
    <div class="divider-new" style="color:#E67E22;"><h1>Menu</h1></div>
    <!-- Contenedor 1 -->
    <div class="row text-center">

      <!-- Arroz / Tallarines -->
      <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/arroz-chino.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Ver Productos</button>
            </div>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong> Arroz / Tallarines</strong></h4>
          </div>
        </div>
      </div>

      <!--Pollos -->
      <div class="col-lg-4 col-md-12 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/pollo-agridulce.jpg" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>

          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Pollo</strong></h4>
          </div>
        </div>

      </div>



      <!-- Cerdo -->
      <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/cerdo-agridulce.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>

          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Cerdo</strong></h4>
          </div>
        </div>
      </div>

    </div>
    <!-- /. Contenedor 1 -->

    <div class="row">
      <div class="col-lg-12">
        <div class="collapse" id="collapseExample">
          <div id="mdb-lightbox-ui"></div>
          <div class="mdb-lightbox">

            <figure class="col-md-4">
              <a href="./assets/img/landingpage/comidas/tallarines.png" data-size="1600x1067">
                <img src="./assets/img/landingpage/comidas/tallarines.png" class="img-fluid">
              </a>
              <p class="center-align"> Tallarines</p>
            </figure>

            <figure class="col-md-4">
              <a href="./assets/img/landingpage/comidas/chop-suey.png" data-size="1600x1067">
                <img src="./assets/img/landingpage/comidas/chop-suey.png" class="img-fluid">
              </a>
            </figure>

            <figure class="col-md-4">
              <a href="./assets/img/landingpage/comidas/tallarines.png" data-size="1600x1067">
                <img src="./assets/img/landingpage/comidas/tallarines.png" class="img-fluid">
              </a>
            </figure>


          </div>
        </div>
      </div>
    </div>

    <!-- Contenedor 2 -->
    <div class="row text-center mt-4">


      <!-- Res -->
      <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/res.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Res</strong></h4>
          </div>
        </div>
      </div>

      <!-- Mariscos -->
      <div class="col-lg-4 col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/camarones.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Mariscos</strong></h4>
          </div>
        </div>
      </div>



      <!--Sopas-->
      <div class="col-lg-4 col-md-6 pb-5 mb-3 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/sopa-wantan.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>

          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Sopas</strong></h4>
          </div>
        </div>

      </div>

      <!-- Wantanes -->


    </div>
    <!-- /.Contenedor 1 -->

    <!-- Contenedor 3 -->
    <div class="row text-center mt-4">

      <!-- Aperitivos -->
      <div class="col-lg-4 col-md-12 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">

        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/wantanes.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>

          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Aperitivos</strong></h4>
          </div>
        </div>

      </div>

      <!-- Extras -->
      <div class="col-lg-4 col-md-12 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/chow-mein.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Extras</strong></h4>
          </div>
        </div>
      </div>

      <!-- Bebidas -->
      <div class="col-lg-4 col-md-12 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
        <div class="card card-cascade wider">
          <div class="view overlay hm-white-slight z-depth-1 view hm-black-light hm-zoom">
            <img src="./assets/img/landingpage/comidas/bebidas.png" class="img-fluid">
            <div class="mask flex-center">
              <button type="button" class="btn btn-outline-warning  waves-effect">Ver Productos</button>
            </div>
          </div>
          <div class="card-body text-center">
            <h4 class="card-title font-orange"><strong>Bebidas</strong></h4>
          </div>
        </div>
      </div>




    </div>
    <!-- /.Contenedor 1 -->
  </div>
</div>
<!--/. Menu de comidas-->

<!--Streak imagen-->
<div class="streak streak-photo streak-long-2" style="background-image:url('./assets/img/landingpage/background-6.jpg')">
  <div class="mask flex-center">
  </div>
</div>
<!--/. Streak frase Chang-->

<!--Footer-->
<footer class="page-footer center-on-small-only nopadding ">
  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
        <h6 class="title font-bold"><strong>Familia Chang</strong></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus porttitor mauris, in ullamcorper quam laoreet in. Fusce dolor arcu, suscipit eu urna eget, posuere aliquet purus. Fusce neque diam, sollicitudin a cursus eget, gravida a turpis.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r">
        <h6 class="title font-bold"><strong>Sucursales</strong></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a href="#!">Rubenia</a></p>
        <p><a href="#!">Bello Horizonte</a></p>
        <p><a href="#!">Ciudad Jardín</a></p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r">
        <h6 class="title font-bold"><strong>Horarios</strong></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><a href="#!">11 Am - 9 Pm</a></p>
        <p><a href="#!">11 Am - 8 Pm</a></p>
        <p><a href="#!">11 Am - 8 Pm</a></p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-3 col-xl-3">
        <h6 class="title font-bold"><strong>Contacto</strong></h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p><i class="fa fa-home mr-3"></i> Rubenia, enfrente hotel estrella.</p>
        <p><i class="fa fa-envelope mr-3"></i> info@restaurantechang.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 505 1234 5678</p>
        <p><i class="fa fa-print mr-3"></i> + 505 2222 1234</p>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      <i class="fa fa-code fa-1x" aria-hidden="true"></i> with <i class="fa fa-heart fa-1x" aria-hidden="true"></i> by <a href="#"> Atomic Developers </a>

    </div>
  </div>


  <!--/.Copyright-->
</footer>
<!--/.Footer-->




