.nopadding {
  margin-top: 0 !important;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: rgba(192, 57, 43, 0.7);
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(192, 57, 43, 0.7);
  }
}

footer.page-footer {
  background-color: rgba(192, 57, 43, 1);
  margin-top: 2rem;
}

.pattern-4 {
  background-attachment: fixed;
}

.view-full {
  background: url("/assets/img/landingpage/background-3.jpg")no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.full-bg-img {
  color: #fff;
}

.payment .fa:not(:first-child) {
  margin-left: 10px;
  color: rgba(255, 255, 255, .8);
}

input[type="text"]:focus:not([readonly]) {
  border-color: #C00;
  box-shadow: 0 1px 0 0 #C00;
  color: #fff;
}

input[type="text"]:not([readonly])+label {
  color: rgba(255, 255, 255, .65);
}

input[type="text"]:focus:not([readonly])+label {
  color: #fff;
}
.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
  color: #fff !important;
}
.background{
  background: url("/assets/img/landingpage/background-historia.jpg")no-repeat center center;
  background-size: cover;
}
.font-orange{
  color:#E67E22;
}
.red-chang{
  background-color: rgba(192, 57, 43, 0.7);
}
.padding-0{
  padding-right:0;
  padding-left:0;
}
.background-collapsible{
  background: url("/assets/img/landingpage/background-3.jpg")no-repeat center center;
}

/*Login*/
.intro-2 {
  background: url("/assets/img/landingpage/background-7.jpg")no-repeat center center;
  background-size: cover;
}
.navbar-login {
  background-color: rgba(192, 57, 43, 0.7);
}
.card {
  background-color: rgba(0, 0, 0, 0.2);
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.md-form label {
  color: #ffffff;
}
h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 750px;
  }
}
@media (min-width: 741px) and (max-height: 638px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 750px;
  }
}

.card {
  margin-top: 30px;
  /*margin-bottom: -45px;*/

}

.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid rgba(230, 126, 34, 0.8);
  box-shadow: 0 1px 0 0 rgba(230, 126, 34, 0.8);;
}
.md-form input[type=text]:focus:not([readonly])+label,
.md-form input[type=password]:focus:not([readonly])+label {
  color: rgba(230, 126, 34, 0.8);
}

.md-form .form-control {
  color: #fff;
}

/*404*/
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}
