.background-gray{
  background: url(/assets/img/landingpage/background-historia.jpg);
}
.color-primary{
  background-color: #E67E22;
}
.color-secundary{
  background-color: #C0392B;
}
.header-negrita{
  font-weight: 900;
}
.body-negrita{
  font-weight:400;
}
.margin-paneladministrativo{
  margin-bottom: 5%;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
}

input.ng-valid.ng-dirty{
  border-left: 5px solid #42A948;
}

.check{
  color : #42A948;
}

.uncheck{
  color : #a94442;
}
