<section>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-cascade narrower">
        <div class="view gradient-card-header orange-chang">
          <h4>Producto - Proveedor</h4>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="formProveedor" (ngSubmit)="guardarProductoProveedor()" novalidate>
              <div class="row">

                <div class="col-sm-12 col-md-6">
                  <br>
                  <label>Nombre del Producto</label>
                  <ng-select [items]="productos" bindLabel="NombreProducto" bindValue="IdProducto" placeholder="Selecciona un producto" id="productosProveedor"
                    (add)="onAddSelectProducto($event)">

                  </ng-select>
                  <show-errors [control]="formProveedor.controls['productosProveedor']"></show-errors>
                  <!--<label for="nombreproveedor">Nombre del producto</label>-->
                </div>

                <div class="col-sm-12 col-md-6">
                  <br>
                  <br>
                  <div class="md-form" mdbPopover="Haz clíck, se mostrará una ventana y selecciona " placement="top" popoverTitle="Selecciona al Proveedor"
                    triggers="mouseenter:mouseleave">
                    <input mdbActive type="text" id="proveedor" class="form-control" autocomplete="off" (click)="modalEncontrarProveedor.show()">
                    <label for="proveedor">Nombre del Proveedor</label>
                  </div>
                  <!-- <ng-select [items]="proveedores" bindLabel="NombreProveedor" bindValue="IdProveedor" placeholder="Selecciona una proveedor"
                    formControlName="nombreproveedor" id="nombreproveedor" (add)="onAddSelectProveedor($event)">
                  </ng-select> -->
                  <show-errors [control]="formProveedor.controls['nombreproveedor']"></show-errors>
                  <!--<label for="nombreproveedor">Nombre del proveedor</label>-->
                </div>

                <div class="col-sm-9 col-md-5">
                  <br>
                  <label>Empaque</label>
                  <ng-select [items]="empaques" bindLabel="NombreEmpaque" bindValue="IdEmpaque" placeholder="Selecciona un empaque" formControlName="empaque"
                    id="empaque" (add)="onAddSelectEmpaque($event)" class="select-no-margin">
                  </ng-select>
                  <show-errors [control]="formProveedor.controls['empaque']"></show-errors>
                </div>

                <div class="col-sm-3 col-md-1 align-self-end" mdbPopover="Haz clíck, se mostrará una ventana y selecciona " placement="top"
                  popoverTitle="Agregar Nuevo Empaque" triggers="mouseenter:mouseleave">
                  <a class="btn-floating btn-sm orange-chang">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>

                <div class="col-sm-9 col-md-5">
                  <br>
                  <label>Envase</label>
                  <ng-select [items]="envases" bindLabel="NombreEnvase" bindValue="IdEnvase" placeholder="Selecciona un envase" formControlName="envase"
                    id="envase" (add)="onAddSelectEnvase($event)" class="select-no-margin">
                  </ng-select>
                  <show-errors [control]="formProveedor.controls['envase']"></show-errors>
                  <!--<label for="envase">Envase</label>-->
                </div>

                <div class="col-sm-3 col-md-1 align-self-end" mdbPopover="Haz clíck, se mostrará una ventana y selecciona " placement="top"
                  popoverTitle="Agregar Nuevo Envase" triggers="mouseenter:mouseleave">
                  <a class="btn-floating btn-sm orange-chang">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>

                <div class="col-md-6">
                  <br>
                  <br>
                  <div class="md-form">
                    <input mdbActive type="number" id="cantidadenvase" formControlName="cantidadenvase" class="form-control" autocomplete="off">
                    <label for="cantidadenvase">Cantidad de Envase</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <br>
                  <div class="md-form">
                    <input mdbActive type="number" id="costo" formControlName="costo" class="form-control" autocomplete="off">
                    <label for="costo">Costo del producto</label>
                  </div>
                </div>

                <div class="col-sm-9 col-md-5">
                  <br>
                  <label>Unidad de Medida</label>
                  <ng-select [items]="unidadesMedida" dropdownPosition="top" bindLabel="NombreUnidad" bindValue="IdUnidadMedida" placeholder="Selecciona una unidad de medida"
                    formControlName="unidadmedida" id="unidadmedida" (add)="onAddSelectUnidadMedida($event)" class="select-no-margin">
                  </ng-select>
                  <show-errors [control]="formProveedor.controls['unidadmedida']"></show-errors>
                </div>

                <div class="col-sm-3 col-md-1 align-self-end margin-space" mdbPopover="Haz clíck, se mostrará una ventana y selecciona "
                  placement="top" popoverTitle="Agregar Nueva Unidad de Medida" triggers="mouseenter:mouseleave">
                  <a class="btn-floating btn-sm orange-chang">
                    <i class="fa fa-plus"></i>
                  </a>
                </div>

                <div class="col-md-6">
                  <br>
                  <br>
                  <div class="md-form">
                    <input mdbActive type="number" id="valorunidadmedida" formControlName="valorunidadmedida" class="form-control" autocomplete="off">
                    <label for="valorunidadmedida">Valor unidad de medida</label>
                  </div>
                </div>

              </div>

              <br>
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1">Ingresar
                  <i class="fa fa-check ml-1"></i>
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div mdbModal #modalEncontrarProveedor="mdb-modal" class="modal modal-scroll fade" id="modalEncontrarProveedor" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Contenido-->
    <div class="modal-content background-gray mdl">

      <!--Titulo-->
      <div class="modal-header orange-chang white-text">
        <h4 class="title">
          <i class="fa fa-truck"></i> Buscar Proveedor</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalEncontrarProveedor.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Cuerpo modal-->
      <div class="modal-body mb-0 white">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th class="header-negrita">Nombre del Proveedor</th>
              <th class="header-negrita">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="body-negrita"> Cainsa</td>
              <td width="25%" class="body-negrita">
                <div class="text-center">
                  <button type="button" class="btn btn-sm" style="background-color:#E67E22;" id="btnUpdateEmpaque" data-toggle="tooltip" data-placement="bottom"
                    title="Editar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>