<section>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-cascade narrower">
        <div class="view gradient-card-header orange-chang">
          <h4>Producto - Proveedor</h4>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="formProveedor" (ngSubmit)="guardarProductoProveedor()" novalidate>
              <div class="row">

                <div class="col-sm-12 col-md-6">
                  <br>
                  <label>Nombre del Producto</label>
                  <ng-select [items]="productos" bindLabel="NombreProducto" bindValue="IdProducto" formControlName="nombreProducto" placeholder="Selecciona un producto" id="productosProveedor"
                    (change)="onChangeProducto($event)">

                  </ng-select>
                  <show-errors [control]="formProveedor.controls['productosProveedor']"></show-errors>
                </div>

                <div class="col-sm-12 col-md-6">
                  <br>
                  <br>
                  <div class="md-form" mdbPopover="Haz clíck, se mostrará una ventana y selecciona " placement="top" popoverTitle="Selecciona al Proveedor"
                    triggers="mouseenter:mouseleave">
                    <input mdbActive type="text" readonly id="proveedor" class="form-control" formControlName="nombreProveedor" autocomplete="off" (click)="modalEncontrarProveedor.show()">
                    <label for="proveedor">Nombre del Proveedor</label>
                  </div>
                  <show-errors [control]="formProveedor.controls['nombreProveedor']"></show-errors>
                </div>
                <div class="col-sm-9 col-md-5">
                  <br>
                  <label>Empaque</label>
                  <ng-select [items]="empaques" bindLabel="NombreEmpaque" bindValue="IdEmpaque" placeholder="Selecciona un empaque" formControlName="empaque"
                    id="empaque" (change)="onChangeEmpaque($event)" class="select-no-margin">
                  </ng-select>
                  <show-errors [control]="formProveedor.controls['empaque']"></show-errors>
                </div>
                <div class="col-sm-3 col-md-1 align-self-end" mdbPopover="Haz clíck, se mostrará una ventana y selecciona " placement="top"
                  popoverTitle="Agregar Nuevo Empaque" triggers="mouseenter:mouseleave">
                  <a class="btn-floating btn-sm orange-chang">
                    <i class="fa fa-plus" (click)="showModalAddEmpaque()"></i>
                  </a>
                </div>

                <div class="col-sm-9 col-md-5">
                  <br>
                  <label>Envase</label>
                  <ng-select [items]="envases" bindLabel="NombreEnvase" bindValue="IdEnvase" placeholder="Selecciona un envase" formControlName="envase"
                    id="envase" (change)="onChangeEnvase($event)" class="select-no-margin">
                  </ng-select>
                  <show-errors [control]="formProveedor.controls['envase']"></show-errors>
                </div>
                <div class="col-sm-3 col-md-1 align-self-end" mdbPopover="Haz clíck, se mostrará una ventana y selecciona " placement="top"
                  popoverTitle="Agregar Nuevo Envase" triggers="mouseenter:mouseleave">
                  <a class="btn-floating btn-sm orange-chang">
                    <i class="fa fa-plus" (click)="showModalAddEnvase()"></i>
                  </a>
                </div>
                <div class="col-md-6">
                  <br>
                  <br>
                  <div class="md-form">
                    <input mdbActive type="number" id="cantidadEmpaque" formControlName="cantidadEmpaque" class="form-control" autocomplete="off">
                    <label for="cantidadEmpaque">Cantidad de Empaque</label>
                    <show-errors [control]="formProveedor.controls['cantidadEmpaque']"></show-errors>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <br>
                  <div class="md-form">
                    <input mdbActive type="number" min="1" id="costo" formControlName="costo" class="form-control" autocomplete="off">
                    <label for="costo">Costo del producto</label>
                    <show-errors [control]="formProveedor.controls['costo']"></show-errors>
                  </div>
                </div>

                <div class="col-sm-9 col-md-5">
                  <br>
                  <label>Unidad de Medida</label>
                  <ng-select [items]="unidadesMedida" dropdownPosition="top" bindLabel="NombreUnidad" bindValue="IdUnidadMedida" placeholder="Selecciona una unidad de medida"
                             formControlName="unidadmedida" id="unidadmedida" (change)="onChangeUnidadMedida($event)" class="select-no-margin">
                  </ng-select>
                  <show-errors [control]="formProveedor.controls['unidadmedida']"></show-errors>
                </div>

                <div class="col-sm-3 col-md-1 align-self-end margin-space" mdbPopover="Haz clíck, se mostrará una ventana y selecciona "
                  placement="top" popoverTitle="Agregar Nueva Unidad de Medida" triggers="mouseenter:mouseleave">
                  <a class="btn-floating btn-sm orange-chang">
                    <i class="fa fa-plus" (click)="showModalAddUnidadMedida()"></i>
                  </a>
                </div>

                <div class="col-md-6">
                  <br>
                  <br>
                  <div class="md-form">
                    <input mdbActive type="number" id="valorunidadmedida" formControlName="valorunidadmedida" class="form-control" autocomplete="off">
                    <label for="valorunidadmedida">Valor unidad de medida</label>
                    <show-errors [control]="formProveedor.controls['valorunidadmedida']"></show-errors>
                  </div>
                </div>

              </div>

              <br>
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" [disabled]="!formProveedor.valid">Ingresar
                  <i class="fa fa-check ml-1"></i>
                </button>
              </div>

            </form >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div mdbModal #modalEncontrarProveedor="mdb-modal" class="modal modal-scroll fade mdl" id="modalEncontrarProveedor" tabindex="-1"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Contenido-->
    <div class="modal-content background-gray-w mdl">

      <!--Titulo-->
      <div class="modal-header orange-chang white-text">
        <h4 class="title">
          <i class="fa fa-truck"></i> Buscar Proveedor</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalEncontrarProveedor.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Cuerpo modal-->
      <div class="modal-body mb-0">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="mdl-data-table table-striped dt-responsive row-border hover" cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th class="header-negrita" width="90%">Nombre</th>
              <th class="header-negrita" width="10%">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let proveedor of proveedores; let i = index">
              <td class="body-negrita">{{proveedor.NombreProveedor}}</td>
              <td class="body-negrita">
                <div class="text-center">
                  <button type="button" (click)="seleccionarProveedor(proveedor,modalEncontrarProveedor)" class="btn btn-sm" style="background-color:#E67E22;" id="" data-toggle="tooltip" data-placement="bottom"
                    title="Agregar">
                    <i class="fa fa-check"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>

<modal-empaque *ngIf="showModalEmpaque" [mostrarModal]="showModalEmpaque" (resultadoConsulta)="resultadoConsultaEmpaque($event)" ></modal-empaque>
<modal-envase *ngIf="showModalEnvase" [mostrarModal]="showModalEnvase" (resultadoConsulta)="resultadoConsultaEnvase($event)" ></modal-envase>
<modal-unidad-medida *ngIf="showModalUnidadMedida" [mostrarModal]="showModalUnidadMedida" (resultadoConsulta)="resultadoConsultaUnidadMedida($event)"></modal-unidad-medida>