<section>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-cascade narrower">
        <div class="view gradient-card-header orange-chang">
          <h4>Producto - Proveedor</h4>
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <form>
              <div class="row">
                
                <!-- Reemplazar -->
                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="nombreproducto" formControlName="nombreProducto" class="form-control letras" autocomplete="off" >
                    <label for="nombreproducto">Nombre del producto </label>
                  </div>
                </div>

                <!-- Reemplazar -->
                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="nombreproveedor" formControlName="nombreProveedor" class="form-control letras" autocomplete="off">
                    <label for="nombreproveedor">Nombre del proveedor</label>
                  </div>
                </div>

                <!-- Reemplazar -->
                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="envase" formControlName="envase" class="form-control letras" autocomplete="off">
                    <label for="envase">Envase</label>
                  </div>
                </div>

                <!-- Reemplazar -->
                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="empaque" formControlName="empaque" class="form-control letras" autocomplete="off">
                    <label for="empaque">Empaque</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="number" id="empaque" formControlName="cantidadempaque" class="form-control letras" autocomplete="off">
                    <label for="cantidadempaque">Cantidad de Empaque</label>
                  </div>
                </div>
      
                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="number" id="costo" formControlName="costo" class="form-control letras" autocomplete="off">
                    <label for="costo">Costo del producto</label>
                  </div>
                </div>
                
                <!-- Reemplazar -->
                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="unidadmedida" formControlName="unidadmedida" class="form-control letras" autocomplete="off">
                    <label for="unidadmedida">Unidad de medida</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="number" id="valorunidadmedida" formControlName="valorunidadmedida" class="form-control letras" autocomplete="off">
                    <label for="valorunidadmedida">Valor unidad de medida</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="number" id="caducidad" formControlName="caducidad" class="form-control letras" autocomplete="off">
                    <label for="caducidad">Caducidad</label>
                  </div>
                </div>  
                                
              </div>

              <br>
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" >Ingresar <i class="fa fa-check ml-1"></i></button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
