/*** Estilos generales de ayuda ***/
.nopadding {
  margin-top: 0 !important;
}

.espacio {
  margin-bottom: 1.5em !important;
}

.nomargin {
  margin-left: -2% !important;
  margin-right: 2% !important;
}
// 540px
@media (max-width: 540px) {
  .nomargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: rgba(192, 57, 43, 0.7);
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(192, 57, 43, 0.7);
  }
}

footer.page-footer {
  background-color: rgba(192, 57, 43, 1);
  margin-top: 2rem;
}

.pattern-4 {
  background-attachment: fixed;
}

.view-full {
  background: url("../img/landingpage/background-3.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.full-bg-img {
  color: #fff;
}

.navbar .btn-group .dropdown-menu a:hover {
  color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
  color: #fff !important;
}
.background {
  background: url("../img/landingpage/background-historia.jpg") no-repeat center
    center;
  background-size: cover;
}

/*** Paleta de colores ***/
.red-chang-dregadate {
  background-color: rgba(192, 57, 43, 0.7) !important;
}
.orange-chang-dregadate {
  background-color: rgba(230, 126, 34, 0.9) !important;
}
.red-chang {
  background-color: #c0392b !important;
}
.orange-chang {
  background-color: #e67e22 !important;
}
.orange-header {
  background-color: rgba(230, 126, 34, 0.7) !important;
}
.orange-chang-text {
  color: #e67e22 !important;
}
.red-chang-text {
  color: #c0392b !important;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.background-collapsible {
  background: url("../img/landingpage/background-3.jpg") no-repeat center center !important;
}

/*** Colores de labels en inputs ***/
.md-form input[type="text"]:focus:not([readonly]),
.md-form input[type="password"]:focus:not([readonly]),
.md-form input[type="number"]:focus:not([readonly]),
.md-form input[type="email"]:focus:not([readonly]),
.md-form input[type="search"]:focus:not([readonly]),
.md-form textarea[type="text"]:focus:not([readonly]),
.md-form textarea[type="password"]:focus:not([readonly]),
.md-form textarea[type="number"]:focus:not([readonly]),
.md-form textarea[type="email"]:focus:not([readonly]),
.md-form textarea[type="search"]:focus:not([readonly]) {
  border-bottom: 1px solid rgba(230, 126, 34, 0.8) !important;
  box-shadow: 0 1px 0 0 rgba(230, 126, 34, 0.8) !important;
}
.md-form input[type="text"]:focus:not([readonly]) + label,
.md-form input[type="password"]:focus:not([readonly]) + label,
.md-form input[type="number"]:focus:not([readonly]) + label,
.md-form input[type="email"]:focus:not([readonly]) + label,
.md-form input[type="search"]:focus:not([readonly]) + label,
.md-form textarea[type="text"]:focus:not([readonly]) + label,
.md-form textarea[type="password"]:focus:not([readonly]) + label,
.md-form textarea[type="number"]:focus:not([readonly]) + label,
.md-form textarea[type="email"]:focus:not([readonly]) + label,
.md-form textarea[type="search"]:focus:not([readonly]) + label {
  color: rgba(230, 126, 34, 0.8) !important;
}

/*** 404 ***/
.background-404 {
  background: url("../video/background-8.jpg") no-repeat center center;
  background-size: cover;
}

/*** Login ***/
.background-login {
  background: url("../img/landingpage/background-2.jpg") no-repeat center center;
  background-size: cover;
}

.card-login {
  background-color: rgba(0, 0, 0, 0.4);
}

.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}

h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 750px;
  }
}
@media (min-width: 741px) and (max-height: 638px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 750px;
  }
}

.login:input[type="text"]:focus:not([readonly]) {
  border-color: rgba(230, 126, 34, 0.8);
  box-shadow: 0 1px 0 0 rgba(230, 126, 34, 0.8);
  color: #fff;
}

.login:input[type="text"]:not([readonly]) + label {
  color: rgba(255, 255, 255, 0.65);
}

.login:input[type="text"]:focus:not([readonly]) + label {
  color: #fff;
}

.login .md-form .form-control {
  color: #fff;
}

.login .md-form label {
  color: #ffffff;
}

.login .md-form .prefix.active {
  color: #e67e22 !important;
}

/*** Estilos panel administrativo ***/
.background-gray {
  background-image: url(../img/landingpage/background-historia.jpg);
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.background-gray .mdl {
  min-height: auto;
}

.cerrar-sesion {
  background-image: url(../img/landingpage/background-historia.jpg);
  min-height: 0%;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;  
}

.modal .mdl{
  width: 100% !important; 
}

.background-gray-w {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(../img/landingpage/background-historia.jpg) no-repeat center center;
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(../img/landingpage/background-historia.jpg) no-repeat center center;
  background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(../img/landingpage/background-historia.jpg) no-repeat center center;
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(../img/landingpage/background-historia.jpg) no-repeat center center;
  min-height: 100%;
  min-width: auto;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.background-gray-w .mdl {
  min-height: auto;
}

.color-primary {
  background-color: #e67e22;
}
.color-secundary {
  background-color: #c0392b;
}
.header-negrita {
  font-weight: 900;
}
.body-negrita {
  font-weight: 400;
}
.margin-paneladministrativo {
  margin-bottom: 5%;
}

/*** Colores datepicker ***/
.picker__day-display {
  background-color: #c0392b !important;
}
.picker__weekday-display {
  background-color: #80261c !important;
}
.picker__date-display {
  background-color: #c0392b !important;
  color: #000 !important;
}
.picker__year-display {
  background-color: #c0392b;
  color: #000;
}
.picker__select--month,
.picker__select--year {
  padding: 0 !important;
}
.img-factura {
  display: inline-block;
  width: 80px;
  margin-right: 8px;
  border-radius: 50%;
}

/*** Agenda ***/
.agenda-card .avatar {
  max-width: 150px;
  max-height: 150px;
  margin: -70px auto 0;
  border-radius: 50%;
  overflow: hidden;
}

.centrar-texto {
  text-align: center;
}

/*** Scroll bar ***/
.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #e67e22 0%, #e67e22 100%);
  background-image: linear-gradient(120deg, #e67e22 0%, #e67e22 100%);
}

.scrollbar-card {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100% !important;
}

/*** Datatable search ***/
.ubicacion {
  bottom: 55px !important;
  margin-bottom: -50px !important;
}

/*** Ubicacion boton agregar datatable ***/
.u-btn-agregar {
  margin-bottom: -7% !important;
  margin-right: 2% !important;
  position: relative;
  z-index: 20;
}

.navbar-container .fa-bars {
  margin-top: 35%;
}

/*** Estilo de input modales ***/
.md-form .input-modal-sm {
  margin-left: -10px !important;
  display: block !important;
  width: 100% !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.md-form .input-modal-sm:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #e67e22 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.md-form .text-area-modal {
  margin-left: -10px !important;
  display: block !important;
  width: 106% !important;
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  min-height: 70px !important;
  max-height: 130px !important;
}

.md-form .text-area-modal:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #e67e22 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.modal-scroll {
  overflow: auto !important;
}

.select-mdl {
  margin-left: -10px;
  margin-right: -15px;
}

.select-no-margin {
  margin-right: -4% !important;
}
@media (max-width: 540px) {
  .select-no-margin {
    margin-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .margin-space {
    margin-bottom: 2% !important;
  }
}

@media (min-width: 576px) {
  .margin-space {
    margin-bottom: -1%;
  }
}

.height-card{
  height: 78% !important;
}

.team-section .height-card{
  height: 55% !important;  
}

.team-section .position-margin{
  margin-top: 3%;
}

/*** Scroll en tabs dashboard ***/

.nav-tabs .scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.nav-tabs .scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #2A2D2E 0%, #2A2D2E 100%);
  background-image: linear-gradient(120deg, #2A2D2E 0%, #2A2D2E 100%);
}

.nav-tabs .scrollbar-card {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100% !important;
}

/*** Menu ***/
#btn-back-page {
  margin-left: 0%;
}

@media (max-width: 1300px) {
  #btn-back-page {
    margin-left: 6%;
  }
}

/*** Sidenav ***/

.active-submenu {
  background: rgba(192, 57, 43, 0.5) !important;
}

.sn-bg-5 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/background-3.png) no-repeat center center !important;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/background-3.png) no-repeat center center !important;
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/background-3.png) no-repeat center center !important;
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/background-3.png) no-repeat center center !important;
  background-size: cover;
}

.sn-bg-6 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/sidenav.png) no-repeat center center !important;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/sidenav.png) no-repeat center center !important;
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/sidenav.png) no-repeat center center !important;
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(255, 111, 0, 0.2)), url(../img/paneladministrativo/sidenav.png) no-repeat center center !important;
  background-size: cover;
}

.sn-bg-7 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 111, 0, 0.4)), url(../img/paneladministrativo/sidenav-3.png) no-repeat center center !important;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 111, 0, 0.4)), url(../img/paneladministrativo/sidenav-3.png) no-repeat center center !important;
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 111, 0, 0.4)), url(../img/paneladministrativo/sidenav-3.png) no-repeat center center !important;
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(255, 111, 0, 0.4)), url(../img/paneladministrativo/sidenav-3.png) no-repeat center center !important;
  background-size: cover !important;
}

/*** Badge ***/
.badge-pill {
  border-radius: 10rem !important;
  padding-right: 0.6em !important;
  padding-left: 0.6em !important;
  padding-top: 0.6em !important;
}

/*** checkbox ***/
.checkbox-chang-filled [type="checkbox"][class*='filled-in']:checked+label:after {
  border-color: #E67E22 !important;
  background-color: #E67E22 !important;
}

/*** Producto ***/
.margin-input-message {
  margin-bottom: 0px !important;
}

.add-img-position {
  position: relative !important;
  top: 55% !important;
  transform: translateY(-50%) !important;
}

.add-btn-position-espacio {
  position: relative !important;
  top: 55% !important;
  transform: translateY(-50%) !important;
}

.mts-1 {
  margin-top: 2.4rem !important;
}

.mts-2 {
  margin-top: 3.5rem !important;
}

/*** Estilos cards ***/
.card-height {
  height: 70% !important
}

.card-size-img-facturas {
  min-width: 100% !important;
}

.card-background-img-facturas {
    background: url('../../../assets/img/landingpage/background-historia.jpg')no-repeat center center; 
    // height: 30% !important;
}


/***  Margins factura ***/
.mt-codigo-factura {
  margin-top: 9px;
}

/*** Z-index pagination cuando en la pantalla se use component calendar ***/
.z-index-0h {  
  z-index: 0;
}

/*** Color switch ***/
.switch.chang-switch label input[type=checkbox]:checked + .lever {
  background-color: #E67E22;
}
.switch.chang-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #E67E22;
}

/*** Color label cards ***/
.grey-text-card {
  color: #999;
  font-size: 16px;
}

/*** Owl DatePicker ***/
.input-picker {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  border-bottom: 1px solid #ced4da !important;
  border-radius: 0 !important;
  box-sizing: content-box !important;
  background-color: transparent !important;
}