<section>

  <div class="row">
    <!--Datos del Proveedor-->
    <div class="col-lg-12">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header orange-chang">
          <h4 class="mb-0">Actualizar Proveedor</h4>
        </div>
        <!-- Contenido -->
        <div class="card-body ">

          <form [formGroup]="formUpdateProveedor" (ngSubmit)="updateProveedor()" novalidate>
            <div class="row justify-content-md-center">

              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="text" id="nombreProveedor" formControlName="nombreProveedor"
                    class="form-control letras" autocomplete="off">
                  <label for="nombreProveedor">Nombre Empresa</label>
                  <show-errors [control]="formUpdateProveedor.controls['nombreProveedor']"></show-errors>
                </div>
              </div>

              <div class="col-7 col-sm-8 col-md-4 col-lg-4 col-xl-4">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="number" id="numeroruc" formControlName="numeroRuc"
                    class="form-control letras" autocomplete="off">
                  <label for="numeroruc">Número Ruc</label>
                  <show-errors [control]="formUpdateProveedor.controls['numeroRuc']"></show-errors>
                </div>
              </div>

              <div class="col-5 col-sm-4 col-md-3 mt-3 col-lg-3 col-xl-3">
                <div class="form-check mt-5 checkbox-chang-filled">
                  <input [mdbValidate]=false type="checkbox" class="form-check-input" name="chkMercado" id="chkMercado"
                    mdbInputDirective>
                  <label class="form-check-label grey-text-card" for="chkMercado">Mercado</label>
                </div>
              </div>

              <div class="col-7 col-sm-8 col-md-8 col-lg-8 col-xl-8 mt-0">
                <div class="md-form">
                  <textarea [mdbValidate]=false mdbInputDirective type="text" id="direccionProveedor" formControlName="direccionProveedor"
                    class="md-textarea form-control" autocomplete="off" required></textarea>
                  <label for="direccionProveedor">Dirección Proveedor</label>
                  <show-errors [control]="formUpdateProveedor.controls['direccionProveedor']"></show-errors>
                </div>
              </div>

              <div class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-3 mt-5">
                <div class="form-check checkbox-chang-filled mt-5">
                  <input [mdbValidate]=false class="form-check-input" type="checkbox" class="form-check-input" value="validando_checkbox1"
                    name="seleccionarcheck" id="segundo2" formControlName="retencion" mdbInputDirective>
                  <label class="form-check-label grey-text-card" for="segundo2">Aplica Retención</label>
                </div>
                <show-errors [control]="formUpdateProveedor.controls['retencion']"></show-errors>
              </div>

              <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="text" id="nombreRepresentante" formControlName="nombreRepresentante"
                    class="form-control letras" autocomplete="off">
                  <label for="nombreRepresentante">Nombre Representante</label>
                  <show-errors [control]="formUpdateProveedor.controls['nombreRepresentante']"></show-errors>
                </div>
              </div>

              <div class="col-7 col-sm-8 col-md-4 col-lg-4 col-xl-4 mt-4">
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="email" id="email" formControlName="email" class="form-control letras"
                    autocomplete="off">
                  <label for="email">Correo Electrónico</label>
                  <show-errors [control]="formUpdateProveedor.controls['email']"></show-errors>
                </div>
              </div>

              <div class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-3 mt-5">
                <a class="btn orange-chang mb-1 ml-4 btn-sm white-text" role="button" (click)="showModalTelefonos()">
                  Telefonos<i class="fa fa-phone ml-1"></i>
                </a>
              </div>

              <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-4">
                <div class="md-form">
                  <textarea [mdbValidate]=false mdbInputDirective type="text" id="descripcionProveedor" formControlName="descripcionProveedor"
                    class="md-textarea form-control" autocomplete="off" required></textarea>
                  <label for="descripcionProveedor">Descripción Proveedor</label>
                  <show-errors [control]="formUpdateProveedor.controls['descripcionProveedor']"></show-errors>
                </div>
              </div>

              <div class="col-md-3"></div>

            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1" [disabled]="!formUpdateProveedor.valid">Actualizar
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>

          </form>
        </div>
        <!-- Contenido -->
      </div>
    </div>
  </div>
</section>

<!-- Modal para actualizar telefonos asociados al proveedor -->
<div mdbModal #modalTelefonos="mdb-modal" class="modal fade" id="modalTelefonos" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-lg" role="document" style="height: 41%;">
    <!--Contenido-->
    <div class="modal-content background-gray mdl">

      <!--Header-->
      <div class="modal-header white-text orange-chang">
        <h4 class="title">
          <i class="fa fa-file-text-o"></i> Telefonos del proveedor</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalTelefonos.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <!--Cuerpo Modal-->
      <div class="modal-body mb-0">

        <form [formGroup]="formAddTelefonos" (ngSubmit)="agregarTelefonosProveedor()" novalidate>

          <div class="container d-none d-lg-block d-xl-block" id="mg-labels">
            <div class="row">

              <div class="col-lg-3">
                <div class="md-form">
                  <h6 class="orange-chang-text">Nombre</h6>
                </div>
              </div>

              <div class="col-lg-3 mgl-labels">
                <div class="md-form">
                  <h6 class="orange-chang-text">Cargo</h6>
                </div>
              </div>

              <div class="col-lg-3 mgl-labels">
                <div class="md-form">
                  <h6 class="orange-chang-text">Télefono</h6>
                </div>
              </div>

              <div class="col-lg-2 mgl-labels">
                <div class="md-form">
                  <h6 class="orange-chang-text">Titular</h6>
                </div>
              </div>

              <div class="col-lg-1" id="mgl-label-acciones">
                <div class="md-form">
                  <h6 class="orange-chang-text">Acciones</h6>
                </div>
              </div>

            </div>
          </div>

          <hr class="d-none d-lg-block d-xl-block">

          <div class="scrollbar-card scrollbar-ripe-malinka">
            <fieldset *ngFor="let telefono of telefonos; let i = index;" class="mb-fieldset">

              <div class="container">

                <div class="row mr-4">

                  <div class="col-md-12 col-lg-3">
                    <div class="md-form">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Nombre</h6>
                      <input type="text" id="n{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono.Nombre"
                        class="input-modal-sm">
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-3">
                    <div class="md-form">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Cargo</h6>
                      <input type="text" id="c{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono.Cargo"
                        class="input-modal-sm">
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-3 mr-0">
                    <div class="md-form">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Télefono</h6>
                      <input type="text" onlyNumbers="int" id="t{{i}}" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="telefono.Telefono" class="input-modal-sm">
                    </div>
                  </div>

                  <div class="col-6 col-md-6 col-lg-1 mt-4 ml-0">
                    <div class="switch chang-switch font-small">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Titular</h6>
                      <label class="mt-3" id="align-input">
                        <input [(ngModel)]="telefono.IsTitular" [ngModelOptions]="{standalone: true}" type="checkbox"
                          name="element_name">
                        <span class="lever"></span>
                      </label>
                    </div>
                  </div>

                  <div *ngIf="i !== 0" class="col-3 col-sm-3 col-md-3 col-lg-1">
                    <div class="md-form">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none ml-2" *ngIf="i!==0">Eliminar</h6>
                      <a class="btn red-chang white-text btn-sm mb-5" id="remove" (click)="eliminarTelefono(telefono,i)"
                        mdbTooltip="Eliminar Telefóno" placement="bottom" role="button"><i class="fa fa-close"
                          aria-hidden="true"></i></a>
                    </div>
                  </div>

                  <div *ngIf="1 === 1" [ngClass]="(i === 0) ? 'col-3 col-sm-3 col-md-6 col-lg-2':'col-3 col-sm-3 col-md-3 col-lg-1'">
                    <div class="md-form">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none ml-3">Agregar</h6>
                      <a class="btn white-text btn-sm ml-3 mb-5 orange-chang" id="add" (click)="agregarTelefono(telefono,i)"
                        mdbTooltip="Agregar Telefóno" placement="bottom" role="button"><i class="fa fa-plus"
                          aria-hidden="true"></i></a>
                    </div>
                  </div>

                  <div id="inputs-telefono"></div>

                </div>

              </div>
            </fieldset>
          </div>

          <div class="text-center mt-1-half">
            <button class="btn orange-chang mb-1">Ingresar
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>

        </form>

      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>