<section>

  <div class="row">
    <!--Datos del Proveedor-->
    <div class="col-lg-12">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header orange-chang">
          <h4 class="mb-0">Actualizar Proveedor</h4>
        </div>
        <!-- Contenido -->
        <div class="card-body ">

          <form [formGroup]="formUpdateProveedor" (ngSubmit)="updateProveedor()" novalidate>
            <div class="row">

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="text" id="nombreProveedor" formControlName="nombreProveedor" class="form-control letras"
                    autocomplete="off">
                  <label for="nombreProveedor">Nombre Empresa</label>
                  <show-errors [control]="formUpdateProveedor.controls['nombreProveedor']"></show-errors>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="number" id="numeroruc" formControlName="numeroRuc" class="form-control letras"
                    autocomplete="off">
                  <label for="numeroruc">Número Ruc</label>
                  <show-errors [control]="formUpdateProveedor.controls['numeroRuc']"></show-errors>
                </div>
              </div>

              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <textarea [mdbValidate]=false mdbInputDirective type="text" id="direccionProveedor" formControlName="direccionProveedor"
                    class="md-textarea form-control" autocomplete="off" required></textarea>
                  <label for="direccionProveedor">Dirección Proveedor</label>
                  <show-errors [control]="formUpdateProveedor.controls['direccionProveedor']"></show-errors>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="text" id="nombreRepresentante" formControlName="nombreRepresentante" class="form-control letras"
                    autocomplete="off">
                  <label for="nombreRepresentante">Nombre Representante</label>
                  <show-errors [control]="formUpdateProveedor.controls['nombreRepresentante']"></show-errors>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="email" id="email" formControlName="email" class="form-control letras"
                    autocomplete="off">
                  <label for="email">Correo Electrónico</label>
                  <show-errors [control]="formUpdateProveedor.controls['email']"></show-errors>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="number" id="telefonoProveedor" formControlName="telefono1" class="form-control letras"
                    autocomplete="off">
                  <label for="telefonoProveedor">Telefóno</label>
                  <show-errors [control]="formUpdateProveedor.controls['telefono1']"></show-errors>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="number" id="telefonoProveedoropcional" formControlName="telefono2" class="form-control letras"
                    autocomplete="off">
                  <label for="telefonoProveedoropcional">Telefóno (Opcional)</label>
                  <show-errors [control]="formUpdateProveedor.controls['telefono2']"></show-errors>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <textarea [mdbValidate]=false mdbInputDirective type="text" id="descripcionProveedor" formControlName="descripcionProveedor"
                    class="md-textarea form-control" autocomplete="off" required></textarea>
                  <label for="descripcionProveedor">Descripción Proveedor</label>
                  <show-errors [control]="formUpdateProveedor.controls['descripcionProveedor']"></show-errors>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <br>
                <div class="form-check mt-5 checkbox-chang-filled">
                  <input [mdbValidate]=false class="form-check-input" type="checkbox" class="form-check-input" value="validando_checkbox1" name="seleccionarcheck"
                    id="segundo2" formControlName="retencion" mdbInputDirective>
                  <label class="form-check-label" for="segundo2">Aplica Retención</label>
                </div>
                <show-errors [control]="formUpdateProveedor.controls['retencion']"></show-errors>
              </div>

            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1" [disabled]="!formUpdateProveedor.valid">Actualizar
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>

          </form>
        </div>
        <!-- Contenido -->
      </div>
    </div>
  </div>
</section>