<div class="container-fluid mt-5">
  <section>
    <div class="row">
      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input name="imagen" type="file" class="dropify" data-allowed-file-extensions="jpg jpeg png"  data-height="300"/>
          </div>
        </div>
      </div>
      <!-- /.Imagen -->

      <!--Datos del Trabajador-->
      <div class="col-lg-8  ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Trabajador</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">
            <!-- Formulario -->
            <form [formGroup]="formAddTrabajador" (ngSubmit)="createTrabajador()" novalidate>
              <!-- Campos a ingresar -->
              <div class="row">

                <div class="col-md-6">
                  <div class="md-form">
                    <input type="text" id="nombreTrabajador" name="Nombres" formControlName="nombreTrabajador" required class="form-control validate letras" >
                    <label for="nombreTrabajador">Nombres</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input type="text" id="Apellidos" name="Apellidos" formControlName="apellido" required class="form-control validate letras" >
                    <label for="Apellidos">Apellidos</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="FechaNacimiento" name="FechaNacimiento" formControlName="fechaNacimiento" required class="form-control datepickerEdad">
                    <label for="FechaNacimiento">Fecha de Nacimiento</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="FechaIngreso" name="FechaIngreso" formControlName="fechaIngreso" required class="form-control datepicker">
                    <label for="FechaIngreso">Fecha Ingreso</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="NumeroCedula" name="NumeroCedula" formControlName="cedula" required class="cedula form-control validate">
                    <label for="NumeroCedula">Número de Cedula</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form ">
                    <input type="text" id="TelefonoPrincipalTrabajador"
                           minlength="4"
                           maxlength="50"
                           class="form-control"
                           name="TelefonoPrincipalTrabajador"
                           required
                           formControlName="telefonoPrincipal"

                    >
                    <label for="TelefonoPrincipalTrabajador" class="">Telefóno</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form ">
                    <input type="text" id="TelefonoSecundarioTrabajador"
                           minlength="4"
                           maxlength="50"
                           class="form-control"
                           name="TelefonoSecundarioTrabajador"
                           formControlName="telefonoSecundario"
                    >
                    <label for="TelefonoSecundarioTrabajador" class="">Telefóno (Opcional)</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="md-form">
                    <textarea type="text" id="Direccion"name="Direccion" formControlName="direccion" class="md-textarea"></textarea>
                    <label for="Direccion">Dirección</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="sucursales">Sucursal</label>
                  <select2 (valueChanged)="changeSelectSucursal($event)" id="sucursales" name="selectsucursales"  class="selectsucursales" [options]="optionsSelect2">
                    <option class="chip" [value]="sucursal.IdSucursal" *ngFor="let sucursal of sucursales">{{sucursal.NombreSucursal}}</option>
                  </select2>
                </div>

                <div class="col-md-12">
                  <br>
                  <label for="cargo">Cargo</label>
                  <select2 (valueChanged)="changeSelectCargo($event)" id="cargo" name="cargo" class="selectcargo" [options]="optionsSelect2">
                    <option class="chip" [value]="cargo.IdCargo" *ngFor="let cargo of cargos">{{cargo.NombreCargo}}</option>
                  </select2>
                </div>

              </div><div class="margin-paneladministrativo"></div>

              <!-- Boton ingresa -->
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" type="submit" >Ingresar <i class="fa fa-check ml-1"></i></button>
              </div>

            </form>
          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del Trabajador-->
    </div>
  </section>
</div>
