.mb-label {
  margin-bottom: -1%;
}

.mt-codigo-factura {
  margin-top: 9px;
}

.mt-nombre_vendedor {
  margin-top: 15px;
}

.mb-proveedor {
  margin-bottom: -30px;
}

#id-text-align-table {
  text-align: center !important;
}