<!-- div fondo imagen gris-->
<div class="background-gray">

  <div class="chang-skin">
    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class="sn-bg-7 fixed" [fixed]="true">

      <logo>
        <!-- Logo -->
        <li>
          <div class="logo-wrapper sn-ad-avatar-wrapper">
            <img src="{{this.url + 'getImagen/' + 'trabajadores' + '/' + Usuario.Imagen}}" class="img-fluid ">
            <div class="rgba-stylish-strong">
              <p class="user white-text" *ngIf="Usuario">{{Usuario.Username}}
                <br>{{Usuario.NombreCargo}}</p>
              <p class="user white-text" *ngIf="!Usuario">Indefinido
                <br>Cargo</p>
            </div>
          </div>
        </li>
        <!--/. Logo -->
        <div class="dropdown-divider"></div>
      </logo>


      <links>
        <li>
          <ul class="collapsible collapsible-accordion">
            <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

              <mdb-item class="no-collase">
                <mdb-item-head [routerLink]="['/dashboard']" mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/home.png" height="18">
                  </i> Inicio</mdb-item-head>
                <mdb-item-body></mdb-item-body>
              </mdb-item>

              <!-- Catálogo -->
              <mdb-item>
                <mdb-item-head mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/catalogo.png" height="18">
                  </i> Catálogos</mdb-item-head>
                <mdb-item-body>
                  <ul>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/categorias']" mdbRippleRadius>Categoria</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/clasificacion-productos']" mdbRippleRadius>Clasificación</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/subclasificacion-productos']" mdbRippleRadius>Subclasificación</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/empaques']" mdbRippleRadius>Empaques</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/envases']" mdbRippleRadius>Envases</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/unidadmedida']" mdbRippleRadius>Unidad de Medida</a>
                    </li>
                  </ul>
                </mdb-item-body>
              </mdb-item>

              <!-- Productos -->
              <mdb-item>
                <mdb-item-head mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/product.png" height="18">
                  </i> Facturas</mdb-item-head>
                <mdb-item-body>
                  <ul>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/factura/list']" mdbRippleRadius>Factura</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/proveedores']" mdbRippleRadius>Proveedor</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/producto']" mdbRippleRadius>Productos</a>
                    </li>
                    <li routerLinkActive="active-submenu">
                      <a class="waves-effect" [routerLink]="['/producto-proveedor']" mdbRippleRadius>Detalle Producto</a>
                    </li>
                  </ul>
                </mdb-item-body>
              </mdb-item>

              <!-- Sucursales -->
              <mdb-item class="no-collase">
                <mdb-item-head [routerLink]="['/sucursales']" mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/sucursales.png" height="18">
                  </i> Sucursales</mdb-item-head>
                <mdb-item-body></mdb-item-body>
              </mdb-item>

              <!--&lt;!&ndash; Provedores &ndash;&gt;-->
              <!--<mdb-item>-->
                <!--<mdb-item-head mdbRippleRadius>-->
                  <!--<i class="fa">-->
                    <!--<img src="./assets/img/icon/proveedores.png" height="18">-->
                  <!--</i> Proveedores</mdb-item-head>-->
                <!--<mdb-item-body>-->
                  <!--<ul>-->
                    <!---->
                  <!--</ul>-->
                <!--</mdb-item-body>-->
              <!--</mdb-item>-->

              <!-- Trabajador -->
              <mdb-item class="no-collase">
                <mdb-item-head [routerLink]="['/trabajador']" mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/trabajadores.png" height="18">
                  </i> Trabajadores</mdb-item-head>
                <mdb-item-body></mdb-item-body>
              </mdb-item>

              <!-- Cargos -->
              <mdb-item class="no-collase">
                <mdb-item-head [routerLink]="['/cargo']" mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/roles.png" height="18">
                  </i> Cargos</mdb-item-head>
                <mdb-item-body></mdb-item-body>
              </mdb-item>

              <!-- Usuarios -->
              <mdb-item class="no-collase">
                <mdb-item-head [routerLink]="['/usuario']" mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/usuarios.png" height="18">
                  </i> Usuarios</mdb-item-head>
                <mdb-item-body></mdb-item-body>
              </mdb-item>

              <!-- Roles -->
              <mdb-item class="no-collase">
                <mdb-item-head [routerLink]="['/rol']" mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/usuarios.png" height="18">
                  </i> Roles</mdb-item-head>
                <mdb-item-body></mdb-item-body>
              </mdb-item>

              <!-- Salidas -->
              <mdb-item class="no-collase">
                <mdb-item-head [routerLink]="['/salida-producto']" mdbRippleRadius>
                  <i class="fa">
                    <img src="./assets/img/icon/facturas.png" height="18"></i> Salidas</mdb-item-head>
                <mdb-item-body></mdb-item-body>
              </mdb-item>

            </mdb-squeezebox>
          </ul>
        </li>
      </links>
      <div class="sidenav-bg mask-light"></div>
    </mdb-sidenav>
    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav" [containerInside]="false">

      <navlinks class="navbar-container">
        <!-- SideNav slide-out button -->
        <div class="float-left">
          <a (click)="sidenav.show()" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <!--/. SideNav slide-out button -->
      </navlinks>

        <logo>
            <app-breadcrumb>

            </app-breadcrumb>
        </logo>

      <!--<logo>-->
        <!--&lt;!&ndash; Breadcrumb&ndash;&gt;-->
         <!--<div class="breadcrumbs breadcrumb-dn mr-auto">-->
          <!--<a class="navbar-brand" href="#!">-->
            <!--<img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">-->
          <!--</a>-->
          <!--<ol class="breadcrumb d-inline-flex pl-0 pt-0">-->
              <!--<li class="breadcrumb-item"><a class="white-text" href="#!">Productos</a></li>-->
              <!--<li class="breadcrumb-item active">Agregar</li>-->
          <!--</ol>-->
        <!--</div> -->
        <!--&lt;!&ndash;/. Breadcrumb&ndash;&gt;-->
        <!--&lt;!&ndash; Logo &ndash;&gt;-->
        <!--<div class="breadcrumbs breadcrumb-dn mr-auto">-->
          <!--<p>Restaurante de la Familia Chang</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;/. Logo &ndash;&gt;-->
      <!--</logo>-->

      <navlinks>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
          <li class="nav-item dropdown btn-group" dropdown *ngIf="!Usuario">
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              SIN DATOS
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
              <!--<a class="dropdown-item" (click)="verInformacionUsuario()">Mis datos</a>-->
              <!--<a class="dropdown-item" (click)="logout()">Salir</a>-->
            </div>
          </li>

          <li class="nav-item dropdown btn-group" dropdown *ngIf="Usuario">
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              {{Usuario.Username}}
            </a>
            <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
              <a class="dropdown-item " (click)="verInformacionUsuario()">Mis datos</a>
              <a class="dropdown-item " (click)="logout()">Salir</a>
            </div>
          </li>
        </ul>
      </navlinks>
    </mdb-navbar>
    <!--/. Navbar -->

  </div>
  <!--/.SideNav-->

  <!--Main Layout-->
  <main id="top-panel">
    <div class="container-fluid mt-5">

      <button class="btn btn-floating btn-large orange-chang waves-light" mdbPageScroll href="#top-panel" mdbRippleRadius style="right:1%; bottom:35px; visibility:hidden"
        [pageScrollDuration]="750" id="backToTop">
        <i class="fa fa-arrow-up"></i>
      </button>

      <router-outlet></router-outlet>
      <div style="height: 40px"></div>

    </div>
  </main>
  <!--/Main layout-->

</div>