<div class="container-fluid" id="productos">                     
    <div class="row-eq-height py-5">
        <div class="col-md-12 text-center" >                                                        
            <section class="section feature-box"> 
                                                                                
                <div class="row">

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-x-4">
                    <div class="card card-cascade narrower ovf-hidden">
                      <div style="background-color: rgba(41, 42, 41, 0.1);">
                        <img src="assets/img/productos/pasta.png" class="img-fluid" alt="" style=" height:250px;">                                                
                      </div>
                      <div class="card-body text-center no-padding">
                        <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                        <h5 class="card-title"><a href="">Test</a></h5>
                        <div class="card-footer">
                          <span class="center">C$100</span>
                        </div>
                      </div>
                      <div class="card-reveal">
                        <div class="content text-center">
                          <h6 class="card-title"><a>Test<i class="fa fa-close"></i></a></h6>                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-x-4">
                    <div class="card card-cascade narrower ovf-hidden">
                      <div style="background-color: rgba(41, 42, 41, 0.1);">
                        <img src="assets/img/productos/pasta.png" class="img-fluid" alt="" style=" height:250px;">                                                
                      </div>
                      <div class="card-body text-center no-padding">
                        <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                        <h5 class="card-title"><a href="">Test</a></h5>
                        <div class="card-footer">
                          <span class="center">C$100</span>
                        </div>
                      </div>
                      <div class="card-reveal">
                        <div class="content text-center">
                          <h6 class="card-title"><a>Test<i class="fa fa-close"></i></a></h6>                          
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-x-4">
                      <div class="card card-cascade narrower ovf-hidden">
                        <div style="background-color: rgba(41, 42, 41, 0.1);">
                          <img src="assets/img/productos/pasta.png" class="img-fluid" alt="" style=" height:250px;">                                                
                        </div>
                        <div class="card-body text-center no-padding">
                          <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                          <h5 class="card-title"><a href="">Test</a></h5>
                          <div class="card-footer">
                            <span class="center">C$100</span>
                          </div>
                        </div>
                        <div class="card-reveal">
                          <div class="content text-center">
                            <h6 class="card-title"><a>Test<i class="fa fa-close"></i></a></h6>                          
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-x-4">
                        <div class="card card-cascade narrower ovf-hidden">
                          <div style="background-color: rgba(41, 42, 41, 0.1);">
                            <img src="assets/img/productos/pasta.png" class="img-fluid" alt="" style=" height:250px;">                                                
                          </div>
                          <div class="card-body text-center no-padding">
                            <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                            <h5 class="card-title"><a href="">Test</a></h5>
                            <div class="card-footer">
                              <span class="center">C$100</span>
                            </div>
                          </div>
                          <div class="card-reveal">
                            <div class="content text-center">
                              <h6 class="card-title"><a>Test<i class="fa fa-close"></i></a></h6>                          
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
                 
            </section>                    
        </div>
    </div>
</div>
