<section>
  <div class="row">

    <div class="col-md-12">

      <div class="card card-cascade narrower">
        <!--Titulo-->
        <div class="view view-cascade gradient-card-header orange-chang">
          <h2 class="h2-responsive">Productos</h2>
        </div>
        <!--/Titulo-->
        <div class="card-body">

          <div class="row">

            <div class="col-12 col-sm-12 col-md-5">
              <br>
              <label for="proveedor">Proveedor</label>
              <ng-select [items]="proveedores" bindLabel="NombreProveedor" bindValue="IdProveedor" id="proveedor"
                placeholder="Selecciona un proveedor" (change)="onChangeProveedor($event)">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <div style="margin: 10px 0;" class="card">
                    <div class="card-body">
                      <h5 class="card-title" [ngOptionHighlight]="search">{{item.NombreProveedor}}</h5>
                      <p class="card-subtitle mb-2 text-muted">
                        <b>Nombre del Representante</b>
                        <br>
                        <i>{{item.NombreRepresentante}}</i>
                      </p>
                      <p class="card-text">
                        <b>Descripcion</b>
                        <br>
                        <i>{{item.Descripcion}}</i>
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>

            <div class="col-12 col-sm-12 col-md-7 mt-4">
              <div class="in input-group md-form form-inline form-sm form-2 pl-0">
                <i class="fa fa-search mt-2" aria-hidden="true"></i>
                <input class="form-control w-75 ml-3" type="text" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="buscando">
              </div>

              <div class="col-lg-12 text-center" *ngIf="buscando">
                Buscando:
                <strong> {{buscando}} </strong>
              </div>
              <br>

            </div>


            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xs-4 mt-4" *ngFor="let producto of productos | buscarProductoxNombre: buscando ">

              <mdb-card>
                <div class="view overlay">
                  <!-- Card img -->
                  <mdb-card-img src="{{url + 'getImagen/productos/' + (producto.Imagen == '' ? 'default.png' : producto.Imagen)}}"
                    alt="imagen de producto" class="card-img-top"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <mdb-card-body>

                  <!-- Title -->
                  <h4 class="card-title font-weight-bold"><a>{{producto.NombreProducto}}</a></h4>

                  <p class="mb-2">{{producto.Descripcion}}</p>
                  <!-- Text -->
                  <p class="card-text">Dias de uso: {{producto.DiasRotacion}}</p>
                  <hr class="my-1">

                  <div class="chip white-text mr-2 text-center" mdbTooltip="Categoría" placement="bottom" style="background-color:#FF5722;">{{producto.NombreCategoria}}</div>
                  <div class="chip  white-text text-center" mdbTooltip="Clasificación" placement="bottom" style="background-color:#F44336;">{{producto.NombreClasificacion}}</div>
                  <br>
                  <div class="chip white-text mr-2 text-center" mdbTooltip="SubClasificación" placement="bottom" style="background-color:#D32F2F;">{{producto.NombreSubClasificacion}}</div>
                  <div class="chip white-text text-center" mdbTooltip="Tipo Insumo" placement="bottom" style="background-color:#C0392B;">{{producto.DescripcionInsumo}}</div>


                </mdb-card-body>
              </mdb-card>

            </div>
          </div>

          <!--<div class="row" *ngIf="productos==null">-->
            <!--<div class="container text-center">-->
              <!--<br>-->
              <!--<h1>PRODUCTOS</h1>-->
              <!--<p>No se encontraron productos registrados</p>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-floating btn-large orange-chang waves-light" mdbWavesEffect [routerLink]="'../producto'"
    style="bottom:3%; margin-left: -5%;">
    <i class="fa fa-th-list"></i>
  </button>

</section>