<div class="row-eq-height py-5">
  <div class="col-md-12 text-center" >                                                        
      <section class="section"> 
                                                                          
          <div class="row">

            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-x-3">
              <div class="card card-cascade narrower ovf-hidden">
                <div style="background-color: rgba(41, 42, 41, 0.1);">
                  <img src="assets/img/productos/pasta.png" class="img-fluid" alt="" style=" height:250px;">                                                
                </div>
                <div class="card-body text-center no-padding">
                  <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                  <h5 class="card-title"><a href="">Nombre de producto</a></h5>
                  <div class="card-footer">
                    <span class="center">C$ Precio</span>
                  </div>
                </div>
                <div class="card-reveal">
                  <div class="content">
                    <!--Content-->
                    <h6 class="card-title"><a>Nombre de producto<i class="fa fa-close"></i></a></h6>                       
                    <hr>
                    <p>Proveedor: Tip-top</p>
                    <p>Cantidad: 999</p>
                    <p>Descripción: Lorep-ipsum test atomic developers</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-x-3">
              <div class="card card-cascade narrower ovf-hidden">
                <div style="background-color: rgba(41, 42, 41, 0.1);">
                  <img src="assets/img/productos/pasta.png" class="img-fluid" alt="" style=" height:250px;">                                                
                </div>
                <div class="card-body text-center no-padding">
                  <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                  <h5 class="card-title"><a href="">Nombre de producto</a></h5>
                  <div class="card-footer">
                    <span class="center">C$ Precio</span>
                  </div>
                </div>
                <div class="card-reveal">
                  <div class="content">
                    <!--Content-->
                    <h6 class="card-title"><a>Nombre de producto<i class="fa fa-close"></i></a></h6>                       
                    <hr>
                    <p>Proveedor: Tip-top</p>
                    <p>Cantidad: 999</p>
                    <p>Descripción: Lorep-ipsum test atomic developers</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-x-3">
              <div class="card card-cascade narrower ovf-hidden">
                <div style="background-color: rgba(41, 42, 41, 0.1);">
                  <img src="assets/img/productos/pasta.png" class="img-fluid" alt="" style=" height:250px;">                                                
                </div>
                <div class="card-body text-center no-padding">
                  <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                  <h5 class="card-title"><a href="">Nombre de producto</a></h5>
                  <div class="card-footer">
                    <span class="center">C$ Precio</span>
                  </div>
                </div>
                <div class="card-reveal">
                  <div class="content">
                    <!--Content-->
                    <h6 class="card-title"><a>Nombre de producto<i class="fa fa-close"></i></a></h6>                       
                    <hr>
                    <p>Proveedor: Tip-top</p>
                    <p>Cantidad: 999</p>
                    <p>Descripción: Lorep-ipsum test atomic developers</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-x-3">
              <div class="card card-cascade narrower ovf-hidden">
                <div style="background-color: rgba(41, 42, 41, 0.1);">
                  <img src="assets/img/productos/nodisponible.png" class="img-fluid" alt="" style=" height:250px;">                                                
                </div>
                <div class="card-body text-center no-padding">
                  <span class="btn-action activator" style="background-color: transparent !important;"><a class="btn-floating btn-action"><i class="fa fa-eye"></i></a></span>
                  <h5 class="card-title"><a href="">Nombre de producto</a></h5>
                  <div class="card-footer">
                    <span class="center">C$ Precio</span>
                  </div>
                </div>
                <div class="card-reveal">
                  <div class="content">
                    <!--Content-->
                    <h6 class="card-title"><a>Nombre de producto<i class="fa fa-close"></i></a></h6>                       
                    <hr>
                    <p>Proveedor: Tip-top</p>
                    <p>Cantidad: 999</p>
                    <p>Descripción: Lorep-ipsum test atomic developers</p>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
            
      </section>                    
  </div>
</div>
