<section>
  <div class="row">

    <div class="col-md-12">

      <div class="card card-cascade narrower">
        <!--Titulo-->
        <div class="view gradient-card-header orange-chang">
          <h2 class="h2-responsive">Productos</h2>
        </div>
        <!--/Titulo-->
        <div class="card-body">

          <div class="row" *ngIf="productos">

            <div class="col-md-12 mt-4">
              <div class="in input-group md-form form-inline form-sm form-2 pl-0">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control w-75 ml-3" type="text" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="buscando">
              </div>

              <div class="col-lg-12 text-center" *ngIf="buscando">
                Buscando:
                <strong> {{buscando}} </strong>
              </div>
              <br>

            </div>


            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-x-4" *ngFor="let producto of productos | buscar: buscando ">

              <!--Rotating card-->
              <mdb-card-rotating #card>
                <!--Front Side-->
                <div class="face front card tp-box_side tp-box_front card-height-productos">
                  <!-- Image-->
                  <div class="card-up card-image">
                    <div class="overlay hm-white-slight waves-light" mdbWavesEffect>
                      <img src="{{url + 'productoGetImage/' + producto.Imagen}}" class="img-fluid card-size-img" alt="">
                    </div>
                  </div>
                  <!--/.Image-->

                  <!--Content-->
                  <div class="content card-background-img">
                    <a class="btn-floating orange-chang waves-light rotate-btn" mdbWavesEffect (click)="card.toggle()" style="margin-right: 0px;">
                      <i class="fa fa-eye" style="margin-left: -15px;margin-top: -15px;"></i>
                    </a>

                    <h4 class="card-title">
                      {{producto.NombreProducto}}
                    </h4>

                    <p>{{producto.Descripcion}}</p>
                    <hr>
                    <h5>C$ Precio</h5>
                  </div>
                  <!--/.Content-->

                </div>
                <!--/.Front Side-->

                <!--Back Side-->
                <div class="face back tp-box_side tp-box_back card-height-productos">
                  <!--Title-->
                  <h4 class="card-title">{{producto.NombreProducto}}
                    <i class="fa fa-close rotate-btn" (click)="card.toggle()"></i>
                  </h4>
                  <hr>
                  <p>{{producto.NombreProducto}}</p>
                  <p>{{producto.Descripcion}}</p>

                </div>
                <!--/.Back Side-->
              </mdb-card-rotating>
              <!--/.Rotating card-->
            </div>
          </div>

          <div class="row" *ngIf="productos==null">            
            <div class="container text-center">
              <br>
              <h1>PRODUCTOS</h1>
              <p>No se encontraron productos registrados</p>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-floating btn-large orange-chang waves-light" mdbWavesEffect [routerLink]="'../producto'"
    style="right:78%; bottom:35px;">
    <i class="fa fa-th-list"></i>
  </button>

</section>