html,
body,
.view {
  height: 100vh;
}

.hide-scroll {
  overflow: auto !important;
}

/* Full Page Carousel*/
.carousel {
  height: 100vh;
}

.hw-100 {
  height: 100% !important; 
  width: 100% !important;
}

.carousel .carousel-inner {
  height: 100vh;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100vh;
}

img {
  &.d-block {
    height: 100vh;
  }
}

.hr-light {
  border-top: 3px solid #e67e22;
  width: 80px;
}

input[type=date]:focus:not([readonly])
, input[type=datetime-local]:focus:not([readonly])
, input[type=email]:focus:not([readonly])
, input[type=number]:focus:not([readonly])
, input[type=password]:focus:not([readonly])
, input[type=search-md]:focus:not([readonly])
, input[type=search]:focus:not([readonly])
, input[type=tel]:focus:not([readonly])
, input[type=text]:focus:not([readonly])
, input[type=time]:focus:not([readonly])
, input[type=url]:focus:not([readonly])
, textarea.form-control:focus:not([readonly]) {
  border: 1px solid #E67E22;
  box-shadow: 0 1px 0 0 #E67E22;
}

.resize-text-area {
  resize: vertical; 
  min-height: 90px; 
  max-height: 110px;
}

@media only screen and (max-width: 991px) {
  #carousel-hide {
    display: none !important;
  }
}

.mlc-1 {
  margin-left: -3% !important;
}

@media only screen and (max-width: 991px) {
  .mlc-1 {
    margin-left: 0.25rem !important;
  }
}

@media only screen and (max-width: 991px) {
  .mbc-1 {
    margin-bottom: 1rem !important;
  }
}

#container1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#container2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}