.background-gray{
  background: url(/assets/img/landingpage/background-historia.jpg);
}
.color-primary{
  background-color: #E67E22;
}
.color-secundary{
  background-color: #C0392B;
}
.header-negrita{
  font-weight: 900;
}
.body-negrita{
  font-weight:400;
}
.margin-paneladministrativo{
  margin-bottom: 5%;
}
