.mb-label {
  margin-bottom: -1%;
}

.mt-nombre_vendedor {
  margin-top: 15px;
}

.mb-proveedor {
  margin-bottom: -30px;
}

#id-text-align-table {
  text-align: center !important;
}

// Helpers
// Clases de ayuda para resolver bugs emergentes
.mt-menos-factura {
  margin-top: -1.5rem !important;
}