<section>

    <div class="row">
        <!--Datos del Gastos-->
        <div class="col-lg-12">

            <mdb-card cascade="true" narrower="true">
                <div class="view view-cascade gradient-card-header orange-chang">
                    <h3 class="card-header-title mb-2">Gastos</h3>
                </div>
                <!-- Contenido -->
                <mdb-card-body cascade="true">

                    <form [formGroup]="formAddGasto" (ngSubmit)="createGasto()" novalidate>

                        <div class="row">

                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <label for="grupoCuenta" class="grey-text-card">Grupo cuenta</label>
                                <ng-select id="grupoCuenta" placeholder="Selecciona un grupo cuenta">
                                </ng-select>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <label for="cuenta" class="grey-text-card">Cuenta</label>
                                <ng-select id="cuenta" placeholder="Selecciona una cuenta">
                                </ng-select>
                            </div>


                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                                <label for="subcuenta" class="grey-text-card">Subcuenta</label>
                                <ng-select id="subcuenta" placeholder="Selecciona una subcuenta">
                                </ng-select>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-4">
                                <div class="md-form md-outline">
                                    <input onlyPositiveNumber [validateSuccess]="false" [validateError]="false" mdbInputDirective type="text" disabled id="consumo" formControlName="consumo" class="form-control" placeholder="Ej: 14" autocomplete="off">
                                    <label for="consumo">Consumo</label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <div class="md-form md-outline">
                                    <input type="text" [owlDateTimeTrigger]="dt1" formControlName="fechaIngreso" [owlDateTime]="dt1" class="form-control" [validateSuccess]="false" [validateError]="false" id="fechaIngreso" placeholder="Seleccioné" mdbInputDirective readonly mdbInput>
                                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                    <label for="fechaIngreso">Fecha ingreso</label>
                                    <show-errors [control]="formAddGasto.controls['fechaIngreso']"></show-errors>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <div class="md-form md-outline">
                                    <input formControlName="numeroReferencia" onlyPositiveNumber [validateSuccess]="false" [validateError]="false" mdbInputDirective type="text" id="numeroReferencia" class="form-control" placeholder="Ej: 1" autocomplete="off">
                                    <label for="numeroReferencia">Número de referencia</label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <div class="md-form md-outline">
                                    <input Alphanumeric formControlName="codigoFactura" [validateSuccess]="false" [validateError]="false" mdbInputDirective type="text" id="codigoFactura" class="form-control" placeholder="Ej: BD200" autocomplete="off">
                                    <label for="codigoFactura">Código factura</label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <div class="md-form md-outline">
                                    <input onlyNumbers="decimal" formControlName="montoTotal" [validateSuccess]="false" [validateError]="false" mdbInputDirective type="text" id="montoTotal" class="form-control" placeholder="Ej: 2500" autocomplete="off">
                                    <label for="montoTotal">Monto total</label>
                                    <show-errors [control]="formAddGasto.controls['montoTotal']"></show-errors>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-0">
                                <div class="md-form md-outline active-chang">
                                    <textarea [validateSuccess]="false" [validateError]="false" formControlName="conceptoGasto" mdbInputDirective type="text" id="conceptoGasto" class="md-textarea form-control" autocomplete="off"></textarea>
                                    <label for="conceptoGasto">Concepto gasto</label>
                                    <show-errors [control]="formAddGasto.controls['conceptoGasto']"></show-errors>
                                </div>
                            </div>

                        </div>

                        <div class="text-center mt-3">
                            <button mdbBtn type="submit" class="orange-chang mb-1 white-text" [disabled]="!formAddGasto.valid">
                                <mdb-icon fas icon="check" class="mr-1"></mdb-icon>Ingresar
                            </button>
                        </div>

                    </form>

                </mdb-card-body>
                <!-- Contenido -->
            </mdb-card>

        </div>
    </div>
</section>