<div mdbModal #modalAddEmpaque="mdb-modal" class="modal fade" id="modalAddEmpaque" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal " role="document">
        <!--Contenido-->
        <div class="modal-content background-gray mdl">

            <!--Titulo-->
            <div class="modal-header white-text orange-chang">
                <h4 class="title">
                    <mdb-icon far icon="file-alt"></mdb-icon> Empaque</h4>
                <button type="button" class="close waves-effect waves-light" aria-label="Close" (click)="hideModalAndEmitResult()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <!--Cuerpo modal-->
            <div class="modal-body mb-0">

                <!-- Inicio form-->
                <form [formGroup]="formAddEmpaque" (ngSubmit)="createEmpaque()" novalidate>

                    <div class="md-form ">
                        <h6 class="orange-chang-text">Nombre</h6>
                        <input Alphanumeric type="text" id="addnombreEmpaque" class="input-modal-sm" name="nombreempaque" formControlName="nombreEmpaque">
                        <show-errors [control]="formAddEmpaque.controls['nombreEmpaque']"></show-errors>
                    </div>

                    <div class="md-form">
                        <h6 class="orange-chang-text">Descripción</h6>
                        <textarea type="text" id="adddescripcionempaque" formControlName="descripcionEmpaque" class="text-area-modal" name="descripcionempaque"></textarea>
                        <show-errors [control]="formAddEmpaque.controls['descripcionEmpaque']"></show-errors>
                    </div>

                    <div class="text-center mt-1-half">
                        <button class="btn orange-chang mb-1 white-text" type="submit" [disabled]="!formAddEmpaque.valid || peticionEnCurso"><mdb-icon fas icon="check" class="mr-1"></mdb-icon>Ingresar
            </button>
                    </div>

                </form>
                <!-- Final form -->
            </div>
        </div>
        <!--/.Contenido-->
    </div>
</div>