<!--Datos del usuario-->
<div class="col-lg-8  ">
  <div class="card card-cascade narrower">
    <div class="view gradient-card-header naranja">
      <h4 class="mb-0">Datos del Usuario</h4>
    </div>
    <!-- Contenido -->
    <div class="card-body ">
      <form method="" action="">
        <div class="row">
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="nombresusuario" class="form-control validate">
              <label for="nombresusuario" data-error="wrong" data-success="right">Nombres</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="apellidousuarios" class="form-control validate">
              <label for="apellidousuarios" data-error="wrong" data-success="right">Apellidos</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form">
              <input type="text" id="username" class="form-control validate">
              <label for="username" data-error="wrong" data-success="right">Nombre de Usuario</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form">
              <input type="password" id="contrasena" class="form-control validate">
              <label for="contrasena">Contraseña</label>
            </div>
          </div>
          <div class="col-md-12">
            <label for="selectcargo">Cargo</label>
            <select class="selectcargo" multiple="multiple" style="width: 100%">
              <option class="chip" value="1">Administrador</option>
              <option  class="chip" value="2">Chofer</option>
            </select>
          </div>
        </div>
        <div class="margin-paneladministrativo"></div>
        <!-- Boton -->
        <div class="row">
          <div class="col-md-12 text-center">
            <input type="submit" value="Actualizar" class="btn peach-gradient">
          </div>
        </div>
        <!-- /.Boton -->
      </form>
    </div>
    <!-- Contenido -->
  </div>
</div>
