<section>
  <div class="row">

    <div class="col-md-12">

      <mdb-card cascade="true" narrower="true">
        <!--Titulo-->
        <div class="view view-cascade gradient-card-header orange-chang">
          <h3 class="card-header-title mb-2">Productos</h3>
        </div>
        <!--/Titulo-->
        <mdb-card-body cascade="true">

          <div class="row">

            <div class="col-12 col-sm-12 col-md-5">
              <br>
              <label for="proveedor">Proveedor</label>
              <ng-select [items]="proveedores" bindLabel="NombreProveedor" bindValue="IdProveedor" id="proveedor"
                placeholder="Selecciona un proveedor" (change)="onChangeProveedor($event)">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <div style="margin: 10px 0;" class="card">
                    <div class="card-body">
                      <h5 class="card-title" [ngOptionHighlight]="search">{{item.NombreProveedor}}</h5>
                      <p class="card-subtitle mb-2 text-muted">
                        <b>Nombre del Representante</b>
                        <br>
                        <i>{{item.NombreRepresentante}}</i>
                      </p>
                      <p class="card-text">
                        <b>Descripcion</b>
                        <br>
                        <i>{{item.Descripcion}}</i>
                      </p>
                    </div>
                  </div>
                </ng-template>
              </ng-select>
            </div>

            <div class="col-12 col-sm-12 col-md-7 mt-4">
              <div class="in input-group md-form form-inline form-sm form-2 pl-0">
                <i class="fa fa-search mt-2" aria-hidden="true"></i>
                <input class="form-control w-75 ml-3" type="text" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="buscando">
              </div>

              <div class="col-lg-12 text-center" *ngIf="buscando">
                Buscando:
                <strong> {{buscando}} </strong>
              </div>
              <br>

            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xs-4 mt-4" *ngFor="let producto of productos | buscarProductoxNombre: buscando ">

              <div class="card-deck">
                <div class="card mb-4">

                  <!--Card image-->
                  <div class="view overlay">
                    <img class="card-img-top" src="{{url + 'getImagen/productos/' + (producto.Imagen == '' ? 'default.png' : producto.Imagen)}}"
                      alt="Imagen del producto">
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                  <!--Card content-->
                  <div class="card-body background-gray mdl">

                    <!--Title-->
                    <h4 class="card-title">{{producto.NombreProducto}}</h4>
                    <!--Text-->
                    <p class="card-text">{{producto.Descripcion}}</p>

                    <hr class="grey lighten-2">

                    <div class="chip white-text mr-2 text-center orange-chang" mdbTooltip="Categoría" placement="bottom">{{producto.NombreCategoria}}</div>
                    <div class="chip  white-text text-center orange-chang" mdbTooltip="Clasificación" placement="bottom">{{producto.NombreClasificacion}}</div>
                    <br>
                    <div class="chip white-text mr-2 text-center orange-chang" mdbTooltip="SubClasificación" placement="bottom">{{producto.NombreSubClasificacion}}</div>
                    <div class="chip white-text text-center orange-chang" mdbTooltip="Tipo Insumo" placement="bottom">{{producto.DescripcionInsumo}}</div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>

  <button type="button" class="btn btn-floating btn-large orange-chang waves-light" mdbWavesEffect [routerLink]="'../producto'"
    style="bottom:3%; margin-left: -5%;">
    <i class="fa fa-th-list"></i>
  </button>

</section>