<div class="container-fluid mt-5">
  <section>
    <div class="row">
      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view view-cascade gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input name="imagen" type="file" class="dropify" (change)="fileChangeEvent($event)" data-height="300"
              data-allowed-file-extensions="jpg jpeg png" data-height="300" />
          </div>
        </div>
      </div>
      <!-- /.Imagen -->

      <!--Datos del Trabajador-->
      <div class="col-lg-8 ">
        <div class="card card-cascade narrower">
          <div class="view view-cascade gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Trabajador</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">
            <!-- Formulario -->
            <form [formGroup]="formAddTrabajador" (ngSubmit)="guardarImagenTrabajador()" novalidate>
              <!-- Campos a ingresar -->
              <div class="row">

                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbValidate mdbInputDirective type="text" id="nombreTrabajador" name="Nombres"
                      formControlName="nombreTrabajador" required class="form-control letras" autocomplete="off">
                    <show-errors [control]="formAddTrabajador.controls['nombreTrabajador']"></show-errors>
                    <label for="nombreTrabajador">Nombres</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbValidate mdbInputDirective type="text" id="Apellidos" name="Apellidos"
                      formControlName="apellido" required class="form-control letras" autocomplete="off">
                    <show-errors [control]="formAddTrabajador.controls['apellido']"></show-errors>
                    <label for="Apellidos">Apellidos</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="input-picker form-control"
                      mdbValidate placeholder="Seleccioné" formControlName="fechaNacimiento" name="fechaNacimiento"
                      id="fechaNacimiento" mdbInputDirective readonly>
                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                    <label id="fechaNacimiento">Fecha Nacimiento</label>
                    <show-errors [control]="formAddTrabajador.controls['fechaNacimiento']"></show-errors>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" class="input-picker form-control"
                      mdbValidate placeholder="Seleccioné" formControlName="fechaIngreso" name="fechaIngreso"
                      id="fechaIngreso" mdbInputDirective readonly>
                    <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                    <label id="fechaIngreso">Fecha Ingreso</label>
                    <show-errors [control]="formAddTrabajador.controls['fechaIngreso']"></show-errors>
                  </div>                  
                </div>

                <div class="col-md-6">
                  <div class="md-form ">
                    <input mdbValidate mdbInputDirective type="text" id="TelefonoPrincipalTrabajador" minlength="4"
                      maxlength="50" class="form-control" name="TelefonoPrincipalTrabajador" formControlName="telefonoPrincipal"
                      autocomplete="off">
                    <show-errors [control]="formAddTrabajador.controls['telefonoPrincipal']"></show-errors>
                    <label for="TelefonoPrincipalTrabajador" class="">Telefóno</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form ">
                    <input [validateSuccess]="false" [validateError]="false" mdbInputDirective type="text" id="TelefonoSecundarioTrabajador" class="form-control"
                      name="TelefonoSecundarioTrabajador" formControlName="telefonoSecundario" autocomplete="off">
                    <show-errors [control]="formAddTrabajador.controls['telefonoSecundario']"></show-errors>
                    <label for="TelefonoSecundarioTrabajador" class="">Telefóno (Opcional)</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="tipoDocumento" class="grey-text-card">Tipo de Documento</label>
                  <ng-select [items]="tiposDocumento" bindLabel="NombreTD" bindValue="IdTipoDocumento" placeholder="Selecciona un tipo de documento"
                    id="tipoDocumento" (change)="onChangeTipoDocumento($event)" formControlName="tipoDocumento">
                  </ng-select>
                  <show-errors [control]="formAddTrabajador.controls['tipoDocumento']"></show-errors>
                </div>

                <div class="col-md-6">
                  <div class="md-form ">
                    <input mdbValidate mdbInputDirective type="text" id="documentoTrabajador" name="documentoTrabajador"
                      formControlName="documentoTrabajador" class="form-control" autocomplete="off">
                    <show-errors [control]="formAddTrabajador.controls['documentoTrabajador']"></show-errors>
                    <label for="documentoTrabajador" class="">Documento</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="sucursal" class="grey-text-card">Sucursal</label>
                  <ng-select [items]="sucursales" bindLabel="NombreSucursal" bindValue="IdSucursal" placeholder="Selecciona una sucursal"
                    id="sucursal" (change)="onChangeSucursal($event)" formControlName="sucursal">
                  </ng-select>
                  <show-errors [control]="formAddTrabajador.controls['sucursal']"></show-errors>
                </div>

                <div class="col-md-12">
                  <br>
                  <label for="cargo" class="grey-text-card">Cargo</label>
                  <ng-select [items]="cargos" bindLabel="NombreCargo" bindValue="IdCargo" placeholder="Selecciona un cargo"
                    id="cargo" (change)="onChangeCargo($event)" formControlName="cargo">
                  </ng-select>
                  <show-errors [control]="formAddTrabajador.controls['cargo']"></show-errors>
                </div>

                <div class="col-md-12">
                  <div class="md-form">
                    <textarea mdbValidate mdbInputDirective type="text" id="Direccion" name="Direccion"
                      formControlName="direccion" class="md-textarea form-control"></textarea>
                    <label for="Direccion">Dirección</label>
                    <show-errors [control]="formAddTrabajador.controls['direccion']"></show-errors>
                  </div>
                </div>
              </div>

              <div class="margin-paneladministrativo"></div>

              <!-- Boton ingresa -->
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" type="submit" [disabled]="!formAddTrabajador.valid || !btnIngresarHabilitado">
                  <mdb-icon fas icon="check" class="mr-1"></mdb-icon>Ingresar
                </button>
              </div>

            </form>
          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del Trabajador-->
    </div>
  </section>
</div>

<div mdbModal #modalUsuario="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content background-gray-w mdl">

      <!--Header-->
      <div class="modal-header">
        <!-- Cambiar imagen -->
        <img src="https://vignette.wikia.nocookie.net/rick-y-morty-espanol/images/5/58/Ick_y_morty_wiki.png/revision/latest?cb=20170914132754&path-prefix=es"
          class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center mb-1">

        <h4 class="mt-1 mb-2">Crear Usuario</h4>
        <p>Desea crear un usuario a partir de este trabajador?</p>


        <div class="text-center">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="listaTrabajadores()"
            mdbWavesEffect>No</button>
          <button class="btn orange-chang mt-1 waves-light" (click)="relacionarTrabajador()" mdbWavesEffect>SI
            <i class="fa fa-sign-in ml-1"></i>
          </button>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>