<section>

    <div class="row">

        <div class="col-lg-4 col-md-12 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower height-card">

                <!--Card image-->
                <div class="view gradient-card-header orange-chang">
                    <h4 class="mb-0">Proveedores de hoy</h4>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="scrollbar-card scrollbar-ripe-malinka">
                    <div class="card-body text-center">

                        <div class="list-group">
                            <a *ngFor="let proveedor of proveedores" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{proveedor.NombreProveedor}}</h5>
                                    <small>6:00 AM</small>
                                </div>
                                <p class="mb-1">Moises Israel Trigueros López</p>
                                <small>2249-5222</small>
                            </a>
                        </div>

                    </div>
                </div>
                <!--/.Card content-->
                <div class="card-footer text-muted">
                    <p class="mb-0">
                        <strong>Fecha:</strong> {{fechaActual}}</p>
                </div>

            </div>
            <!--/.Card-->

        </div>

        <div class="col-lg-4 col-md-12 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower height-card">

                <!--Card image-->
                <div class="view gradient-card-header orange-chang">
                    <h4 class="mb-0">Productos por agotarse</h4>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="scrollbar-card scrollbar-ripe-malinka">
                    <div class="card-body text-center">

                        <div class="list-group list-panel">
                            <a class="list-group-item d-flex justify-content-between dark-grey-text">Pollo Entero
                                <span class="badge badge-pill red-chang">6</span>
                            </a>
                            <a class="list-group-item d-flex justify-content-between dark-grey-text">Pollo Entero
                                <span class="badge badge-pill red-chang">16</span>
                            </a>
                            <a class="list-group-item d-flex justify-content-between dark-grey-text">Pollo Entero
                                <span class="badge badge-pill red-chang">5</span>
                            </a>
                            <a class="list-group-item d-flex justify-content-between dark-grey-text">Pollo Entero
                                <span class="badge badge-pill red-chang">1</span>
                            </a>
                            <a class="list-group-item d-flex justify-content-between dark-grey-text">Pollo Entero
                                <span class="badge badge-pill red-chang">0</span>
                            </a>
                        </div>

                    </div>
                </div>
                <!--/.Card content-->
                <div class="card-footer text-muted">
                    <p class="mb-0">
                        <strong>Fecha:</strong> {{fechaActual}}</p>
                </div>

            </div>
            <!--/.Card-->

        </div>

        <div class="col-lg-4 col-md-12 mb-r">

            <!--Card-->
            <div class="card card-cascade narrower height-card">

                <!--Card image-->
                <div class="view gradient-card-header orange-chang">
                    <h4 class="mb-0">Productos por expirar</h4>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="scrollbar-card scrollbar-ripe-malinka">
                    <div class="card-body text-center">

                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Cargil</h5>
                                    <small class="red-chang-text font-weight-bold">12/05/2018</small>
                                </div>
                                <p class="mb-1">Bacón</p>
                                <small>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                            </a>
                        </div>

                    </div>
                </div>
                <!--/.Card content-->
                <div class="card-footer text-muted">
                    <p class="mb-0">
                        <strong>Fecha:</strong> {{fechaActual}}</p>
                </div>

            </div>
            <!--/.Card-->

        </div>

    </div>
</section>

<section class="section team-section">
    <div class="row">

        <!-- Tab Tablas -->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <mdb-tabset #staticTabs [buttonClass]="'nav-tabs tabs-3 orange-chang'" [contentClass]="'card'">

                        <mdb-tab heading="Proveedores" class="height-card scrollbar-card scrollbar-ripe-malinka">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nombre</th>
                                                    <th>Representante</th>
                                                    <th>Email</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let proveedor of proveedores ; let i = index">
                                                    <th scope="row">{{i+1}}</th>
                                                    <td>{{proveedor.NombreProveedor}}</td>
                                                    <td>{{proveedor.NombreRepresentante}}</td>
                                                    <td>{{proveedor.Email}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm orange-chang" (click)="visualizarProveedor(proveedor)" mdbTooltip="Visualizar" placement="bottom">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </mdb-tab>

                        <mdb-tab heading="Trabajadores" class="height-card scrollbar-card scrollbar-ripe-malinka">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nombre</th>
                                                        <th>Apellidos</th>
                                                        <th>Telefono</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let trabajador of trabajadores ; let i = index">
                                                        <th scope="row">{{i+1}}</th>
                                                        <td>{{trabajador.Nombres}}</td>
                                                        <td>{{trabajador.Apellidos}}</td>
                                                        <td>{{trabajador.Telefono1}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm orange-chang" (click)="visualizarTrabajador(trabajador)" mdbTooltip="Visualizar" placement="bottom">
                                                                <i class="fa fa-eye"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mdb-tab>


                    </mdb-tabset>


                    <!-- <ul class="nav nav-tabs nav-justified orange-chang">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#proveedores" role="tab">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#trabajadores" role="tab">Trabajadores</a>
                        </li>
                    </ul>-->

                </div>
            </div>
            <br>
            <br>
            <br>
        </div>

        <!-- Contenedor de imagen y detalles -->
        <div class="col-md-4 mb-1">
            <br>
            <br>
            <!--Card-->
            <div class="card agenda-card">


                <!--Avatar-->
                <div class="avatar z-depth-1-half mb-4 white">
                    <img src="{{urlImagen}}" class="rounded-circle" alt="Proveedor" style="height: 100% !important; width: 100% !important;">
                </div>

                <div class="card-body pt-0 mt-0">
                    <!--Name-->
                    <div class="text-center">
                        <!-- Aca va el nombre de la persona -->
                        <h3 class="mb-3 font-bold">
                            <strong>{{tabSeleccionado == 'trabajador' ? trabajador.Nombres : proveedor.NombreProveedor}}</strong>
                        </h3>
                        <!-- Si es proveedore aqui va la compañia a la que pertenece en caso que sea empleado aca va la sucursal -->
                        <h6 class="font-bold blue-text mb-4">{{trabajador.NombreSucursal}}</h6>
                    </div>

                    <ul class="striped list-unstyled text-center">
                        <li>
                            <strong>{{tabSeleccionado == 'trabajador' ? 'Documento : ' : 'Nombre representante : ' }} </strong>{{tabSeleccionado == 'trabajador' ? trabajador.Documento : proveedor.NombreRepresentante}}</li>
                        <hr>
                        <li>
                            <strong>Telefono: </strong>{{tabSeleccionado == 'trabajador' ? trabajador.Telefono1 : proveedor.Telefono}}</li>
                        <hr>
                        <li>
                            <strong>{{tabSeleccionado == 'trabajador' ? 'Desde : ' : 'Email : '}}</strong>{{tabSeleccionado == 'trabajador' ? (trabajador.FechaIngreso | date:'yyyy-MM-dd') : proveedor.Email}}</li>

                    </ul>

                </div>

            </div>
            <!--Card-->

        </div>
    </div>
    <!-- /.Contenedor de imagen y detalles -->
</section>