<section>
  <form [formGroup]="formUpdateProducto" (ngSubmit)="updateProducto(formUpdateProducto)" novalidate>
    <div class="row">

      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input type="file" id="imageProducto" class="dropify" (change)="fileChangeEvent($event)" data-height="300" formControlName="imagen"/>
          </div>
        </div>
        <div *ngIf="producto.Imagen">
          <img src="{{url + 'productoGetImage/' + producto.Imagen}}" style="width: 500px;height:300px;" />
        </div>

      </div>
      <!-- /.Imagen -->

      <!--Datos del producto-->
      <div class="col-lg-8  ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Producto</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">

            <div class="row">
              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <input type="text" id="nombreproducto" formControlName="nombreProducto" class="form-control input-char-counter" length="50" autocomplete="off">
                  <label for="nombreproducto" class="input-char-counter">Nombre</label>
                </div>
              </div>
              <div class="col-md-6">
                <label for="clasificacion">Clasificación</label>

                <select class="form-control selectclasificacion" name="clasi" id="clasificacion" multiple="multiple" style="width: 100%" formControlName="clasificacion">
                  <option class = "chip" name = "clasificacion.IdClasificacion" *ngFor="let clasificacion of clasificaciones" [value]="clasificacion.IdClasificacion">{{clasificacion.NombreClasificacion}}</option>
                </select>

              </div>
              <div class="col-md-6">
                <label for="subclasificacion">Subclasificación</label>
                <select class="form-control selectsubclasificacion" id="subclasificacion" multiple="multiple" style="width: 100%" >
                  <option class = "chip"  *ngFor="let subclasificacion of subclasificaciones" [value]="subclasificacion.IdSubClasificacion">{{subclasificacion.NombreSubClasificacion}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <br>
                <label for="categoria">Categoria</label>
                <select class="selectcategoria" multiple="multiple" style="width: 100%" formControlName="categoria">
                  <option class="chip" *ngFor="let categoria of categorias" [value] = "categoria.IdCategoria">{{categoria.NombreCategoria}}</option>
                </select>
              </div>
              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <textarea type="text" id="descripcionproducto" formControlName="descripcionProducto" class="md-textarea" autocomplete="off"></textarea>
                  <label for="descripcionproducto">Descripción</label>
                </div>
              </div>
            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1">Ingresar <i class="fa fa-check ml-1"></i></button>
            </div>

          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del usuario-->

    </div>
  </form>

</section>
