<section>

  <form [formGroup]="formUpdateProducto" (ngSubmit)="cargarImagen()" novalidate>
    <div class="row">

      <!--Imagen-->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-r wow fadeInLeft" data-wow-delay="0.4s" id="imagen-productos" style="display: none;">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input type="file" id="imageProducto" class="dropify" (change)="fileChangeEvent($event)" data-height="300" data-allowed-file-extensions="jpg png jpeg"
            />
          </div>
        </div>

      </div>
      <!-- /.Imagen -->

      <!--Datos del producto-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12" id="formulario-productos">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Producto</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">

            <div class="row">

              <div class="md-form input-group">
                <input mdbActive type="text" id="nombreproducto" formControlName="nombreProducto" mdbActive [(ngModel)]="formUpdateProducto.value.nombreProducto"
                  class="form-control letras" autocomplete="off" [(ngModel)]="formUpdateProducto.value.nombreProducto" placeholder="Nombre del Producto"
                  style="margin-right: 5%;">
                <div class="input-group-btn">
                  <button type="button" class="btn orange-chang px-3 add-img-position" (click)="showCardImg()" mdbTooltip="Agregar Imagen"
                    placement="bottom" id="btn-animation" style="margin-left: -20%;">
                    <i class="fa fa-file-photo-o" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <show-errors [control]="formUpdateProducto.controls['nombreProducto']" style="margin-top: -25px;"></show-errors>

              <div class="col-9 col-sm-9 col-md-9">
                <label for="proveedor">Proveedor</label>
                <ng-select [items]="proveedores" bindLabel="NombreProveedor" bindValue="IdProveedor" placeholder="Selecciona un proveedor"
                  formControlName="proveedor" id="proveedor" (change)="onChangeProveedor($event)" [(ngModel)]="producto.IdProveedor">
                </ng-select>
                <show-errors [control]="formUpdateProducto.controls['proveedor']"></show-errors>
              </div>

              <div class="col-3 col-sm-3 col-md-3">
                <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-espacio-updt" mdbWavesEffect>Agregar</button>
              </div>

              <div class="col-9 col-sm-9 col-md-9">
                <br>
                <label for="selectCategoria">Categoria</label>
                <ng-select [items]="categorias" bindLabel="NombreCategoria" bindValue="IdCategoria" placeholder="Selecciona una categoria"
                  formControlName="categoria" id="selectCategoria" (change)="onChangeCategoria($event)" [(ngModel)]="producto.IdCategoria">
                </ng-select>
                <show-errors [control]="formUpdateProducto.controls['categoria']"></show-errors>
              </div>

              <div class="col-3 col-sm-3 col-md-3">
                <br>
                <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-espacio" mdbWavesEffect>Agregar</button>
              </div>

              <div class="col-9 col-sm-9 col-md-9">
                <br>
                <label for="upclasificacion">Clasificación</label>
                <ng-select [items]="clasificaciones" bindLabel="NombreClasificacion" bindValue="IdClasificacion" placeholder="Selecciona una clasificacion"
                  formControlName="clasificacion" id="upclasificacion" (change)="onChangeClasificacion($event)" [(ngModel)]="producto.IdClasificacion">
                </ng-select>
                <show-errors [control]="formUpdateProducto.controls['clasificacion']"></show-errors>
              </div>

              <div class="col-3 col-sm-3 col-md-3">
                <br>
                <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-espacio" mdbWavesEffect>Agregar</button>
              </div>

              <div class="col-9 col-sm-9 col-md-9">
                <br>
                <label for="upsubclasificacion">Subclasificación</label>
                <ng-select [items]="subclasificaciones" bindLabel="NombreSubClasificacion" bindValue="IdSubClasificacion" placeholder="Selecciona una subclasificacion"
                  formControlName="subclasificacion" id="upsubclasificacion" (change)="onChangeSubclasificacion($event)" [(ngModel)]="producto.IdSubClasificacion">
                </ng-select>
                <show-errors [control]="formUpdateProducto.controls['subclasificacion']"></show-errors>
              </div>

              <div class="col-3 col-sm-3 col-md-3">
                <br>
                <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-espacio" mdbWavesEffect>Agregar</button>
              </div>

              <div class="col-9 col-sm-9 col-md-9">
                <br>
                <label>Empaque</label>
                <ng-select [items]="empaques" bindLabel="NombreEmpaque" bindValue="IdEmpaque" placeholder="Selecciona un empaque" formControlName="empaque"
                  id="empaque" (change)="onChangeEmpaque($event)" [(ngModel)]="producto.IdEmpaque">
                </ng-select>
                <show-errors [control]="formUpdateProducto.controls['empaque']"></show-errors>
              </div>

              <div class="col-3 col-sm-3 col-md-3">
                <br>
                <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-espacio" mdbWavesEffect>Agregar</button>
              </div>

              <div class="col-9 col-sm-9 col-md-9">
                <br>
                <label>Envase</label>
                <ng-select [items]="envases" bindLabel="NombreEnvase" bindValue="IdEnvase" placeholder="Selecciona un envase" formControlName="envase"
                  id="envase" (change)="onChangeEnvase($event)" [(ngModel)]="producto.IdEnvase">
                </ng-select>
                <show-errors [control]="formUpdateProducto.controls['envase']"></show-errors>
              </div>

              <div class="col-3 col-sm-3 col-md-3">
                <br>
                <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-espacio" mdbWavesEffect>Agregar</button>
              </div>


              <div class="col-9 col-sm-9 col-md-9">
                <br>
                <label>Unidad de Medida</label>
                <ng-select [items]="unidades" dropdownPosition="top" bindLabel="NombreUnidad" bindValue="IdUnidadMedida" placeholder="Selecciona una unidad de medida"
                  formControlName="unidadmedida" id="unidadmedida" (change)="onChangeUnidadMedida($event)" [(ngModel)]="producto.IdUnidadMedida">
                </ng-select>
                <show-errors [control]="formUpdateProducto.controls['unidadmedida']"></show-errors>
              </div>

              <div class="col-3 col-sm-3 col-md-3">
                <br>
                <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-espacio" mdbWavesEffect>Agregar</button>
              </div>

              <div class="col-md-4">
                <br>
                <br>
                <div class="md-form">
                  <input mdbActive type="number" id="diascaducidad" formControlName="diasCaducidad" class="form-control" autocomplete="off">
                  <label for="diascaducidad">Días de Cadudicad</label>
                </div>
              </div>

              <div class="col-md-4">
                <br>
                <br>
                <div class="md-form">
                  <input mdbActive type="number" id="valorunidadmedida" formControlName="valorUnidadMedida" class="form-control" autocomplete="off">
                  <label for="valorunidadmedida">Valor unidad de medida</label>
                  <show-errors [control]="formUpdateProducto.controls['valorunidadmedida']"></show-errors>
                </div>
              </div>

              <div class="col-md-4">
                <br>
                <br>
                <div class="md-form">
                  <input mdbActive type="number" id="cantidadEmpaque" formControlName="cantidadEmpaque" class="form-control" autocomplete="off">
                  <label for="cantidadEmpaque">Cantidad de Empaque</label>
                  <show-errors [control]="formUpdateProducto.controls['cantidadEmpaque']"></show-errors>
                </div>
              </div>


              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <textarea mdbActive type="text" id="descripcionproducto" formControlName="descripcionProducto" [(ngModel)]="formUpdateProducto.value.descripcionProducto"
                    class="md-textarea" autocomplete="off" required></textarea>
                  <show-errors [control]="formUpdateProducto.controls['descripcionProducto']"></show-errors>
                  <label for="descripcionproducto">Descripción</label>
                </div>
              </div>
            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1" [disabled]="!formUpdateProducto.valid">Ingresar
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>

          </div>
          <!-- Contenido -->
        </div>
      </div>

    </div>
  </form>


</section>