<header>
  <section class="view intro-video hm-black-light pattern-1">
    <video poster="../assets/video/background-8.jpg" playsinline autoplay muted loop>
      <source src="../assets/video/background.mp4" type="video/mp4">
    </video>
    <div class="hm-gradient ">
      <div class="full-bg-img">
        <div class="container flex-center">
          <div class="row pt-5 mt-3">
            <div class="col-md-12">
              <div class="text-center">
                <h1 class="display-1 mb-2 wow fadeInDown " data-wow-delay="0.3s" style="color:#E67E22;">張家餐廳</h1>
                <h2 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Restaurante de la Familia Chang</strong></h2>
                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>¡Vaya! Esto obviamente no es una página que estabas buscando.</strong></h5>
                <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" routerLink='/'>Inicio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</header>
