<section>
  <div class="container-fluid">

      <div class="card">
        <div class="card-body text-center">
            
            <h2 class="display-3 orange-chang-text">
              <strong>張家餐廳</strong>
            </h2>
            <h3 class="h3-responsive mt-2">Consolidado de gastos</h3>
            <hr>
            <div class="d-flex justify-content-between mt-3">
                
                <p class="orange-chang-text"><strong class="black-text">Consolidado No</strong> 
                  <br>0001</p>

                <p><strong>Descripción</strong> 
                  <br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt vero et itaque voluptatem rerum sed repellat suscipit, a pariatur eaque accusantium illum placeat libero? Alias dolorem dicta repellendus cumque possimus.</p>

                <div>
                  <p class="orange-chang-text"><strong class="black-text">Fecha Inicio</strong> 10/02/2019</p>
                  <p class="orange-chang-text"><strong class="black-text">Fecha Fin</strong> 10/02/2019</p>
                </div>
            </div>
            
            <hr>

            <table mdbTable borderless="true" small="true" class="text-center align-middle">
              <thead class="border-table">
                <tr>
                  <th scope="col">
                    <h4 class="h4-responsive mt-3 text-muted" width="10%"><small>#</small></h4>
                  </th>
                  <th scope="col"> 
                    <h4 class="h4-responsive mt-3 text-muted" width="40%"><small>Productos</small></h4>
                  </th>
                  <th scope="col">
                    <h4 class="h4-responsive mt-3 text-muted" width="10%"><small>Total</small></h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr mdbTableCol>
                  <th scope="row" width="10%">1</th>
                  <td width="40%">Pollo Tiptop</td>
                  <td width="10%">C$10,000</td>
                </tr>
                <tr mdbTableCol>
                  <th scope="row" width="10%">1</th>
                  <td width="40%">Pollo Tiptop</td>
                  <td width="10%">C$10,000</td>
                </tr>
                <tr mdbTableCol>
                  <th scope="row" width="10%">1</th>
                  <td width="40%">Pollo Tiptop</td>
                  <td width="10%">C$10,000</td>
                </tr>
                <tr mdbTableCol>
                  <th scope="row" width="10%">1</th>
                  <td width="40%">Pollo Tiptop</td>
                  <td width="10%">C$10,000</td>
                </tr>
                <tr mdbTableCol>
                  <th scope="row" width="10%">1</th>
                  <td width="40%">Pollo Tiptop</td>
                  <td width="10%">C$10,000</td>
                </tr>
                <tr mdbTableCol>
                  <th scope="row" width="10%">1</th>
                  <td width="40%">Pollo Tiptop</td>
                  <td width="10%">C$10,000</td>
                </tr>
                <tr mdbTableCol>
                  <th scope="row" width="10%">1</th>
                  <td width="40%">Pollo Tiptop</td>
                  <td width="10%">C$10,000</td>
                </tr>
              </tbody>
            </table>

            <hr>

            <div class="d-flex justify-content-between">

              <div class="mt-3">
                <p class="orange-chang-text"><strong class="black-text">Usuario: </strong> 
                  Chang</p>

                <p class="orange-chang-text"><strong class="black-text">Fecha impresión: </strong> 
                  17/02/2019</p>

                <p class="orange-chang-text"><strong class="black-text">Hora impresión: </strong> 
                  10:00 AM</p>
              </div>
                
              <div class="mt-3 mr-5">
                <button tabindex="-1" mdbBtn type="button" size="sm" class="orange-chang mr-5" mdbTooltip="Imprimir reporte" 
                placement="bottom" mdbWavesEffect><mdb-icon fas icon="print" class="mr-1"></mdb-icon>Imprimir</button>
              </div>

              <div>
                <h4 class="h4-responsive mt-3"><small>Total de gastos</small><br><strong><span class="orange-chang-text">7,000
                  C$</span></strong></h4>
              </div>
          </div>

        </div>  
      </div>
   
  </div>
</section>