<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <style>
            {#asset bootstrap.min.css @encoding=utf8}
            {#asset mdb.min.css @encoding=utf8}
            {#asset reportschang.css @encoding=utf8}
    </style> 
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="container-fluid" style="margin-top:6%;">
        
        <div class="text-center">
            <h1 class="display-1 mb-2 orange-chang-text">
                <strong>張家餐廳</strong>
            </h1>
            <h2 class="h2-reponsive font-up font-bold mb-3">
                <strong>Restaurante de la Familia Chang</strong>
            </h2>
            <h3 class="h3-reponsive font-up font-bold mb-3">
                <strong class="red-chang-text">Proveedores Registrados</strong>
            </h3>
        </div>
    
        <div class="container-fluid mt-4">
            <table class='table table-sm table-striped'>
                <thead>
                    <tr>
                        <th>Nombre Producto</th>
                        <th>Descripción</th>
                        <th>Representante</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                {{#each proveedores}}
                <tbody>
                    <tr>
                        <td>{{NombreProveedor}}</td>
                        <td>{{Descripcion}}</td>
                        <td>{{NombreRepresentante}}</td>
                        <td>{{Direccion}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
        </div>
    </div>
    
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="{#asset jquery-3.3.1.min.js @encoding=link}"></script>
    <!-- Bootstrap tooltips -->
    <script src="{#asset popper.min.js @encoding=link}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{#asset bootstrap.min.js @encoding=link}"></script>
    <!-- MDB core JavaScript -->
    <script src="{#asset mdb.min.js @encoding=link}"></script>
    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd = '0'+dd
        } 
        
        if(mm<10) {
            mm = '0'+mm
        } 
        
        today = dd + '/' + mm + '/' + yyyy;
        document.getElementById("MyP").innerHTML += today;
    </script>
</body>

</html>
