
<!-- Modal añadir clasificación -->
<div mdbModal (click)="eventoClick($event)" [config]="{ignoreBackdropClick: true}" #modalAddClasificacion="mdb-modal" class="modal fade" id="modalAddClasificacion" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal " role="document">
    <!--Contenido-->
    <div class="modal-content background-gray mdl">

      <!--Titulo-->
      <div class="modal-header white-text orange-chang">
        <h4 class="title">
          <i class="fa fa-file-text-o"></i> Clasificación</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo modal-->
      <div class="modal-body mb-0">

        <!-- Inicio form-->
        <form [formGroup]="formAddClasificacion" (ngSubmit)="createClasificacion()" novalidate>


          <div class="md-form">
            <h6 class="orange-chang-text">Nombre</h6>
            <input type="text" id="nombre" class="input-modal-sm" name="nombre" required formControlName="nombreClasificacion">
            <show-errors [control]="formAddClasificacion.controls['nombreClasificacion']"></show-errors>
          </div>

          <div class="md-form">
            <h6 class="orange-chang-text">Descripción</h6>
            <textarea type="text" id="descripcion" class="text-area-modal" name="descripcion" required formControlName="descripcionClasificacion"></textarea>
            <show-errors [control]="formAddClasificacion.controls['descripcionClasificacion']"></show-errors>
          </div>

          <h6 class="orange-chang-text">Categoria</h6>
          <ng-select dropdownPosition="'top'" class="select-mdl" [items]="categorias" bindLabel="NombreCategoria" bindValue="IdCategoria"
                     placeholder="Selecciona una categoria" formControlName="categoria" id="categoria" (change)="onChangeCategoria($event)">
          </ng-select>
          <show-errors [control]="formAddClasificacion.controls['categoria']"></show-errors>

          <div class="text-center mt-1-half">
            <br>
            <button class="btn orange-chang mb-1" type="submit" [disabled]="!formAddClasificacion.valid">Ingresar
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>


        </form>
        <!-- Final form -->
      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>
<!-- /.Modal clasificación -->