<section>

  <div class="row">

    <div class="col-md-12">

      <div class="card card-cascade narrower">
        <!--Titulo-->
        <div class="view gradient-card-header orange-chang">
          <h2 class="h2-responsive">Unidad de medida</h2>
        </div>
        <!--/Titulo-->
        <div class="card-body">
          <br>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th class="header-negrita">#</th>
                <th class="header-negrita">Nombre</th>
                <th class="header-negrita">Clasificación</th>
                <th class="header-negrita">Simbolo</th>
                <th class="header-negrita">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let unidadmedida of unidadesMedida">
                <td class="body-negrita">{{ unidadmedida.IdUnidadMedida }}</td>
                <td class="body-negrita">{{ unidadmedida.NombreUnidad }}</td>
                <td class="body-negrita">{{ unidadmedida.NombreClasificacion }}</td>
                <td class="body-negrita">{{ unidadmedida.Simbolo}}</td>
                <td width="25%" class="body-negrita">
                  <div class="text-center">
                    <button type="button" (click)="invocarModalUpdate(modalUpdateUnidadMedida,unidadmedida)" class="btn btn-sm orange-chang"
                      id="btnEditUnidadMedida" mdbTooltip="Editar" placement="bottom">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" (click)="deleteUnidadMedida(unidadmedida.IdUnidadMedida)" class="btn btn-sm orange-chang" id="btnDeleteUnidadMedida"
                      mdbTooltip="Eliminar" placement="bottom">
                      <i class="fa fa-times"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

</section>

<!-- Modal Agregar unidad de medida -->
<div mdbModal #modalAddUnidadMedida="mdb-modal" class="modal fade" id="modalAddUnidadMedida" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal " role="document">
    <!--Contenido-->
    <div class="modal-content background-gray mdl">

      <!--Titulo-->
      <div class="modal-header white-text orange-chang">
        <h4 class="title">
          <i class="fa fa-file-text-o"></i> Unidad de Medida</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalAddUnidadMedida.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo modal-->
      <div class="modal-body mb-0">
        <!-- Inicio form-->
        <form [formGroup]="formAddUnidadMedida" (ngSubmit)="createUnidadMedida(modalAddUnidadMedida)" novalidate>

          <div class="md-form">
            <h6 class="orange-chang-text">Nombre</h6>
            <input type="text" class="input-modal-sm" name="nombreunidadmedida" formControlName="nombreUnidadMedida" id="nombreUnidadMedida"
              required>
            <show-errors [control]="formAddUnidadMedida.controls['nombreUnidadMedida']"></show-errors>
          </div>

          <h6 class="orange-chang-text">Clasificación</h6>
          <ng-select class="select-mdl" [items]="clasificacionesUnidad" bindLabel="NombreClasificacion" bindValue="IdClasificacionUnidadMedida"
            placeholder="Selecciona una clasificacion" formControlName="clasificacionesUnidad" id="clasificacionesUnidad" (change)="changeClasificacionUnidad($event)">
          </ng-select>
          <show-errors [control]="formAddUnidadMedida.controls['clasificacionesUnidad']"></show-errors>
          <div class="md-form">
            <br>
            <h6 class="orange-chang-text">Simbolo</h6>
            <input type="text" id="simbolounidadmedida" class="input-modal-sm letras" name="simbolounidadmedida" formControlName="simboloUnidadMedida"
              required>
            <show-errors [control]="formAddUnidadMedida.controls['simboloUnidadMedida']"></show-errors>
          </div>

          <div class="md-form">
            <br>
            <h6 class="orange-chang-text">Importancia</h6>
            <input type="number" id="nimportancia" class="input-modal-sm" name="nimportancia" formControlName="nimportancia" required>
            <show-errors [control]="formAddUnidadMedida.controls['nimportancia']"></show-errors>
          </div>

          <div class="text-center mt-1-half">
            <button class="btn orange-chang mb-1" type="submit" [disabled]="!formAddUnidadMedida.valid">Ingresar
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>


        </form>
        <!-- Final form -->
      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>


<!-- Modal Actualizar unidad de medida -->
<div mdbModal #modalUpdateUnidadMedida="mdb-modal" class="modal fade" id="modalUpdateUnidadMedida" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal " role="document">
    <!--Contenido-->
    <div class="modal-content background-gray mdl">

      <!--Titulo-->
      <div class="modal-header orange-chang white-text">
        <h4 class="title">
          <i class="fa fa-file-text-o"></i> Actualizar Unidad de Medida</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalUpdateUnidadMedida.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Cuerpo modal-->
      <div class="modal-body mb-0">
        <!-- Inicio form-->
        <form [formGroup]="formUpdateUnidadMedida" (ngSubmit)="updateUnidadMedida()" novalidate>

          <div class="md-form ">
            <h6 class="orange-chang-text">Nombre</h6>
            <input type="text" class="input-modal-sm" name="nombreunidadmedida" formControlName="nombreUnidadMedida" id="upnombreUnidadMedida"
              required>
            <show-errors [control]="formUpdateUnidadMedida.controls['nombreUnidadMedida']"></show-errors>
          </div>

          <h6 class="orange-chang-text">Clasificación</h6>
          <ng-select dropdownPosition="top" class="select-mdl" [items]="clasificacionesUnidad" bindLabel="NombreClasificacion" bindValue="IdClasificacionUnidadMedida"
            [(ngModel)]="unidadMedida.IdClasificacionUnidadMedida" placeholder="Selecciona una clasificacion" formControlName="clasificacionesUnidad"
            id="upclasificacionunidadmedida" (change)="changeClasificacionUnidad($event)">
          </ng-select>

          <div class="md-form">
            <br>
            <h6 class="orange-chang-text">Simbolo</h6>
            <input type="text" id="upsimbolounidadmedida" class="input-modal-sm letras" name="simbolounidadmedida" formControlName="simboloUnidadMedida"
              required>
            <show-errors [control]="formUpdateUnidadMedida.controls['simboloUnidadMedida']"></show-errors>
          </div>

          <div class="md-form">
            <br>
            <h6 class="orange-chang-text">Importancia</h6>
            <input type="number" id="upnimportancia" class="input-modal-sm" name="nimportancia" formControlName="nimportancia" required>
            <show-errors [control]="formUpdateUnidadMedida.controls['nimportancia']"></show-errors>
          </div>

          <div class="text-center mt-1-half">
            <button class="btn orange-chang mb-1" type="submit" [disabled]="!formUpdateUnidadMedida.valid">Ingresar
              <i class="fa fa-check ml-1"></i>
            </button>
          </div>

        </form>
        <!-- Final form -->
      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>