USE [pruebas_node]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_TRABAJADORES]    Script Date: 29/4/2018 03:15:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USP_GET_TRABAJADORES](
	@Habilitado BIT NULL
)
AS BEGIN
	IF @Habilitado IS NULL
		SELECT IdTrabajador,T.IdSucursal,S.NombreSucursal,T.IdCargo,T.Imagen,C.NombreCargo,Nombres,Apellidos,IdTipoDocumento,Documento, Imagen, FechaNacimiento,T.Direccion, T.Telefono1, T.Telefono2,FechaIngreso,T.Habilitado,T.CreatedAt,T.UpdateAt
		FROM TRABAJADOR T 
		INNER JOIN SUCURSAL S ON T.IdSucursal= S.IdSucursal
		INNER JOIN CARGO C ON T.IdCargo = C.IdCargo
	ELSE
		SELECT IdTrabajador,T.IdSucursal,S.NombreSucursal,T.IdCargo,T.Imagen,C.NombreCargo,Nombres,Apellidos,IdTipoDocumento,Documento,FechaNacimiento,T.Direccion, T.Telefono1, T.Telefono2,FechaIngreso,T.Habilitado,T.CreatedAt,T.UpdateAt
		FROM TRABAJADOR T 
		INNER JOIN SUCURSAL S ON T.IdSucursal= S.IdSucursal
		INNER JOIN CARGO C ON T.IdCargo = C.IdCargo
		WHERE T.Habilitado = @Habilitado
END
