<section>
  <!--Esto es de prueba con una custom Directive, aqui solo se descargar cuando se da click en este componente-->

  <!---->  <div class="alert alert-info">
      <div class="jumbotron" id="probar" reportes="probandoReportes" >
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">Tocar esta seccion para descargar reporte, este es un ejemplo.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space co ntent out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg"  role="button">Learn more</a>
          </p>
      </div>  
  </div>
  
 <!--Este jumbotron es de prueba para imprimir con el id desde el componente-->
  <!--
    <div class="alert alert-info">
      <input type="button" value="enviar"  (click)="imprimirReporteProductos">
      <strong>Prueba de reporte</strong>
    </div>
    
    <div class="jumbotron" id="probar">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space co ntent out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
  </div>  
  -->

  <div class="row">

    <div class="col-md-12">

      <div class="card card-cascade narrower">
        <!--Titulo-->
        <div class="view view-cascade gradient-card-header orange-chang">
          <h2 class="h2-responsive">Reportes</h2>
        </div>
        <!--/Titulo-->
        <div class="card-body">
          <br><br>

          <div class="row">

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                    <img [src]="imgProducto | imagen:carpetaImagenes" class="img-fluid img-reportes" alt="" style="background-color: white;">
                  <div class="stripe dark">
                    <a>
                      <p>Productos</p>
                      <button type="button" class="btn orange-chang btn-sm" (click)="imprimirReporteProductos()" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                  <img [src]="imgProveedor | imagen:carpetaImagenes" class="img-fluid img-reportes" alt="">
                  <div class="stripe dark">
                    <a>
                      <p>Proveedores</p>
                      <button type="button" class="btn orange-chang btn-sm" (click)="imprimirReporteProveedores()" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                  <img [src]="imgTrabajadores | imagen:carpetaImagenes" class="img-fluid img-reportes" alt="">
                  <div class="stripe dark">
                    <a>
                      <p>Trabajadores</p>
                      <button type="button" class="btn orange-chang btn-sm" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-r">

              <div class="card collection-card z-depth-1-half background-card-reportes">
                <!--Card image-->
                <div class="view zoom waves-light size-img-card-reportes" mdbWavesEffect>
                  <img [src]="imgFactura | imagen:carpetaImagenes" class="img-fluid img-reportes" alt="">
                  <div class="stripe dark">
                    <a>
                      <p>Facturas</p>
                      <button type="button" class="btn orange-chang btn-sm" mdbWavesEffect><i class="fa fa-print mr-1"></i> Imprimir</button>
                    </a>
                  </div>
                </div>
                <!--Card image-->
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>