<div class="container-fluid mt-5">
  <section>
    <div class="row">
      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input name="imagen" type="file" class="dropify" disabled="disabled" data-allowed-file-extensions="jpg jpeg png"  data-height="300"/>
          </div>
        </div>
      </div>
      <!-- /.Imagen -->

      <!--Datos del usuario-->
      <div class="col-lg-8  ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Usuario</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">
            <!-- Formulario -->
            <form [formGroup] = "formViewUser"  novalidate>
              <!-- Campos a ingresar -->
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <input type="text" id="trabajador" name="trabajador" class="form-control validate" [readonly]="true" formControlName="trabajador" autocomplete="off">
                    <label for="trabajador">Nombres y Apellidos</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="email" id="Correo" name="Correo" class="form-control validate" [readonly]="true" formControlName="correo" autocomplete="off">
                    <label for="Correo">Correo Electrónico</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <input type="text" id="username" name="username" class="form-control validate" [readonly]="true" formControlName="username" autocomplete="off">
                    <label for="username">Nombre de Usuario</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <br>
                  <div class="md-form">
                    <input type="text" id="rol" name="RolUsuario" class="form-control validate" [readonly]="true" formControlName="rol" autocomplete="off">
                    <label for="rol">Roles</label>
                  </div>
                  <!-- <select2 name="RolUsuario" class="selectrol" id="selectrol" [options]="optionsSelectRol" [value]="usuario.IdRol">
                  </select2> -->
                </div>

              </div>
              <div class="margin-paneladministrativo"></div>
              <div class="margin-paneladministrativo"></div>

              <!-- Boton ingresa -->
              <!-- <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" type="submit" >OK <i class="fa fa-check ml-1"></i></button>
              </div> -->

            </form>
          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del usuario-->
    </div>
  </section>
</div>
