<section>

  <form [formGroup]="formAddProducto" (ngSubmit)="validarCamposProduto()" novalidate>
    <div class="row">

      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input type="file" id="imageProducto" class="dropify" (change)="fileChangeEvent($event)" data-height="300" data-allowed-file-extensions="jpg png jpeg"
            />
          </div>
        </div>

      </div>
      <!-- /.Imagen -->

      <!--Datos del producto-->
      <div class="col-lg-8  ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Producto</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">

            <div class="row">
              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <input mdbActive type="text" id="nombreproducto" formControlName="nombreProducto" mdbActive [(ngModel)]="formAddProducto.value.nombreProducto"
                    class="form-control letras" autocomplete="off" [(ngModel)]="formAddProducto.value.nombreProducto">
                  <show-errors [control]="formAddProducto.controls['nombreProducto']"></show-errors>
                  <label for="nombreproducto">Nombre</label>
                </div>
              </div>
              <div class="col-md-6">
                <label for="clasificacion">Clasificación</label>
                <ng-select [items]="clasificaciones" bindLabel="NombreClasificacion" bindValue="IdClasificacion" placeholder="Selecciona una clasificacion"
                  formControlName="clasificacion" id="clasificacion" (add)="onAddSelectClasificacion($event)">

                </ng-select>
                <show-errors [control]="formAddProducto.controls['clasificacion']"></show-errors>
              </div>
              <div class="col-md-6">
                <label for="subclasificacion">Subclasificación</label>
                <ng-select [items]="subclasificaciones" bindLabel="NombreSubClasificacion" bindValue="IdSubClasificacion" placeholder="Selecciona una subclasificacion"
                  formControlName="subclasificacion" id="subclasificacion" (add)="onAddSelectSubClasificacion($event)">

                </ng-select>
                <show-errors [control]="formAddProducto.controls['subclasificacion']"></show-errors>
              </div>
              <div class="col-md-6">
                <br>
                <label for="categoria">Categoria</label>
                <ng-select [items]="categorias" bindLabel="NombreCategoria" bindValue="IdCategoria" placeholder="Selecciona una categoria"
                  formControlName="categoria" id="categoria" (add)="onAddCategoria($event)">
                </ng-select>
                <show-errors [control]="formAddProducto.controls['categoria']"></show-errors>
              </div>
              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <textarea mdbActive type="text" id="descripcionproducto" formControlName="descripcionProducto" [(ngModel)]="formAddProducto.value.descripcionProducto"
                    class="md-textarea" autocomplete="off" required></textarea>
                  <show-errors [control]="formAddProducto.controls['descripcionProducto']"></show-errors>
                  <label for="descripcionproducto">Descripción</label>
                </div>
              </div>
            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1" [disabled]="!formAddProducto.valid">Ingresar
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>

          </div>
          <!-- Contenido -->
        </div>
      </div>

    </div>
  </form>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" (mouseleave)="fixed.toggle()">

    <a class="btn-floating btn-large red waves-light" mdbWavesEffect (mouseenter)="fixed.toggle()">
      <i class="fa fa-pencil"></i>
    </a>

      <!--<div class="fixed_collapse" [mdbCollapse]="isCollapsed" #fixed="bs-collapse">-->
        <!--<a class="btn-floating red waves-light" mdbWavesEffect>-->
          <!--<i class="fa fa-star"></i>-->
        <!--</a>-->
        <!--<a class="btn-floating yellow darken-1 waves-light" mdbWavesEffect>-->
          <!--<i class="fa fa-user"></i>-->
        <!--</a>-->
        <!--<a class="btn-floating green waves-light" mdbWavesEffect>-->
          <!--<i class="fa fa-envelope"></i>-->
        <!--</a>-->
        <!--<a class="btn-floating blue waves-light" mdbWavesEffect>-->
          <!--<i class="fa fa-shopping-cart"></i>-->
        <!--</a>-->
      <!--</div>-->

  </div>


</section>

<!--<modal-categoria *ngIf="showModalCategoria" [mostrarModal]="showModalCategoriaM" (resultadoConsulta)="resultadoConsultaCategoria($event)"></modal-categoria>-->
<!--<modal-categoria *ngIf="showModalClasificacion" [mostrarModal]="showModalClasificacionM()" (resultadoConsulta)="resultadoConsultaClasificacion($event)"></modal-categoria>-->
<!--<modal-categoria *ngIf="showModalSubclasificacion" [mostrarModal]="showModalSubclasificacionM()" (resultadoConsulta)="resultadoConsultaSubclasificacion($event)"></modal-categoria>-->