<section>
    <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">

            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="height-card">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header orange-chang">
                    <h3 class="card-header-title mb-2">Historial de facturas</h3>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="scrollbar-card scrollbar-ripe-malinka">
                    <mdb-card-body cascade="true" class="text-center">

                        <div class="container-fluid">
                            <div class="list-group">
                                <a *ngFor="let factura of facturas" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{factura.NombProveedor}}</h5>
                                        <small>Hora Ingreso: {{factura.HoraIngreso}}</small>
                                    </div>
                                    <p class="mb-1">Codigo factura: {{factura.NumRefFactura}}</p>
                                    <small>Total Cordobas: {{factura.TotalCordobas}} C$</small>
                                </a>
                            </div>
                        </div>

                    </mdb-card-body>
                </div>
                <!--/.Card content-->
                <div class="card-footer text-muted">
                    <p class="mb-0">
                        <strong>Fecha:</strong> {{fechaActual}}</p>
                </div>

            </mdb-card>
            <!--/.Card-->

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">

            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="height-card">

                <!--Card image-->
                <div class="view view-cascade gradient-card-header orange-chang">
                    <h3 class="card-header-title mb-2">Top 5 Productos más comprados</h3>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="scrollbar-card scrollbar-ripe-malinka">
                    <mdb-card-body cascade="true" class="text-center">

                        <div class="container-fluid">
                            <div class="list-group">
                                <a *ngFor="let producto of productosTop" class="list-group-item d-flex justify-content-between align-items-center dark-grey-text">{{producto.NombProducto}}
                                    <span class="badge badge-pill red-chang">{{producto.Cantidad}}</span>
                                </a>
                            </div>
                        </div>

                    </mdb-card-body>
                </div>
                <!--/.Card content-->
                <div class="card-footer text-muted">
                    <p class="mb-0">
                        <strong>Fecha:</strong> {{fechaActual}}</p>
                </div>

            </mdb-card>
            <!--/.Card-->

        </div>

    </div>
</section>

<br><br><br><br><br>
<section class="section team-section mt-5">
    <div class="row">

        <!-- Tab Tablas -->
        <div class="col-sm-12 col-md-12 col-lg-8 mt-1 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3 orange-chang'" [contentClass]="'card'">

                        <mdb-tab heading="Proveedores" class="height-card scrollbar-card scrollbar-ripe-malinka">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Input de busqueda -->
                                    <div class="col-12">
                                        <div class="in input-group md-form form-inline form-sm form-2 pl-0 mt-5">
                                            <i class="fa fa-search position-margin"></i>
                                            <input class="form-control w-75 ml-3" type="search" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="buscando">
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Nombre</th>
                                                    <th>Representante</th>
                                                    <th>Email</th>
                                                    <th>Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let proveedor of proveedores | buscarProveedor: buscando; let i = index">
                                                    <th scope="row">{{i+1}}</th>
                                                    <td>{{proveedor.NombProveedor}}</td>
                                                    <td>{{proveedor.NombRepresentante}}</td>
                                                    <td>{{proveedor.Email}}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm orange-chang" (click)="visualizarProveedor(proveedor)" mdbTooltip="Visualizar" placement="bottom">
                                                            <i class="fa fa-eye white-text"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </mdb-tab>

                        <mdb-tab heading="Trabajadores" class="height-card scrollbar-card scrollbar-ripe-malinka">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Input de busqueda -->
                                    <div class="col-12">
                                        <div class="in input-group md-form form-inline form-sm form-2 pl-0 mt-5">
                                            <i class="fa fa-search position-margin" aria-hidden="true"></i>
                                            <input class="form-control w-75 ml-3" type="search" placeholder="Buscar" aria-label="Buscar" [(ngModel)]="buscando">
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Nombre</th>
                                                        <th>Apellidos</th>
                                                        <th>Telefono</th>
                                                        <th>Acción</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let trabajador of trabajadores | buscarTrabajador: buscando; let i = index">
                                                        <th scope="row">{{i+1}}</th>
                                                        <td>{{trabajador.Nombres}}</td>
                                                        <td>{{trabajador.Apellidos}}</td>
                                                        <td>{{trabajador.Telefono1}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm orange-chang" (click)="visualizarTrabajador(trabajador)" mdbTooltip="Visualizar" placement="bottom">
                                                                <i class="fa fa-eye white-text"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mdb-tab>
                    </mdb-tabset>
                </div>
            </div>
        </div>

        <!-- Contenedor de imagen y detalles -->
        <div class="col-sm-12 col-md-12 col-lg-4 mt-5">
            <!--Card-->
            <div class="card agenda-card">


                <!--Avatar-->
                <div class="avatar z-depth-1-half mb-4 white">
                    <img [src]="trabajador.Imagen | imagen:'trabajadores'" class="rounded-circle" alt="Proveedor" style="height: 100% !important; width: 100% !important;">
                </div>

                <div class="card-body pt-0 mt-0">
                    <!--Name-->
                    <div class="text-center">
                        <!-- Aca va el nombre de la persona -->
                        <h3 class="mb-3 font-bold">
                            <strong>{{nombreCard}}</strong>
                        </h3>
                        <!-- Si es proveedore aqui va la compañia a la que pertenece en caso que sea empleado aca va la sucursal -->
                        <h6 class="font-bold red-chang-text mb-4">{{trabajador.NombSucursal}}</h6>
                    </div>

                    <ul class="striped list-unstyled text-center">
                        <li>
                            <strong>{{tabSeleccionado == 'trabajador' ? 'Documento : ' : 'Nombre representante : ' }}
                            </strong>{{docTrabajadorONombreRepresentanteProveedor}}</li>
                        <hr>
                        <li>
                            <strong>Telefono: </strong>{{telefonoMostrado}}</li>
                        <hr>
                        <li>
                            <strong>{{tabSeleccionado == 'trabajador' ? 'Desde : ' : 'Email : '}}</strong>{{tabSeleccionado == 'trabajador' ? (trabajador.FechaIngreso | date:'yyyy-MM-dd') : proveedor.Email}}</li>

                    </ul>

                </div>

            </div>
            <!--Card-->

        </div>
    </div>
    <!-- /.Contenedor de imagen y detalles -->
</section>