.height-card-productos {
  height: 68% !important;
}

@media (max-width: 970px) {
  .height-card-productos {
    height: calc(68% + 150px) !important;
  }
}

@media (max-width: 750px) {
  .height-card-productos {
    height: calc(68% + 400px) !important;
  }
}

input[type="checkbox"][readonly] {
  pointer-events: none;
}

.add-btn-position-factura {
  position: relative !important;
  top: 20% !important;
  transform: translateY(-65%) !important;
}

@media only screen and (max-width: 992px) {
  .add-btn-position-factura {
    top: 0% !important;
    margin-bottom: 25px !important;
    margin-top: -30px;
  }
}

@media only screen and (max-width: 970px) {
  .add-btn-position-factura {
    top: 0% !important;
    margin-bottom: -8px !important;
    margin-top: -30px;
  }
}

.height-title {
  height: 13% !important;
}

.center-text {
  position: relative !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

#id-text-align-table {
  text-align: center !important;
}

#id-padding-check {
  margin-bottom: 10%;
}

.opacity {
  opacity: 1 !important;
}

.margin-bottom-inputs {
  margin-bottom: -4px;
}

.margin-bottom-inputs-outside {
  margin-bottom: -30px;
}

tbody {
  display:block;
  height:40vh;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width: 100%;
  table-layout:fixed;
}

// Tabla media
@media only screen and (max-width: 1049px) {
  thead, tbody  {
    width: auto;
  }
}
