<section>
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <mdb-card cascade="true" narrower="true" id="card-info">
                <div class="view view-cascade gradient-card-header orange-chang">
                    <h3 class="card-header-title mb-2">Información</h3>
                </div>
                <mdb-card-body cascade="true">
                    <div class="container-fluid">
                        <!-- Inicio form-->
                        <form [formGroup]="formAddFactura" novalidate>

                            <div class="row">

                                <div class="col-12 col-sm-12 col-md-12 col-lg-10 mt-1" >
                                    <label class="margin-label-proveedor">Proveedor</label>
                                    <div class="md-form">
                                        <ng-select [items]="proveedores" bindLabel="NombreProveedor" bindValue="IdProveedor"
                                            id="proveedor" placeholder="Selecciona un proveedor" (change)="onChangeProveedor($event)"
                                            formControlName="proveedor" >
                                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                <div style="margin: 10px 0;" class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title" [ngOptionHighlight]="search">{{item.NombreProveedor}}</h5>
                                                        <p class="card-subtitle mb-2 text-muted">
                                                            <b>Nombre del Representante</b>
                                                            <br>
                                                            <i>{{item.NombreRepresentante}}</i>
                                                        </p>
                                                        <p class="card-text">
                                                            <b>Descripcion</b>
                                                            <br>
                                                            <i>{{item.Descripcion}}</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <show-errors [control]="formAddFactura.controls['proveedor']"></show-errors>
                                    </div>
                                    <br>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-2 mt-3">
                                    <button mdbBtn type="button" size="sm" block="true" class="orange-chang waves-light add-btn-position-factura"
                                        tabindex="-1" mdbTooltip="Proveedor" placement="bottom" (click)="agregarProveedor()"
                                        mdbWavesEffect>Agregar</button>
                                </div>

                                <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-2 mt-3 mt-btn-factura">
                                    <button mdbBtn type="button" size="sm" block="true" class="orange-chang waves-light add-btn-position-factura"
                                        tabindex="-1" mdbTooltip="Ingresar foto de factura física" placement="bottom"
                                        (click)="modalRespaldo.show()" mdbWavesEffect>Respaldo</button>
                                </div> -->

                                <div class="col-md-2 mt-codigo-factura"  >
                                    <div class="md-form">
                                        <input Alphanumeric [mdbValidate]=false mdbInputDirective type="text" id="numeroFactura"
                                            placeholder="Ej: BD200" class="form-control" autocomplete="off"
                                            formControlName="codigoFactura"
                                            [attr.disabled]="deshabilitarCampos()">
                                        <label for="codigoFactura">Código de Factura</label>
                                        <show-errors [control]="formAddFactura.controls['codigoFactura']"></show-errors>
                                    </div>
                                </div>

                                <div class="col-md-2 mt-codigo-factura">
                                    <div class="md-form">
                                        <input [mdbValidate]=false mdbInputDirective onlyNumbers="decimal" type="text"
                                            placeholder="Ej: 1200" class="form-control" autocomplete="off"
                                            formControlName="totalFacturaOrigen"
                                            [attr.disabled]="deshabilitarCampos()">
                                        <label for="totalFacturaImpresa">Total Factura Impresa</label>
                                    </div>
                                </div>

                                <div class="col-md-2 mt-codigo-factura">
                                    <div class="md-form">
                                        <input [mdbValidate]=false [attr.disabled]="existeProductoConDescuento()"
                                            mdbInputDirective onlyNumbers="decimal" type="text" placeholder="Ej: 500"
                                            formControlName="descuentoGlobal" class="form-control" autocomplete="off"
                                            [attr.disabled]="deshabilitarCampos()">
                                        <label for="descuentTotalFactura">Descuento Total Factura</label>
                                    </div>
                                </div>

                                <div class="col-md-3 mt-2">
                                    <div class="md-form">
                                        <input formControlName="fechaFactura" name="FechaFactura" [owlDateTimeTrigger]="dt1"
                                            [owlDateTime]="dt1" class="input-picker form-control" [mdbValidate]=false
                                            id="fechaFactura" placeholder="Seleccioné" mdbInputDirective [max]="fechaActual"
                                            (ngModelChange)="ingresoFechaRecepcion($event)" readonly>
                                        <owl-date-time [disabled]="deshabilitarCampos()" [pickerType]="'calendar'" #dt1></owl-date-time>
                                        <label for="fechaFactura">Fecha factura</label>
                                    </div>

                                </div>

                                <div class="col-md-3 mt-2">
                                    <div class="md-form">
                                        <input formControlName="fechaRecepcion" name="FechaRecepcion"
                                            [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" class="input-picker form-control"
                                            [mdbValidate]=false id="fechaRecepcion" placeholder="Seleccioné"
                                            mdbInputDirective [min]="SeleccionarFechaFactura" [max]="fechaActual" readonly>
                                        <owl-date-time   [disabled]="deshabilitarCampos()" [pickerType]="'calendar'" #dt2></owl-date-time>
                                        <label for="fechaRecepcion">Fecha recepción</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <br>
                                    <label class="grey-text-card">Moneda</label>
                                    <ng-select dropdownPosition="top" class="disabled" [items]="Moneda" (change)="changeMoneda($event)"
                                        formControlName="Moneda" bindLabel="Moneda"
                                        bindValue="Id" id="moneda"
                                        [attr.disabled]="deshabilitarCampos()">
                                    </ng-select>
                                </div>

                                <div class="col-md-6">
                                    <br>
                                    <label class="grey-text-card">Forma de Pago</label>
                                    <ng-select dropdownPosition="top" class="disabled" [items]="FormaPago" (change)="changeFormaPlazoPago($event)"
                                        formControlName="FormaPago" bindLabel="FormaPago"
                                        bindValue="Id" id="pago"  [attr.disabled]="deshabilitarCampos()">
                                    </ng-select>
                                </div>

                                <div class="col-md-6 mt-3">
                                    <div *ngIf="mostrarComboTipoMoneda" class="md-form">
                                        <input mdbInputDirective [mdbValidate]=false type="number" id="tipoCambio"
                                            formControlName="TipoCambio" class="form-control" autocomplete="off">
                                        <label for="tipoCambio">Tipo de Cambio</label>
                                    </div>
                                </div>

                                <div class="col-md-6 mt-3">
                                    <div *ngIf="mostrarComboPlazoPagos" class="md-form">
                                        <input mdbInputDirective [mdbValidate]=false type="number" id="plazoPagos"
                                            formControlName="PlazoPagos" class="form-control" autocomplete="off">
                                        <label for="plazoPagos">Plazo de pagos(dias)</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Final form -->
                    </div>
                </mdb-card-body>
            </mdb-card>
            <br>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 mb-r">

            <div class="card card-cascade narrower">
                <div class="view view-cascade gradient-card-header orange-chang">
                    <h3 class="card-header-title mb-2">Productos</h3>
                </div>

                <div class="container-fluid mt-3">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 mb-0">
                            <div class="input-group md-form form-inline form-sm pl-0">
                                <i class="fa fa-search mt-2" aria-hidden="true"></i>
                                <input class="form-control w-75 ml-3" type="search" placeholder="Buscar" [(ngModel)]="buscando"
                                    aria-label="Buscar">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 mt-3 ml-0 pt-0">
                            <button mdbBtn type="button" size="sm" block="true" class="orange-chang waves-light text-nowrap"
                                (click)="agregarNuevoProducto()" mdbWavesEffect>Agregar
                                Producto
                            </button>
                        </div>
                        <div class="col-lg-2 col-md-12 col-sm-12 mt-3 ml-0 pt-0">
                            <button mdbBtn type="button" size="sm" block="true" class="orange-chang waves-light text-nowrap"
                                (click)="actualizarListaProductos()" mdbWavesEffect>Actualizar
                                Lista
                            </button>
                        </div>
                    </div>
                </div>


                <div class="card-body">

                    <div class="table-responsive-sm">
                        <table id="tabla" mdbTable hover="true">
                            <thead>
                                <tr>
                                    <th class="col-xs-1">No. Registro</th>
                                    <th class="col-xs-1">Cód. Producto</th>
                                    <th class="col-xs-2">Nombre del producto</th>
                                    <th class="col-xs-2">Cantidad</th>
                                    <th class="col-xs-1">Precio</th>
                                    <th class="col-xs-1">Descuento</th>
                                    <th class="text-center col-xs-1">
                                        Tipo Descuento
                                    </th>
                                    <th class="text-center col-xs-1">IVA</th>
                                    <!-- <th class="text-center">Fecha vencimiento</th> -->
                                    <th class="text-center col-xs-2">Acción</th>
                                </tr>
                            </thead>
                            <tbody class="scrollbar-ripe-malinka">

                                <tr *ngFor="let producto of productosFiltrados | buscar: buscando; trackBy: trackById; let i = index">
                                    <th scope="row" class="align-middle col-xs-1">{{i + 1}}</th>
                                    <th scope="row" class="align-middle col-xs-1">{{producto.CodigoProducto !==
                                        null ? producto.CodigoProducto : producto.CodigoInterno}}</th>
                                    <td class="align-middle col-xs-2">{{producto.NombreProducto}}</td>
                                    <td class="col-xs-2">
                                        <div class="md-form">
                                            <input mdbInputDirective [mdbValidate]=false [(ngModel)]="producto.Cantidad"
                                                (input)="onSearchChangeCantidadProducto($event.target.value,producto)"
                                                type="text" name="cantidadProducto" onlyNumbers="decimal" min="0" class="input-modal-sm"
                                                style="width: 60% !important;" maxlength="7"> 
                                        </div>
                                    </td>
                                    <td class="col-xs-1">
                                        <div class="md-form">
                                            <input mdbInputDirective [mdbValidate]=false [(ngModel)]="producto.Costo"
                                                (input)="onSearchChangePrecioProducto($event.target.value,producto)"
                                                name="precioProducto" class="input-modal-sm" onlyNumbers="decimal"
                                                style="width: 60% !important;" maxlength="7">
                                        </div>
                                    </td>
                                    <td class="col-xs-1">
                                        <div class="md-form">
                                            <input [mdbValidate]=false [disabled]="deshabilitarDescuentoXItem" (input)="onSearchChangeDescuentoProducto($event.target.value,producto)"
                                                mdbInputDirective [(ngModel)]="producto.DescuentoIngresado" type="text"
                                                [NegOrPosNumber]="EstadoCheckTipoDescuento" id="valorDescuento" name="valorDescuento" min="0"
                                                class="input-modal-sm" style="width: 60% !important;">
                                        </div>
                                    </td>

                                    <td class="text-center align-middle col-xs-1">
                                        <div class="switch chang-switch">
                                            <div class=" form-inline form-check">
                                                <label>
                                                <mdb-icon icon="money"></mdb-icon>
                                                <input (change)="changeTipoDescuento($event, producto)" [(ngModel)]="producto.IsDescuentoPorcentual"
                                                        type="checkbox">
                                                <span class="lever"></span>
                                                <mdb-icon icon="percent"></mdb-icon>
                                                </label>    
                                            </div>
                                        </div>
                                    </td>   

                                    <td class="text-center align-middle col-xs-1">
                                        <mdb-checkbox class="checkbox-chang-filled" [checked]="producto.GravadoIva"
                                            (change)="changeIva($event, producto)" id="ei{{i}}"></mdb-checkbox>
                                    </td>

                                    <td class="text-center align-middle col-xs-2">
                                        <button mdbBtn type="button" class="orange-chang" (click)="agregarProductoAFactura(producto)"
                                            size="sm" mdbTooltip="Agregar a factura" placement="bottom" mdbWavesEffect>
                                            <mdb-icon icon="check"></mdb-icon>
                                        </button>
                                        <button mdbBtn type="button" class="orange-chang" (click)="mostrarProducto(producto)"
                                            size="sm" mdbTooltip="Visualizar producto" placement="bottom"
                                            mdbWavesEffect>
                                            <mdb-icon icon="eye"></mdb-icon>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
            <mdb-card>
                <div class="container-fluid mt-3">
                    <div class="table-responsive">
                        <!-- Lista de productos -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="header-negrita text-center">Cod. Producto</th>
                                    <th class="header-negrita">Producto</th>
                                    <th class="header-negrita text-center">Unidad Medida</th>
                                    <th class="header-negrita">Cantidad</th>
                                    <th class="header-negrita">Precio unitario</th>
                                    <th class="header-negrita">Descuento</th>
                                    <th class="header-negrita text-center">IVA</th>
                                    <th class="header-negrita">Total</th>
                                    <th class="header-negrita">Total neto</th>
                                    <th class="header-negrita centrar-texto">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let productoFactura of productosFactura;let i = index">
                                    <th scope="row" class="align-middle" width="5%">{{i + 1}}</th>
                                    <td class="body-negrita align-middle text-center">{{productoFactura.CodigoProducto
                                        !== null ? productoFactura.CodigoProducto : productoFactura.CodigoInterno}}</td>
                                    <td class="body-negrita align-middle">{{productoFactura.NombreProducto}}</td>
                                    <td class="body-negrita align-middle  text-center">{{productoFactura.NombreUnidad}}</td>
                                    <td class="body-negrita align-middle">{{productoFactura.Cantidad}}</td>
                                    <td class="body-negrita align-middle">{{productoFactura.Costo}}
                                        {{simboloMonedaUtilizado}}</td>
                                    <td width="10%" class="body-negrita align-middle">
                                        <strong>{{productoFactura.IsDescuentoPorcentual ?
                                            productoFactura.PorcentajeDescuento * 100 :
                                            productoFactura.DescuentoIngresado}}
                                            {{productoFactura.IsDescuentoPorcentual ? ' %' : ' C$'}} </strong>
                                    </td>
                                    <td class="body-negrita align-middle text-center">
                                        <strong>{{productoFactura.GravadoIva == 1 ? 'SI' : 'NO' }}</strong>
                                    </td>
                                    <td width="10%" class="body-negrita align-middle">{{productoFactura.Subtotal |
                                        number
                                        : '1.2-2'}} {{simboloMonedaUtilizado}}
                                    </td>
                                    <td width="10%" class="body-negrita align-middle">{{productoFactura.TotalDetalle |
                                        number
                                        : '1.2-2'}} {{simboloMonedaUtilizado}}
                                    </td>
                                    <td>
                                        <div class="text-center">

                                            <button mdbBtn type="button" size="sm" class="orange-chang" id="btneditarproductos"
                                                (click)="showModalDetalleProducto(productoFactura)" mdbTooltip="Editar producto"
                                                placement="bottom">
                                                <mdb-icon icon="pencil"></mdb-icon>
                                            </button>

                                            <button mdbBtn type="button" size="sm" class="orange-chang" (click)="eliminarProductoDeFactura(productoFactura, i)"
                                                mdbTooltip="Eliminar producto de factura" placement="bottom">
                                                <mdb-icon icon="times"></mdb-icon>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.Lista de productos -->
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-10 col-md-10 col-sm-6 col-6 text-lg-right text-md-right text-sm-center text-center">
                            <form [formGroup]="formDetallesFactura" novalidate>

                                <div class="col-lg-12 col-md-12">
                                    <label for="SubTotal">
                                        <strong>SubTotal</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="SubTotal">
                                        <strong>Descuento</strong>
                                    </label>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <label for="SubTotal">
                                        <strong>SubTotal descuento aplicado</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="porcentajeiva">
                                        <strong>IVA(15%)</strong>
                                    </label>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <label for="Total">
                                        <strong>Total</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="Total">
                                        <strong>Total Factura Impresa</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="Total">
                                        <strong>Diferencia</strong>
                                    </label>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-6 col-6 text-lg-right text-md-right text-sm-center text-center">
                            <form>
                                <div class="">
                                    <label>{{subTotalFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>{{descuentoCalculoFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>{{subtotalFacturaConDescuento | number : '1.2-2'}} {{simboloMonedaUtilizado
                                        }}</label>
                                </div>
                                <div class="">
                                    <label>{{ivaCalculoFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>{{totalFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>
                                        {{formAddFactura.controls['totalFacturaOrigen'].value | number : '1.2-2'}}
                                        {{simboloMonedaUtilizado}}
                                    </label>
                                </div>
                                <div class="">
                                    <label>
                                        {{totalFactura - formAddFactura.controls['totalFacturaOrigen'].value | number :
                                        '1.2-2'}} {{simboloMonedaUtilizado}}
                                    </label>
                                </div>
                            </form>
                        </div>

                    </div>

                    <!-- Acciones -->
                    <div class="row justify-content-center mt-3">

                        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
                            <div class="md-form">
                                <button mdbBtn type="button" (click)="crearFactura()" [disabled]="!formAddFactura.valid"
                                    class="orange-chang" block="true" mdbWavesEffect>Guardar
                                    Factura
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </mdb-card>
        </div>
    </div>
</section>

<!-- Modal Mostrar Info de producto -->
<div mdbModal #modalVerProducto="mdb-modal" class="modal modal-scroll fade" id="modalVerProducto" tabindex="-1">
    <div class="modal-dialog modal-lg cascading-modal " role="document">
        <!--Contenido-->
        <div class="modal-content background-gray mdl">

            <!--Titulo-->
            <div class="modal-header orange-chang white-text">
                <h4 class="title">Información del producto</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                    (click)="modalVerProducto.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Cuerpo modal-->
            <div class="modal-body mb-0">
                <div class="container-fluid">
                    <!-- Inicio form-->
                    <form>
                        <div class="row">

                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Nombre</h6>
                                                <input type="text" id="nombreProducto" minlength="4" maxlength="50"
                                                    class="input-modal-sm" name="nombreProducto" value={{productoSeleccionado.NombreProducto}}
                                                    readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Tipo de Insumo</h6>
                                                <input type="text" id="tipoInsumo" minlength="4" maxlength="50" class="input-modal-sm"
                                                    name="tipoInsumo" value="Insumo Test" readonly value={{productoSeleccionado.DescripcionInsumo}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Código Producto</h6>
                                                <input type="text" id="codigo" minlength="4" maxlength="50" class="input-modal-sm"
                                                    name="codigoproducto" value={{productoSeleccionado.CodigoProducto}}
                                                    readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Código Interno</h6>
                                                <input type="text" id="codigoInterno" minlength="4" maxlength="50"
                                                    class="input-modal-sm" name="codigoInterno" readonly value={{productoSeleccionado.CodigoInterno}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Categoria</h6>
                                                <input type="text" class="input-modal-sm" readonly value={{productoSeleccionado.NombreCategoria}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Clasificación</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreClasificacion}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Subclasificación</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreSubClasificacion}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Empaque</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreEmpaque}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Cantidad por Empaque</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.CantidadEmpaque}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6 margin-bottom-inputs">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Envase</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreEnvase}}>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!-- Final form -->
                </div>
            </div>
        </div>
        <!--/.Contenido-->
    </div>
</div>

<!-- Modal para agregar detalles de producto -->
<div mdbModal #modalAgregarDetalleProducto="mdb-modal" class="modal fade" id="modalAgregarDetalleProducto" tabindex="-1"
    role="dialog" aria-labelledby="modalAgregarDetalleProducto" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Contenido-->
        <div class="modal-content background-gray mdl">

            <div class="modal-header white-text orange-chang">
                <h4 class="title">
                    <mdb-icon icon="file-text-o"></mdb-icon> Editar Detalle Producto<span id="nombreProductoModal"><br>{{productoEditar.NombreProducto}}
                    </span>
                </h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                    (click)="modalAgregarDetalleProducto.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Cuerpo modal-->
            <div class="modal-body mb-0">

                <form [formGroup]="formEditarDetalleProducto" (ngSubmit)="editarDatosProducto()" novalidate>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <div class="md-form">
                                <h6 class="orange-chang-text">Cantidad</h6>
                                <input formControlName="cantidadProducto" onlyNumbers="decimal" type="number" id="cantidadProducto"
                                    class="input-modal-sm" name="cantidadProducto">
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="md-form">
                                <h6 class="orange-chang-text">Precio</h6>
                                <input type="number" formControlName="precioProducto" onlyNumbers="decimal" id="precioProducto"
                                    class="input-modal-sm" name="precioProducto">
                            </div>
                        </div>
                        <div class="col-md-4 mt-4 text-center">
                            <h6 class="orange-chang-text mb-3">Gravado
                                de Iva</h6>
                            <mdb-checkbox class="checkbox-chang-filled" name="seleccionarcheck" formControlName="gravadoIva"></mdb-checkbox>
                            <show-errors [control]="formEditarDetalleProducto.controls['gravadoIva']"></show-errors>
                        </div>
                        <div class="col-md-4 mt-4 text-center">
                            <h6 class="orange-chang-text mb-4">Tipo Descuento</h6>
                            <div class="switch chang-switch">
                                <label>
                                    <mdb-icon icon="money"></mdb-icon>
                                    <input type="checkbox" formControlName="tipoDescuento">
                                    <span class="lever"></span>
                                    <mdb-icon icon="percent"></mdb-icon>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="md-form">
                                <h6 class="orange-chang-text">Descuento</h6>
                                <input type="number" id="descuentoTotalProducto" class="input-modal-sm" name="descuentoTotalProducto"
                                    formControlName="descuentoTotalProducto" onlyPositiveNumber>
                            </div>
                            <show-errors [control]="formEditarDetalleProducto.controls['descuentoTotalProducto']"></show-errors>
                        </div>
                    </div>

                    <div class="text-center mt-3">
                        <button mdbBtn type="button" class="orange-chang mb-1" type="submit" [disabled]="!formEditarDetalleProducto.valid">Ingresar
                            <mdb-icon class="ml-1" icon="check"></mdb-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.Contenido-->
    </div>
</div>

<!-- Modal respaldo factura fisica -->
<div mdbModal #modalRespaldo="mdb-modal" class="modal fade" id="modalRespaldo" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Contenido-->
        <div class="modal-content background-gray mdl">

            <!--Header-->
            <div class="modal-header white-text orange-chang">
                <h4 class="title">
                    <mdb-icon icon="file-text-o"></mdb-icon> Respaldo de Factura Física
                </h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close"
                    (click)="modalRespaldo.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!--Cuerpo Modal-->
            <div class="modal-body mb-0">

                <form [formGroup]="" novalidate>

                    <div class="card-body text-center animated zoomIn" data-wow-delay="0.6s">
                        <input type="file" (change)="fileChangeEvent($event)" id="imageRespaldoFactura" class="dropify"
                            data-height="300" data-allowed-file-extensions="jpg png jpeg" />
                    </div>

                    <div class="text-center mt-1-half">
                        <button mdbBtn type="button" class="orange-chang mb-1">Ingresar
                            <mdb-icon class="ml-1" icon="check"></mdb-icon>
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <!--/.Contenido-->
    </div>
</div>