<section>

  <div class="row">
    <!--Datos del Proveedor-->
    <div class="col-lg-12">
      <div class="card card-cascade narrower">
        <div class="view gradient-card-header orange-chang">
          <h4 class="mb-0">Agregar Proveedor</h4>
        </div>
        <!-- Contenido -->
        <div class="card-body ">

          <form [formGroup]="formAddProveedor" (ngSubmit)="createProveedor()" novalidate>
            <div class="row">

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input mdbActive type="text" id="nombreProveedor" formControlName="nombreProveedor" class="form-control letras" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['nombreProveedor']"></show-errors>
                  <label for="nombreProveedor">Nombre Empresa</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input mdbActive type="text" id="numeroruc" formControlName="numeroRuc" class="form-control" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['numeroRuc']"></show-errors>
                  <label for="numeroruc">Número Ruc</label>
                </div>
              </div>

              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <textarea mdbActive type="text" id="direccionProveedor" formControlName="direccionProveedor" class="md-textarea" autocomplete="off"
                    ></textarea>
                  <show-errors [control]="formAddProveedor.controls['direccionProveedor']"></show-errors>
                  <label for="direccionProveedor">Dirección Proveedor</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input mdbActive type="text" id="nombreRepresentante" formControlName="nombreRepresentante" class="form-control letras" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['nombreRepresentante']"></show-errors>
                  <label for="nombreRepresentante">Nombre Representante</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input mdbActive type="email" id="email" formControlName="email" class="form-control" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['email']"></show-errors>
                  <label for="email">Correo Electrónico</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input mdbActive type="number" id="telefonoProveedor" formControlName="telefono1" class="form-control" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['telefono1']"></show-errors>
                  <label for="telefonoProveedor">Telefóno</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input mdbActive type="number" id="telefonoProveedoropcional" formControlName="telefono2" class="form-control"
                    autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['telefono2']"></show-errors>
                  <label for="telefonoProveedoropcional">Telefóno (Opcional)</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <textarea mdbActive type="text" id="descripcionProveedor" formControlName="descripcionProveedor" class="md-textarea" autocomplete="off"
                    ></textarea>
                  <show-errors [control]="formAddProveedor.controls['descripcionProveedor']"></show-errors>
                  <label for="descripcionProveedor">Descripción Proveedor</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <br>
                <br>
                <input class="filled-in" type="checkbox" value="validando_checkbox1" name="seleccionarcheck" id="segundo2" formControlName="retencion">
                <label for="segundo2">
                  <strong>Aplica Retención</strong>
                </label>
              </div>

            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1" [disabled]="!formAddProveedor.valid">Ingresar
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>

          </form>
        </div>
        <!-- Contenido -->
      </div>
    </div>
  </div>
</section>