<section>

  <div class="row">
    <!--Datos del Proveedor-->
    <div class="col-lg-12">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header orange-chang">
          <h4 class="mb-0">Agregar Proveedor</h4>
        </div>
        <!-- Contenido -->
        <div class="card-body">

          <form [formGroup]="formAddProveedor" (ngSubmit)="createProveedor()" novalidate>
            <div class="row justify-content-md-center">

              <div class="col-sm-12 col-md-4">
                <br>
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="text" id="nombreProveedor" formControlName="nombreProveedor"
                    class="form-control letras" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['nombreProveedor']"></show-errors>
                  <label for="nombreProveedor">Nombre Empresa</label>
                </div>
              </div>

              <div class="col-sm-9 col-md-4">
                <br>
                <div class="md-form">
                  <input onlyNumbers="int" [mdbValidate]=false mdbInputDirective type="text" id="numeroruc" formControlName="numeroRuc"
                    class="form-control" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['numeroRuc']"></show-errors>
                  <label for="numeroruc">Número Ruc</label>
                </div>
              </div>

              <div class="col-sm-3 col-md-3 mt-3">
                <div class="form-check mt-5 checkbox-chang-filled">
                  <input [mdbValidate]=false type="checkbox" formControlName="isMercado" class="form-check-input" name="chkMercado"
                    id="chkMercado" mdbInputDirective>
                  <label class="form-check-label" for="chkMercado">Mercado</label>
                </div>
              </div>

              <div class="col-sm-9 col-md-8 mt-4">
                <div class="md-form">
                  <textarea [mdbValidate]=false type="text" id="direccionProveedor" formControlName="direccionProveedor"
                    class="md-textarea form-control" autocomplete="off" mdbInputDirective></textarea>
                  <show-errors [control]="formAddProveedor.controls['direccionProveedor']"></show-errors>
                  <label for="direccionProveedor">Dirección Proveedor</label>
                </div>
              </div>

              <div class="col-sm-3 col-md-3 mt-5">
                <div class="form-check checkbox-chang-filled mtc">
                  <input [mdbValidate]=false class="form-check-input" type="checkbox" value="validando_checkbox1" name="seleccionarcheck"
                    id="segundo2" formControlName="retencion" mdbInputDirective>
                  <label class="form-check-label" for="segundo2">Aplica Retención</label>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 mt-4">
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="text" id="nombreRepresentante" formControlName="nombreRepresentante"
                    class="form-control letras" autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['nombreRepresentante']"></show-errors>
                  <label for="nombreRepresentante">Nombre Representante</label>
                </div>
              </div>

              <div class="col-sm-9 col-md-4 mt-4">
                <div class="md-form">
                  <input [mdbValidate]=false mdbInputDirective type="email" id="email" formControlName="email" class="form-control"
                    autocomplete="off">
                  <show-errors [control]="formAddProveedor.controls['email']"></show-errors>
                  <label for="email">Correo Electrónico</label>
                </div>
              </div>

              <div class="col-sm-3 col-md-3 mt-5">
                <a class="btn orange-chang mb-1 ml-4 btn-sm white-text" role="button" (click)="showModalTelefonos()">
                  Telefonos<i class="fa fa-phone ml-1"></i>
                </a>
              </div>

              <div class="col-sm-12 col-md-8 mt-4">
                <div class="md-form">
                  <textarea [mdbValidate]=false mdbInputDirective type="text" id="descripcionProveedor" formControlName="descripcionProveedor"
                    class="md-textarea form-control" autocomplete="off"></textarea>
                  <show-errors [control]="formAddProveedor.controls['descripcionProveedor']"></show-errors>
                  <label for="descripcionProveedor">Descripción Proveedor</label>
                </div>
              </div>

              <div class="col-md-3"></div>

            </div>

            <div class="text-center mt-3">
              <button class="btn orange-chang mb-1" [disabled]="!formAddProveedor.valid">Ingresar
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>

          </form>
        </div>
        <!-- Contenido -->
      </div>
    </div>
  </div>
</section>

<!-- Modal para agregar telefonos asociados al proveedor -->
<div mdbModal #modalTelefonos="mdb-modal" class="modal fade" id="modalTelefonos" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-lg" role="document" style="height: 41%;">
    <!--Contenido-->
    <div class="modal-content background-gray mdl">

      <!--Header-->
      <div class="modal-header white-text orange-chang">
        <h4 class="title">
          <i class="fa fa-file-text-o"></i> Telefonos del proveedor</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalTelefonos.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <!--Cuerpo Modal-->
      <div class="modal-body mb-0">

        <div class="container-fluid">
          <form [formGroup]="formAddTelefonos" (ngSubmit)="agregarTelefonosProveedor()" novalidate>

            <div class="container-fluid">
              <div class="in input-group md-form form-inline form-sm form-2 pl-0">
                <i class="fa fa-search mt-3" aria-hidden="true"></i>
                <input class="form-control w-50 ml-3" type="search" placeholder="Buscar" aria-label="Buscar">
                <!-- <a class="btn orange-chang my-0 ml-3 white-text" role="button" (click)="agregarTelefono()">Agregar</a> -->
              </div>
            </div>

            <div class="scrollbar-card scrollbar-ripe-malinka">
              <fieldset *ngFor="let telefono of telefonos; let i = index" class="mb-fieldset">
                <div class="container pl-4 pr-4">

                  <div class="row justify-content-md-center">

                    <div [ngClass]="(i === 0) ? 'col-md-3':'col-md-3'">
                      <div class="md-form">
                        <h6 class="orange-chang-text" *ngIf="i===0">Nombre</h6>
                        <input type="text" id="n{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono.Nombre"
                          class="input-modal-sm">
                      </div>
                    </div>

                    <div [ngClass]="(i === 0) ? 'col-md-3':'col-md-3'">
                      <div class="md-form">
                        <h6 class="orange-chang-text" *ngIf="i===0">Cargo</h6>
                        <input type="text" id="c{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono.Cargo"
                          class="input-modal-sm">
                      </div>
                    </div>

                    <div [ngClass]="(i === 0) ? 'col-md-3':'col-md-3'">
                      <div class="md-form">
                        <h6 class="orange-chang-text" *ngIf="i===0">Télefono</h6>
                        <input type="text" id="t{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono.Telefono"
                          class="input-modal-sm">
                      </div>
                    </div>

                    <div *ngIf="i !== 0" class="col-md-1 mr-2">
                      <div class="md-form">
                        <a class="btn red-chang white-text btn-sm ml-3 mb-5 " id="remove" (click)="eliminarTelefono(telefono,i)"
                          mdbTooltip="Eliminar Telefóno" placement="bottom" role="button"><i class="fa fa-close"
                            aria-hidden="true"></i></a>
                      </div>
                    </div>

                    <div [ngClass]="(i === 0) ? 'col-md-2 mt-4':'col-md-1'">
                      <div class="md-form">
                        <a class="btn white-text btn-sm ml-3 mb-5 color-add" id="add" (click)="agregarTelefono(telefono,i)"
                          mdbTooltip="Agregar Telefóno" placement="bottom" role="button"><i class="fa fa-plus"
                            aria-hidden="true"></i></a>
                      </div>
                    </div>

                    <div id="inputs-telefono"></div>

                  </div>

                </div>
              </fieldset>
            </div>

            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1">Ingresar
                <i class="fa fa-check ml-1"></i>
              </button>
            </div>

          </form>
        </div>

      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>