


  <!-- Breadcrumb-->
  <div class="breadcrumbs breadcrumb-dn mr-auto">
    <a class="navbar-brand">
      <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
    </a>
    <ol class="breadcrumb d-inline-flex pl-0 pt-0">
      <li class="breadcrumb-item"><a class="white-text">{{label}}</a></li>
      <!--<li class="breadcrumb-item active"></li>-->
    </ol>
  </div>
  <!--/. Breadcrumb-->
  <!-- Logo -->
  <!--<div class="breadcrumbs breadcrumb-dn mr-auto">-->
    <!--<p>Restaurante de la Familia Chang</p>-->
  <!--</div>-->
  <!--/. Logo -->


