<div class="container my-5">
    <div class="row">

        <div class="col-12">
            <div class="in input-group md-form form-inline form-sm form-2 pl-0 mt-5">
                <i class="fa fa-search mt-3 black-text" aria-hidden="true"></i>
                <input class="form-control w-75 ml-3" type="search" placeholder="Buscar" aria-label="Buscar"
                       [(ngModel)]="findText" id="search">
            </div>
        </div>

    </div>

    <table mdbTable #tableEl="mdbTable" hover="true" small="true" bordered="true" striped="true">
        <thead>
        <tr>
            <th [mdbTableSort]="elements" *ngFor="let head of headElements" [sortBy]="metodo(head, th)"  #th scope="col">{{head}} </th>
        </tr>
        </thead>
        <tbody>
        <tr mdbTableCol *ngFor="let el of elements; let i = index" #tablerow>
        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
            <td colspan="5">
                <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements">
                </mdb-table-pagination>
            </td>
        </tr>
        </tfoot>

    </table>
</div>
