<div class="container-fluid mt-5">
  <section>
    <div class="row">
      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input name="imagen" type="file" class="dropify" (change)="fileChangeEvent($event)" data-height="300" data-allowed-file-extensions="jpg jpeg png"
              data-height="300" />
          </div>
        </div>
      </div>
      <!-- /.Imagen -->

      <!--Datos del Trabajador-->
      <div class="col-lg-8  ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Trabajador</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">
            <!-- Formulario -->
            <form [formGroup]="formAddTrabajador" (ngSubmit)="guardarImagenTrabajador()" novalidate>
              <!-- Campos a ingresar -->
              <div class="row">

                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbActive type="text" id="nombreTrabajador" name="Nombres" formControlName="nombreTrabajador" required class="form-control validate letras">
                    <show-errors [control]="formAddTrabajador.controls['nombreTrabajador']"></show-errors>
                    <label for="nombreTrabajador">Nombres</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbActive type="text" id="Apellidos" name="Apellidos" formControlName="apellido" required class="form-control validate letras">
                    <show-errors [control]="formAddTrabajador.controls['apellido']"></show-errors>
                    <label for="Apellidos">Apellidos</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form">
                    <mdb-date-picker [placeholder]="'Fecha de Ingreso'" mdbActive name="FechaIngreso" id="fechaIngreso" formControlName="fechaIngreso"
                      [options]="myDatePickerOptions" required></mdb-date-picker>
                    <show-errors [control]="formAddTrabajador.controls['fechaIngreso']"></show-errors>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form ">
                    <input mdbActive type="text" id="TelefonoPrincipalTrabajador" minlength="4" maxlength="50" class="form-control telefono"
                      name="TelefonoPrincipalTrabajador" formControlName="telefonoPrincipal">
                    <show-errors [control]="formAddTrabajador.controls['telefonoPrincipal']"></show-errors>
                    <label for="TelefonoPrincipalTrabajador" class="">Telefóno</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <br>
                  <div class="md-form ">
                    <input mdbActive type="text" id="TelefonoSecundarioTrabajador" minlength="4" maxlength="50" class="form-control telefono"
                      name="TelefonoSecundarioTrabajador" formControlName="telefonoSecundario">
                    <show-errors [control]="formAddTrabajador.controls['telefonoSecundario']"></show-errors>
                    <label for="TelefonoSecundarioTrabajador" class="">Telefóno (Opcional)</label>
                  </div>
                </div>
                
                <div class="col-md-12">
                  <label for="sucursal">Sucursal</label>
                  <ng-select [items]="sucursales" bindLabel="NombreSucursal" bindValue="IdSucursal" placeholder="Selecciona una sucursal" id="sucursal"
                    (add)="onAddSucursal($event)" formControlName="sucursal">
                  </ng-select>
                  <show-errors [control]="formAddTrabajador.controls['sucursal']"></show-errors>
                </div>

                <div class="col-md-12">
                  <br>
                  <label for="cargo">Cargo</label>
                  <ng-select [items]="cargos" bindLabel="NombreCargo" bindValue="IdCargo" placeholder="Selecciona un cargo" id="cargo" (add)="onAddCargo($event)"
                    formControlName="cargo">
                  </ng-select>
                  <show-errors [control]="formAddTrabajador.controls['cargo']"></show-errors>
                </div>

                <div class="col-md-12">
                  <br>
                  <div class="md-form">
                    <textarea mdbActive type="text" id="Direccion" name="Direccion" formControlName="direccion" class="md-textarea"></textarea>
                    <label for="Direccion">Dirección</label>
                    <show-errors [control]="formAddTrabajador.controls['direccion']"></show-errors>
                  </div>
                </div>

              </div>
              <div class="margin-paneladministrativo"></div>

              <!-- Boton ingresa -->
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" type="submit" [disabled] = !formAddTrabajador.valid>Ingresar <i class="fa fa-check ml-1"></i></button>
              </div>

            </form>
          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del Trabajador-->
    </div>
  </section>
</div>