<div class="container-fluid mt-5">
  <section>
    <div class="row">
      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view view-cascade gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input name="imagen" type="file" class="dropify" (change)="fileChangeEvent($event)" data-height="300"
              data-allowed-file-extensions="jpg jpeg png" data-height="300" />
          </div>
        </div>
      </div>
      <!-- /.Imagen -->

      <!--Datos del Trabajador-->
      <div class="col-lg-8 ">
        <div class="card card-cascade narrower">
          <div class="view view-cascade gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Trabajador</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">
            <!-- Formulario -->
            <form [formGroup]="formUpdateTrabajador" (ngSubmit)="guardarImagenTrabajador()" novalidate>
              <!-- Campos a ingresar -->
              <div class="row">

                <div class="col-md-6">
                  <div class="md-form">
                    <input [mdbValidate]=false mdbInputDirective type="text" id="nombreTrabajador" name="Nombres"
                      formControlName="nombreTrabajador" required class="form-control validate letras" autocomplete="off">
                    <show-errors [control]="formUpdateTrabajador.controls['nombreTrabajador']"></show-errors>
                    <label for="nombreTrabajador">Nombres</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input [mdbValidate]=false mdbInputDirective type="text" id="Apellidos" name="Apellidos"
                      formControlName="apellido" required class="form-control validate letras" autocomplete="off">
                    <show-errors [control]="formUpdateTrabajador.controls['apellido']"></show-errors>
                    <label for="Apellidos">Apellidos</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <mdb-date-picker [options]="myDatePickerOptions" name="fechaNacimiento" id="fechaNacimiento"
                    [placeholder]="'Seleccione'" [label]="'Fecha de Nacimiento'" formControlName="fechaNacimiento"
                    required></mdb-date-picker>
                  <show-errors [control]="formUpdateTrabajador.controls['fechaNacimiento']"></show-errors>
                </div>

                <div class="col-md-6">
                  <mdb-date-picker [options]="myDatePickerOptions" name="FechaIngreso" id="fechaIngreso" [placeholder]="'Seleccione'"
                    [label]="'Fecha de Ingreso'" formControlName="fechaIngreso" required></mdb-date-picker>
                  <show-errors [control]="formUpdateTrabajador.controls['fechaIngreso']"></show-errors>
                </div>

                <div class="col-md-6 mt-1">
                  <div class="md-form">
                    <input [mdbValidate]=false mdbInputDirective type="text" id="TelefonoPrincipalTrabajador" class="form-control telefono"
                      name="TelefonoPrincipalTrabajador" formControlName="telefonoPrincipal" autocomplete="off">
                    <show-errors [control]="formUpdateTrabajador.controls['telefonoPrincipal']"></show-errors>
                    <label for="TelefonoPrincipalTrabajador" class="">Telefóno</label>
                  </div>
                </div>

                <div class="col-md-6 mt-1">
                  <div class="md-form">
                    <input [mdbValidate]=false mdbInputDirective type="text" id="TelefonoSecundarioTrabajador" class="form-control telefono"
                      name="TelefonoSecundarioTrabajador" formControlName="telefonoSecundario" autocomplete="off">
                    <show-errors [control]="formUpdateTrabajador.controls['telefonoSecundario']"></show-errors>
                    <label for="TelefonoSecundarioTrabajador" class="">Telefóno (Opcional)</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="sucursal" class="grey-text-card">Tipo de Documento</label>
                  <ng-select [items]="tiposDocumento" bindLabel="NombreTD" bindValue="IdTipoDocumento" placeholder="Selecciona un tipo de documento"
                    id="tipoDocumento" (change)="onChangeTipoDocumento($event)" [(ngModel)]="trabajador.IdTipoDocumento"
                    formControlName="tipoDocumento">
                  </ng-select>
                  <show-errors [control]="formUpdateTrabajador.controls['tipoDocumento']"></show-errors>
                </div>

                <div class="col-md-6">
                  <div class="md-form ">
                    <input [mdbValidate]=false mdbInputDirective type="text" id="DocumentoTrabajador" name="DocumentoTrabajador"
                      class="form-control cedula" formControlName="documentoTrabajador" autocomplete="off">
                    <show-errors [control]="formUpdateTrabajador.controls['documentoTrabajador']"></show-errors>
                    <label for="DocumentoTrabajador" class="">Documento</label>
                  </div>
                </div>

                <div class="col-md-12">
                  <label for="sucursal" class="grey-text-card">Sucursal</label>
                  <ng-select [items]="sucursales" bindLabel="NombreSucursal" bindValue="IdSucursal" placeholder="Selecciona una sucursal"
                    id="sucursal" (change)="onChangeSucursal($event)" [(ngModel)]="trabajador.IdSucursal"
                    formControlName="sucursal">
                  </ng-select>
                  <show-errors [control]="formUpdateTrabajador.controls['sucursal']"></show-errors>
                </div>

                <div class="col-md-12">
                  <br>
                  <label for="cargo" class="grey-text-card">Cargo</label>
                  <ng-select [items]="cargos" bindLabel="NombreCargo" bindValue="IdCargo" placeholder="Selecciona un cargo"
                    id="cargo" (change)="onChangeCargo($event)" [(ngModel)]="trabajador.IdCargo" formControlName="cargo">
                  </ng-select>
                  <show-errors [control]="formUpdateTrabajador.controls['cargo']"></show-errors>
                </div>

                <div class="col-md-12 mt-2">
                  <div class="md-form">
                    <textarea [mdbValidate]=false mdbInputDirective type="text" id="Direccion" name="Direccion"
                      formControlName="direccion" class="md-textarea form-control"></textarea>
                    <label for="Direccion">Dirección</label>
                    <show-errors [control]="formUpdateTrabajador.controls['direccion']"></show-errors>
                  </div>
                </div>
              </div>

              <div class="margin-paneladministrativo"></div>

              <!-- Boton ingresa -->
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" type="submit" [disabled]="!formUpdateTrabajador.valid">Actualizar
                  <i class="fa fa-check ml-1"></i>
                </button>
              </div>

            </form>
          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del Trabajador-->
    </div>
  </section>
</div>