<!-- <section class="view background-404">
  <div class="full-bg-img rgba-black-light">
    <div class="mask pattern-7 flex-center">
      
      <div class="container">
        <div class="row pt-5 mt-3">
          <div class="col-md-12">
            <div class="text-center">
              <h1 class="display-1 mb-2 wow fadeInDown orange-chang-text " data-wow-delay="0.3s">
                <strong>張家餐廳</strong>
              </h1>
              <h2 class="h1-reponsive white-text font-up mb-3 wow fadeInDown" data-wow-delay="0.3s">
                <strong>Restaurante de la Familia Chang</strong>
              </h2>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
                <strong>¡Vaya! Esto obviamente no es una página que estabas buscando.</strong>
              </h5>
              <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" [routerLink]="['/dashboard']">Inicio</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->

<div id="intro-section" class="view">

  <video class="video-intro" poster="assets/video/404.jpg" playsinline autoplay muted loop>
    <source src="assets/video/404.mp4" type="video/mp4">
  </video>

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-slight rgba-black-strong flex-center">

    <div class="container">
      <div class="row pt-5 mt-3">
        <div class="col-md-12">
          <div class="text-center">
            <h1 class="display-1 mb-2 wow fadeInDown orange-chang-text " data-wow-delay="0.3s">
              <strong>張家餐廳</strong>
            </h1>
            <h2 class="h1-reponsive white-text font-up mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Restaurante de la Familia Chang</strong>
            </h2>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
              <strong>¡Vaya! Esto obviamente no es una página que estabas buscando.</strong>
            </h5>
            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" [routerLink]="['/dashboard']">Inicio</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Mask & flexbox options-->

</div>