{{#each productos}}
<table class='table striped'>
        <thead>
            <tr>
                <th>Nombre Producto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{NombreProducto}}</td>
                <td>{{NombreClasificacion}}</td>
            </tr>
        </tbody>
    </table>
{{/each}}
