<!-- div fondo imagen gris-->
<ngx-spinner bdOpacity=0.5 bdColor="#333" size="large" color="#fff" type="ball-spin-clockwise"></ngx-spinner>
<div class="background-gray">

  <div class="chang-skin">

    <!-- Sidebar navigation -->
    <mdb-side-nav #sidenav class="sn-bg-7" [fixed]="true">


        <!-- Logo -->
        <li>
          <div class="logo-wrapper sn-ad-avatar-wrapper">
            <img [src]="usuario.Imagen | imagen:carpetaImagen" class="img-fluid">
            <p class="user white-text" *ngIf="usuario">{{usuario.Username}}
                <br>{{usuario.NombreCargo}}</p>
            <p class="user white-text" *ngIf="!usuario">Indefinido
              <br>Cargo</p>
          </div>
        </li>
        <!--/. Logo -->

        <li>
          <ul class="collapsible collapsible-accordion">
            <mdb-accordion [multiple]="false" aria-multiselectable="false">
              <mdb-accordion-item class="{{menu.Clase}}" *ngFor="let menu of menues">

                <mdb-accordion-item-head [routerLink]="[menu.Ruta]" mdbRippleRadius>
                  <i class="fa">
                    <img src="{{menu.Icono}}" height="18">
                  </i> {{menu.Nombre}}</mdb-accordion-item-head>
                <mdb-accordion-item-body>
                  <ul>
                    <li routerLinkActive="active-submenu" *ngFor="let submenu of menu.Submenues">
                      <a class="waves-effect" [routerLink]="[submenu.Ruta]" mdbRippleRadius>{{submenu.Nombre}}</a>
                    </li>
                  </ul>
                </mdb-accordion-item-body>
              </mdb-accordion-item>
            </mdb-accordion>
          </ul>
        </li>
      <div class="sidenav-bg rgba-black-light"></div>
    </mdb-side-nav>
    <!--/. Sidebar navigation -->

    <!-- Navbar -->
    <mdb-navbar SideClass="red-chang white-text navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
      [containerInside]="false">

      <navlinks class="navbar-container">
        <!-- SideNav slide-out button -->
        <div class="float-left">
          <a (click)="sidenav.show()" class="button-collapse">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <!--/. SideNav slide-out button -->
      </navlinks>

      <logo>
        <div id="btn-back-page">
          <button class="btn btn-flat btn-sm" (click)="backtoPage()" mdbWavesEffect>
            <i class="fa fa-arrow-left mr-1"></i>
          </button>
        </div>
        <app-breadcrumb>

        </app-breadcrumb>
      </logo>

      <navlinks>
        <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
          <li class="nav-item dropdown btn-group" dropdown *ngIf="!usuario">
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              SIN DATOS
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <!--<a class="dropdown-item" (click)="verInformacionUsuario()">Mis datos</a>-->
              <!--<a class="dropdown-item" (click)="logout()">Salir</a>-->
            </div>
          </li>

          <li class="nav-item dropdown btn-group" dropdown *ngIf="usuario">
            <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                {{usuario.Username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right" role="menu">
              <a class="dropdown-item " (click)="verInformacionUsuario()">Mis datos</a>
              <a class="dropdown-item " (click)="style.show()">Salir</a>
            </div>
          </li>
        </ul>
      </navlinks>
    </mdb-navbar>
    <!--/. Navbar -->

  </div>
  <!--/.SideNav-->

  <!--Main Layout-->
  <main id="top-panel">
    <div class="container-fluid mt-5">

      <button class="btn btn-floating btn-large orange-chang waves-light" mdbPageScroll href="#top-panel"
        mdbRippleRadius style="right:1%; bottom:3%; visibility:hidden; z-index: 100 !important;" [pageScrollDuration]="750"
        id="backToTop">
        <i class="fa fa-arrow-up"></i>
      </button>

      <router-outlet (activate)="onActivate($event)"></router-outlet>
      <div style="height: 5%;"></div>

    </div>
  </main>
  <!--/Main layout-->

</div>

<!-- Modal categorias crear -->
<div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Contenido-->
    <div class="modal-content cerrar-sesion">

      <!--Header-->
      <div class="modal-header white-text orange-chang">
        <h4 class="title">
          <i class="fa fa-file-text-o"></i> Cerrar Sesión</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Cuerpo Modal-->
      <div class="modal-body mb-0">
        <div class="text-center">
          <i class="fa fa-check fa-4x mb-3 animated rotateIn red-chang-text"></i>
          <p>Esta seguro de cerrar la sesión?.</p>
          <hr>
          <a type="button" class="btn red-chang waves-light white-text" (click)="logout()" mdbWavesEffect>SI</a>
          <a type="button" class="btn btn-outline-warning" data-dismiss="modal" (click)="style.hide()" mdbWavesEffect>NO</a>
        </div>
      </div>
    </div>
    <!--/.Contenido-->
  </div>
</div>