<ul class="nav nav-tabs nav-justified orange-chang">
  <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#habilitados" role="tab">Habilitados</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#inhabilitados" role="tab">Inhabilitados</a>
  </li> 
</ul>
<!-- Tab panels -->
<div class="tab-content card">
  <!--Panel 1-->
  <div class="tab-pane fade in show active" id="habilitados" role="tabpanel">
      <br>
       <!-- Grid row -->
       <div class="row">
        
          <!-- Grid column -->
          <div class="col-md-12 mt-4">
      
              <div class="in input-group md-form form-sm form-2 pl-0">
                  <input class="form-control my-0 py-0" type="text" placeholder="Buscar">
                  <button class="btn btn-sm btn-primary ml-2 px-1"><i class="fa fa-search"></i>  </button>                    
              </div>
      
          </div>
          <!-- Grid column -->
      
      </div>
      <!-- Grid row -->

      <!--Table-->
      <table class="table table-hover">

          <!--Table head-->
          <thead class="">
              <tr>
                  <th>Nombre de producto</th>
                  <th>Proveedor</th>
                  <th>Fecha de Ingreso</th>
                  <th>Acción</th>
              </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <tr>
                  <td>Pollo</td>
                  <td>Tip-Top</td>
                  <td>12/10/2017</td>
                  <td>
                    <button type="button"  class="btn btn-sm orange-chang" id="" data-toggle="tooltip" data-placement="bottom" title="Visualizar" ><i class="fa fa-eye"></i></button>
                  </td>
              </tr>
              <tr>
                  <td>Pollo</td>
                  <td>Tip-Top</td>
                  <td>12/10/2017</td>
                  <td>
                    <button type="button"  class="btn btn-sm orange-chang" id="" data-toggle="tooltip" data-placement="bottom" title="Visualizar" ><i class="fa fa-eye"></i></button>                    
                  </td>
              </tr>
              <tr>
                  <td>Pollo</td>
                  <td>Tip-Top</td>
                  <td>12/10/2017</td>
                  <td>
                    <button type="button"  class="btn btn-sm orange-chang" id="" data-toggle="tooltip" data-placement="bottom" title="Visualizar" ><i class="fa fa-eye"></i></button>                    
                  </td>
              </tr>
              <tr>
                  <td>Pollo</td>
                  <td>Tip-Top</td>
                  <td>12/10/2017</td>
                  <td>
                    <button type="button"  class="btn btn-sm orange-chang" id="" data-toggle="tooltip" data-placement="bottom" title="Visualizar" ><i class="fa fa-eye"></i></button>                    
                  </td>
              </tr>
          </tbody>
          <!--Table body-->
      </table>
      <!--Table-->
      
  </div>
  <!--/.Panel 1-->
  <!--Panel 2-->
  <div class="tab-pane fade" id="inhabilitados" role="tabpanel">
      <br>
       <!-- Grid row -->
       <div class="row">
          
            <!-- Grid column -->
            <div class="col-md-12 mt-4">
                <div class="in input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-0" type="text" placeholder="Buscar">
                    <button class="btn btn-sm btn-primary ml-2 px-1"><i class="fa fa-search"></i>  </button>                    
                </div>
        
                
        
            </div>
            <!-- Grid column -->
        
        </div>
        <!-- Grid row -->
  
        <!--Table-->
        <table class="table table-hover">
  
          <!--Table head-->
          <thead>
              <tr>
                  <th>Nombre de producto</th>
                  <th>Proveedor</th>
                  <th>Fecha de Ingreso</th>
                  <th>Habilitar</th>
              </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <tr>
                  <td>Bacon</td>
                  <td>Cainsa</td>
                  <td>12/10/2017</td>
                  <td>
                    <input type="checkbox" class="filled-in" id="checkbox2">     
                    <label for="checkbox2"></label>               
                  </td>
              </tr>
              <tr>
                  <td>Bacon</td>
                  <td>Cainsa</td>
                  <td>12/10/2017</td>
                  <td>
                    <input type="checkbox" class="filled-in" id="checkbox3">
                    <label for="checkbox3"></label>               
                  </td>
              </tr>
              <tr>
                  <td>Bacon</td>
                  <td>Cainsa</td>
                  <td>12/10/2017</td>
                  <td>
                    <input type="checkbox" class="filled-in" id="checkbox4">                                                           
                    <label for="checkbox4"></label>               
                  </td>
              </tr>
              <tr>
                  <td>Bacon</td>
                  <td>Cainsa</td>
                  <td>12/10/2017</td>
                  <td>
                    <input type="checkbox" class="filled-in" id="checkbox5">                    
                    <label for="checkbox5"></label>               
                  </td>
              </tr>
          </tbody>
          <!--Table body-->
        </table>
        <!--Table-->
  </div>
  <!--/.Panel 2-->
</div>