<section>

  <div class="row">
    <!--Datos del Proveedor-->
    <div class="col-lg-12 mb-5">
      <mdb-card cascade="true" narrower="true">

        <div class="view view-cascade gradient-card-header orange-chang">
          <h3 class="card-header-title mb-2">Agregar Proveedor</h3>
        </div>
        <!-- Contenido -->
        <mdb-card-body cascade="true">
          <form [formGroup]="formAddProveedor" (ngSubmit)="createProveedor()" novalidate>

            <div class="container-fluid">

              <div class="row">

                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="md-form">
                    <input [mdbValidate]=false mdbInputDirective type="text" id="nombreProveedor" formControlName="nombreProveedor"
                      class="form-control letras" autocomplete="off">
                    <show-errors [control]="formAddProveedor.controls['nombreProveedor']"></show-errors>
                    <label for="nombreProveedor">Nombre Empresa</label>
                  </div>
                </div>

                <div class="col-8 col-sm-8 col-md-8 col-lg-5 col-xl-5">
                  <div class="md-form">
                    <input [mdbValidate]=false mdbInputDirective type="text" id="numeroruc" formControlName="numeroRuc"
                      class="form-control" autocomplete="off">
                    <show-errors [control]="formAddProveedor.controls['numeroRuc']"></show-errors>
                    <label for="numeroruc">Número Ruc</label>
                  </div>
                </div>

                <div class="col-4 col-sm-4 col-md-4 mt-5 col-lg-2 col-xl-2">
                  <mdb-checkbox class="checkbox-chang-filled" formControlName="isMercado" (change)="changeMercado($event)"><label class="grey-text-card">Mercado</label></mdb-checkbox>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                  <div class="md-form">
                    <input Alphanumeric [mdbValidate]=false mdbInputDirective type="text" id="nombreRepresentante" formControlName="nombreRepresentante"
                      class="form-control letras" autocomplete="off">
                    <show-errors [control]="formAddProveedor.controls['nombreRepresentante']"></show-errors>
                    <label for="nombreRepresentante">Nombre Representante</label>
                  </div>
                </div>

                <div class="col-8 col-sm-8 col-md-8 col-lg-5 col-xl-5">
                  <div class="md-form">
                    <input [mdbValidate]=false mdbInputDirective type="email" id="email" formControlName="email" class="form-control"
                      autocomplete="off">
                    <show-errors [control]="formAddProveedor.controls['email']"></show-errors>
                    <label for="email">Correo Electrónico</label>
                  </div>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 mt-4">
                  <a tabindex="-1" mdbBtn role="button" class="orange-chang mb-1 btn-sm white-text" mdbPageScroll href="#agenda-proveedores"
                    [pageScrollDuration]="750" mdbWavesEffect>
                    Teléfonos<mdb-icon icon="phone" class="ml-1"></mdb-icon>
                  </a>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                  <div class="md-form">
                    <textarea [mdbValidate]=false type="text" id="direccionProveedor" formControlName="direccionProveedor"
                      class="md-textarea form-control" autocomplete="off" mdbInputDirective></textarea>
                    <show-errors [control]="formAddProveedor.controls['direccionProveedor']"></show-errors>
                    <label for="direccionProveedor">Dirección Proveedor</label>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                  <div class="md-form">
                    <textarea [mdbValidate]=false mdbInputDirective type="text" id="descripcionProveedor"
                      formControlName="descripcionProveedor" class="md-textarea form-control" autocomplete="off"></textarea>
                    <show-errors [control]="formAddProveedor.controls['descripcionProveedor']"></show-errors>
                    <label for="descripcionProveedor">Descripción Proveedor</label>
                  </div>
                </div>

              </div>

              <div class="text-center mt-3">
                <button mdbBtn type="submit" class="orange-chang mb-1" [disabled]="!formAddProveedor.valid && !peticionEnCurso"
                  mdbWavesEffect>Ingresar<mdb-icon icon="check" class="ml-1"></mdb-icon></button>
              </div>

            </div>

          </form>
        </mdb-card-body>
        <!-- Contenido -->
      </mdb-card>

    </div>

    <!--Agenda-->
    <div class="col-lg-12">
      <mdb-card cascade="true" narrower="true">

        <div class="view view-cascade gradient-card-header orange-chang" id="agenda-proveedores">
          <h3 class="card-header-title mb-2">Agenda Telefónica</h3>
        </div>

        <mdb-card-body cascade="true">

          <form [formGroup]="formAddTelefonos" novalidate>

            <div class="container d-none d-lg-block d-xl-block" id="mg-labels">
              <div class="row">

                <div class="col-lg-3">
                  <div class="md-form">
                    <h6 class="orange-chang-text">Nombre</h6>
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="md-form">
                    <h6 class="orange-chang-text">Cargo</h6>
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="md-form">
                    <h6 class="orange-chang-text">Télefono</h6>
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="md-form">
                    <h6 class="orange-chang-text">Extensión</h6>
                  </div>
                </div>

                <div class="col-lg-1">
                  <div class="md-form">
                    <h6 class="orange-chang-text">Titular</h6>
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="md-form">
                    <h6 class="orange-chang-text">Acciones</h6>
                  </div>
                </div>

              </div>
            </div>

            <hr class="d-none d-lg-block d-xl-block mt-4">

            <fieldset *ngFor="let telefono of contactos; let i = index;" class="mb-fieldset">

              <div class="container">

                <div class="row mr-4">

                  <div class="col-md-12 col-lg-3">
                    <div class="md-form">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Nombre</h6>
                      <input maxlength="40" type="text" id="n{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono.Nombre"
                        class="input-modal-sm letras">
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2">
                    <div class="md-form ml-chang-agenda">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Cargo</h6>
                      <input maxlength="30" type="text" id="c{{i}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="telefono.Cargo"
                        class="input-modal-sm letras">
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-2 mr-0">
                    <div class="md-form ml-chang-agenda">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Télefono</h6>
                      <input maxlength="8" min type="text" onlyNumbers="int" id="t{{i}}" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="telefono.Telefono" class="input-modal-sm">
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-2 mr-0">
                    <div class="md-form ml-chang-agenda">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Extensión</h6>
                      <input maxlength="3" type="text" onlyNumbers="int" [(ngModel)]="telefono.Extension" [ngModelOptions]="{standalone: true}" onlyNumbers="int" id="ext{{i}}" class="input-modal-sm">
                    </div>
                  </div>

                  <div class="col-6 col-md-6 col-lg-1 mt-4 ml-0">
                    <div class="switch chang-switch font-small ml-4">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none">Titular</h6>
                      <label class="mt-3" id="align-input">
                        <input [(ngModel)]="telefono.IsTitular" [ngModelOptions]="{standalone: true}" type="checkbox"
                          name="element_name">
                        <span class="lever"></span>
                      </label>
                    </div>
                  </div>

                  <div *ngIf="contactos.length > 1" class="col-3 col-sm-3 col-md-3 col-lg-1 text-center">
                    <div class="md-form">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none ml-2">Eliminar</h6>
                      <a class="btn red-chang white-text btn-sm mb-5 ml-2" id="remove" (click)="eliminarTelefono(telefono,i)"
                        mdbTooltip="{{i === 0 ? 'Eliminar todo' : 'Eliminar telefono'}}" placement="bottom" role="button"><i class="fa fa-close"
                          aria-hidden="true"></i></a>
                    </div>
                  </div>

                  <div *ngIf="i ===(contactos.length - 1)" [ngClass]="(i === 0) ? 'col-3 col-sm-3 col-md-6 col-lg-2 text-center':'col-3 col-sm-3 col-md-3 col-lg-1'">
                    <div class="md-form ml-chang-agenda">
                      <h6 class="orange-chang-text d-block d-lg-none d-xl-none ml-3 text-nowrap">Agregar</h6>
                      <a class="btn white-text btn-sm mb-5 orange-chang" id="add" (click)="agregarTelefono(telefono,i)"
                        mdbTooltip="Agregar Telefóno" placement="bottom" role="button"><i class="fa fa-plus"
                          aria-hidden="true"></i></a>
                    </div>
                  </div>

                  <div id="inputs-telefono"></div>

                </div>
              </div>
            </fieldset>
          </form>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</section>