<section>
  <form  novalidate>
    <div class="row">

      <!--Datos del producto-->
      <div class="col-lg-12 ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Salida de producto</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">

            <div class="row">

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="text" id="nombreproducto" formControlName="nombreProducto" class="form-control input-char-counter letras" length="50" autocomplete="off">
                  <label for="nombreproducto" class="input-char-counter">Nombre del producto</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="number" id="cantidaProducto" formControlName="cantidaProducto" class="form-control" >
                  <label for="cantidaProducto" class="input-char-counter">Cantidad</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="text" id="fechaSalida" class="form-control datepicker">
                  <label for="fechaSalida">Fecha de salida</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="text" id="horaSalida" class="form-control timepicker">
                  <label for="horaSalida">Hora de salida</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="md-form">
                  <textarea type="text" id="motivo" formControlName="motivo" class="md-textarea" autocomplete="off" required></textarea>
                  <label for="motivo">Motivo</label>
                </div>
              </div>

            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1">Ingresar <i class="fa fa-check ml-1"></i></button>
            </div>

          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del usuario-->

    </div>
  </form>
</section>
