<section>

  <div class="row">
    <!--Datos del Gastos-->
    <div class="col-lg-12">
      <div class="card card-cascade narrower">
        <div class="view view-cascade gradient-card-header orange-chang">
          <h4 class="mb-0">Gastos</h4>
        </div>
        <!-- Contenido -->
        <div class="card-body">

          <form>

            <div class="row">

              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                <label for="clasificacionGastos" class="grey-text-card">Clasificación</label>
                <ng-select id="clasificacionGastos" placeholder="Selecciona una clasificación">
                </ng-select>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-3">
                <label for="subclasificacionGastos" class="grey-text-card">Sub - Clasificación</label>
                <ng-select id="subclasificacionGastos" placeholder="Selecciona una sub - clasificación">
                </ng-select>
              </div>

              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-5">
                <div class="md-form">
                  <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" class="input-picker form-control" [mdbValidate]=false
                    id="fechaIngreso" placeholder="Seleccioné" mdbInputDirective>
                  <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                  <label for="fechaIngreso">Fecha ingreso</label>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-5">
                <div class="md-form">
                  <input Alphanumeric [mdbValidate]=false mdbInputDirective type="text" id="numeroReferencia" class="form-control"
                    placeholder="Ej: 001" autocomplete="off">
                  <label for="numeroReferencia">Número de referencia</label>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-5">
                <div class="md-form">
                  <input Alphanumeric [mdbValidate]=false mdbInputDirective type="text" id="codigoFactura" class="form-control"
                    placeholder="Ej: BD200" autocomplete="off">
                  <label for="codigoFactura">Código factura</label>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-5">
                <div class="md-form">
                  <input Alphanumeric [mdbValidate]=false mdbInputDirective type="text" id="montoTotal" class="form-control"
                    placeholder="Ej: 2500" autocomplete="off">
                  <label for="montoTotal">Monto total</label>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-0">
                <div class="md-form">
                  <textarea [mdbValidate]=false mdbInputDirective type="text" id="conceptoGasto" class="md-textarea form-control"
                    autocomplete="off"></textarea>
                  <label for="conceptoGasto">Concepto gastos</label>
                </div>
              </div>

            </div>

          </form>

        </div>
        <!-- Contenido -->
      </div>
    </div>
  </div>
</section>