<div class="container-fluid mt-5">
  <section>
    <div class="row">
      <!--Imagen-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Imagen</h4>
          </div>
          <div class="card-body text-center">
            <input name="imagen" type="file" class="dropify" data-allowed-file-extensions="jpg jpeg png"  data-height="300"/>
          </div>
        </div>
      </div>
      <!-- /.Imagen -->

      <!--Datos del usuario-->
      <div class="col-lg-8  ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Usuario</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">
            <!-- Formulario -->
            <form [formGroup] = "formularioAddUsuario" (ngSubmit)="createUsuario()" novalidate>
              <!-- Campos a ingresar -->
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <input type="text" id="UsuarioNombre" name="UsuarioNombre" class="form-control validate " formControlName="nombre" autocomplete="off">
                    <label for="UsuarioNombre">Nombres y Apellidos</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input type="email" id="Correo" name="Correo" class="form-control validate" formControlName="correo" autocomplete="off">
                    <label for="Correo">Correo Electrónico</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="md-form">
                    <input type="password" id="Contrasenia" name="Contrasenia" class="form-control validate" formControlName="contrasenia" autocomplete="off">
                    <label for="Contrasenia">Contraseña</label>
                  </div>
                </div>

                <div class="col-md-6">
                  <label for="selecttrabajador">Nombre trabajador</label>
                  <select name="trabajador" id="trabajador" class="selecttrabajador" multiple="multiple" style="width: 100%">
                    <option class="chip" [value]="trabajador.IdTrabajador" *ngFor="let trabajador of trabajadores">{{trabajador.Nombres}}</option>
                  </select>
                </div>

                <div class="col-md-6">
                  <label for="selectrol">Rol</label>
                  <select name="RolUsuario" class="selectrol" multiple="multiple" style="width: 100%">
                    <option class="chip" [value]="rol.IdRol" *ngFor="let rol of roles">{{rol.NombreRol}}</option>

                  </select>
                </div>

              </div><div class="margin-paneladministrativo"></div>

              <!-- Boton ingresa -->
              <div class="text-center mt-1-half">
                <button class="btn orange-chang mb-1" type="submit" >Ingresar <i class="fa fa-check ml-1"></i></button>
              </div>

            </form>
          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del usuario-->
    </div>
  </section>
</div>
