<div class="container-fluid">
    <!--Section: Invoice details-->
    <section class="mb-4">

        <div class="card">
            <div class="card-body">

              <div class="d-flex justify-content-between">
                  <h4 class="h4-responsive mt-3">
                    Numero de factura #1
                    <br>
                    <span class="grey-text"><small>Moises Trigueros</small></span>
                  </h4>                  
                  
                  <div>
                      <a href="#" class="btn orange-chang waves-effect waves-light"><i class="fa fa-print left"></i> Imprimir</a>
                  </div>
              </div>
              <hr>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6 text-left">

                        <p><small>Proveedor:</small></p>
                        <p><strong>Cainsa</strong></p>
                        <p>Carretera a Masaya</p>
                        <p>Managua, Nicaragua</p>
                        <p><strong>Fecha de la factura:</strong> Noviembre 18, 2017</p>
                        <p><strong>Fecha de vencimiento:</strong> Deciembre 2, 2017</p>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6 text-right">

                        <h4 class="h4-responsive"><small>Factura No.</small><br><strong><span class="blue-text">#1</span></strong></h4>

                        <p><small>Para:</small></p>
                        <p><strong>Restaurante de la Familia Chang</strong></p>
                        <p>Rubenia, frente hotel estrella</p>
                        <p>Managua, Nicaragua</p>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>
        </div>

    </section>
    <!--Section: Invoice details-->

    <!--Section: Invoice table-->
    <section>

        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <!-- Item list -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Productos</th>
                                <th>Cantidad</th>
                                <th>Precio unitario</th>
                                <th>Impuesto</th>
                                <th>Precio Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MDBootstrap Corporate License</td>
                                <td>1</td>
                                <td>$319</td>
                                <td>$73.37</td>
                                <td>$319</td>
                            </tr>
                            <tr>
                                <td>Material Design for Wordpress</td>
                                <td>2</td>
                                <td>$69</td>
                                <td>$31.74</td>
                                <td>$138</td>
                            </tr>
                            <tr>
                                <td>MDBootstrap Portfolio Template Personal Licence</td>
                                <td>1</td>
                                <td>$49</td>
                                <td>$11.27</td>
                                <td>$49</td>
                            </tr>
                            <tr>
                                <td>MDBootstrap Magazine Corporate Licence</td>
                                <td>1</td>
                                <td>$249</td>
                                <td>$57.27</td>
                                <td>$249</td>
                            </tr>

                        </tbody>
                    </table>
                    <!-- /.Item list -->
                </div>

                <ul class="list-unstyled text-right">
                    <li><strong>Sub Total:</strong><span class="float-right ml-3">$755</span></li>
                    <li><strong>IMPUESTOS:</strong><span class="float-right ml-3">$173,65</span></li>
                    <li><strong>DESCUENTO:</strong><span class="float-right ml-3">$100,65</span></li>
                    <li><strong>TOTAL:</strong><span class="float-right ml-3">$755</span></li>
                </ul>

            </div>
        </div>

    </section>
    <!--Section: Invoice table-->

  </div>
