<section>
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card card-cascade narrower" id="card-info">
                <div class="view view-cascade gradient-card-header orange-chang height-title">
                    <h2 class="h2-responsive center-text">Información</h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <!-- Inicio form-->
                        <form [formGroup]="formAddFactura" novalidate>

                            <div class="row">

                                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                    <label class="margin-label-proveedor">Proveedor</label>
                                    <div class="md-form">
                                        <ng-select [items]="proveedores" bindLabel="NombreProveedor" bindValue="IdProveedor" id="proveedor" placeholder="Selecciona un proveedor"
                                            (change)="onChangeProveedor($event)" formControlName="proveedor">
                                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                <div style="margin: 10px 0;" class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title" [ngOptionHighlight]="search">{{item.NombreProveedor}}</h5>
                                                        <p class="card-subtitle mb-2 text-muted">
                                                            <b>Nombre del Representante</b>
                                                            <br>
                                                            <i>{{item.NombreRepresentante}}</i>
                                                        </p>
                                                        <p class="card-text">
                                                            <b>Descripcion</b>
                                                            <br>
                                                            <i>{{item.Descripcion}}</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <show-errors [control]="formAddFactura.controls['proveedor']"></show-errors>
                                    </div>
                                    <br>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                                    <br>
                                    <button type="button" class="btn orange-chang btn-sm btn-block waves-light add-btn-position-factura" tabindex="-1" mdbTooltip="Proveedor"
                                        placement="bottom" (click)="agregarProveedor()" mdbWavesEffect>Agregar</button>
                                </div>

                                <div class="col-md-4 mt-codigo-factura">
                                    <div class="md-form">
                                        <input [mdbValidate]=false mdbInputDirective type="text" id="numeroFactura" placeholder="BD200" class="form-control" autocomplete="off"
                                            formControlName="codigoFactura">
                                        <label for="nombreproveedor">Código de factura</label>
                                        <show-errors [control]="formAddFactura.controls['codigoFactura']"></show-errors>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <mdb-date-picker [options]="myDatePickerOptions" formControlName="fechaFactura" name="FechaFactura" id="FechaFactura" [placeholder]="'Seleccione la fecha'"
                                        [label]="'Fecha de Factura'" required></mdb-date-picker>
                                </div>

                                <div class="col-md-4">
                                    <mdb-date-picker [options]="myDatePickerOptions" formControlName="fechaFactura" name="FechaFactura" id="FechaFactura" [placeholder]="'Seleccione la fecha'"
                                        [label]="'Fecha de Recepción'" required></mdb-date-picker>
                                </div>

                                <div class="col-md-6">
                                    <br>
                                    <label>Moneda</label>
                                    <ng-select dropdownPosition="top" [items]="Moneda" (change)="changeMoneda($event)" formControlName="Moneda" [(ngModel)]="IdMonedaSeleccionada"
                                        bindLabel="Moneda" bindValue="Id" id="moneda">
                                    </ng-select>
                                    <!--<show-errors [control]=""></show-errors>-->
                                </div>

                                <div class="col-md-6">
                                    <br>
                                    <label>Forma de Pago</label>
                                    <ng-select dropdownPosition="top" [items]="FormaPago" (change)="changeFormaPlazoPago($event)" formControlName="FormaPago"
                                        [(ngModel)]="IdFormaPagoSeleccionado" bindLabel="FormaPago" bindValue="Id" id="pago">
                                    </ng-select>
                                    <!--<show-errors [control]=""></show-errors>-->
                                </div>

                                <div class="col-md-6 mt-3">
                                    <div *ngIf="mostrarComboTipoMoneda" class="md-form">
                                        <input mdbInputDirective [mdbValidate]=false type="number" id="tipoCambio" formControlName="TipoCambio" class="form-control"
                                            autocomplete="off">
                                        <label for="tipoCambio">Tipo de Cambio</label>
                                    </div>
                                </div>

                                <div class="col-md-6 mt-3">
                                    <div *ngIf="mostrarComboPlazoPagos" class="md-form">
                                        <input mdbInputDirective [mdbValidate]=false type="number" id="plazoPagos" formControlName="PlazoPagos" class="form-control"
                                            autocomplete="off">
                                        <label for="plazoPagos">Plazo de pagos(dias)</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Final form -->
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 mb-r">

            <div class="card card-cascade narrower height-card-productos">
                <div class="view view-cascade gradient-card-header orange-chang height-title">
                    <h2 class="h2-responsive center-text">Productos</h2>
                </div>

                <div class="container-fluid mt-3">
                    <div class="in input-group md-form form-inline form-sm form-2 pl-0">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-control w-75 ml-3" type="search" placeholder="Buscar" [(ngModel)]="buscando" aria-label="Buscar">
                    </div>
                </div>

                <div class="scrollbar-card scrollbar-ripe-malinka">
                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-sm ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre del producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th class="text-center">Tipo Descuento</th>
                                        <th>Descuento</th>
                                        <th class="text-center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let producto of productos | buscar: buscando; let i = index">
                                        <th scope="row" class="align-middle" width="5%">{{i + 1}}</th>
                                        <td class="align-middle" width="25%">{{producto.NombreProducto}}</td>
                                        <td width="12%">
                                            <div class="md-form">
                                                <input mdbInputDirective type="number" id="cantidadProducto" name="cantidadProducto" formControlName="cantidadProducto" min="0"
                                                    class="input-modal-sm" style="width: 60% !important;">
                                            </div>
                                        </td>
                                        <td width="12%">
                                            <div class="md-form">
                                                <input mdbInputDirective type="number" id="precioProducto" name="precioProducto" formControlName="precioProducto" min="0"
                                                    class="input-modal-sm" style="width: 60% !important;">
                                            </div>
                                        </td>
                                        <td class="text-center align-middle" width="15%">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="checkDescuento" (click)="ingresarTipoDescuento()" mdbInputDirective>
                                                <label class="form-check-label " for="checkDescuento"></label>
                                            </div>
                                        </td>
                                        <td width="12%">
                                            <div class="md-form">
                                                <input mdbInputDirective type="number" id="valorDescuento" name="valorDescuento" min="0" class="input-modal-sm" style="width: 60% !important;"
                                                    disabled>
                                            </div>
                                        </td>
                                        <td class="text-center align-middle">
                                            <button type="button" class="btn btn-sm orange-chang" (click)="seleccionarProducto(producto)" mdbWavesEffect>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm orange-chang" (click)="mostrarProducto(producto)" mdbWavesEffect>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
            <div class="card">
                <div class="container-fluid mt-3">
                    <div class="table-responsive">
                        <!-- Lista de productos -->
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="header-negrita">Producto</th>
                                    <th class="header-negrita">U. Medida</th>
                                    <th class="header-negrita">Cantidad</th>
                                    <th class="header-negrita">Precio unitario</th>
                                    <th class="header-negrita">Descuento</th>
                                    <th class="header-negrita">Gravado IVA</th>
                                    <th class="header-negrita">Ventas Netas</th>
                                    <th id="id-text-align-table">
                                        <img src="./assets/img/icon/regalo.png">
                                    </th>
                                    <th class="header-negrita centrar-texto">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let productoFactura of productosFactura;let i = index">
                                    <td class="body-negrita align-middle">{{productoFactura.NombreProducto}}</td>
                                    <td class="body-negrita align-middle">{{productoFactura.NombreUnidad}}</td>
                                    <td class="body-negrita align-middle">{{productoFactura.Cantidad}}</td>
                                    <td class="body-negrita align-middle">{{productoFactura.Costo}} {{simboloMonedaUtilizado}}</td>
                                    <td width="10%" class="body-negrita align-middle">
                                        <strong>{{productoFactura.Descuento}}%</strong>
                                    </td>
                                    <td class="body-negrita align-middle">
                                        <strong>{{productoFactura.GravadoIva == 1 ? 'SI' : 'NO' }}</strong>
                                    </td>
                                    <td width="10%" class="body-negrita align-middle">{{productoFactura.TotalDetalle | number
                                        : '1.2-2'}} {{simboloMonedaUtilizado}}
                                    </td>
                                    <td class="align-middle">
                                        <div class="form-check checkbox-chang-filled">
                                            <input class="form-check-input" type="checkbox" class="form-check-input" id="{{i}}">
                                            <label class="form-check-label" for="{{i}}"></label>
                                        </div>
                                    </td>
                                    <td width="25%">
                                        <div class="text-center">
                                            <!--<button type="button" (click)="getProducto()" class="btn btn-sm orange-chang" id="btnverproductos" data-toggle="tooltip" data-placement="bottom" title="Visualizar" ><i class="fa fa-eye"></i></button>-->
                                            <button type="button" class="btn btn-sm orange-chang" id="btneditarproductos" (click)="showModalDetalleProducto(productoFactura)"
                                                data-toggle="tooltip" data-placement="bottom" title="Editar">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm orange-chang" id="btnEliminarproductos" (click)="eliminarProductoDeFactura(productoFactura)"
                                                data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.Lista de productos -->
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-10 col-md-10 col-sm-10 text-lg-right text-md-right text-sm-right">
                            <form [formGroup]="formDetallesFactura" novalidate>

                                <div class="col-lg-12 col-md-12">
                                    <label for="SubTotal">
                                        <strong>SubTotal</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="SubTotal">
                                        <strong>Descuento</strong>
                                    </label>
                                </div>


                                <div class="col-lg-12 col-md-12">
                                    <label for="SubTotal">
                                        <strong>SubTotal con Descuento</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="porcentajeiva">
                                        <strong>IVA(15%)</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12 checkbox-chang-filled">
                                    <input class="form-check-input" (click)="aplicarRetencion()" [(ngModel)]="tieneRetencion" type="checkbox" class="form-check-input filled-in"
                                        disabled name="seleccionarcheck" id="segundo2" formControlName="retencion" mdbInputDirective>
                                    <label for="segundo2">
                                        <strong>Retención</strong>
                                    </label>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <label for="Total">
                                        <strong>Total</strong>
                                    </label>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 text-lg-right text-md-right text-sm-right">
                            <form>
                                <div class="">
                                    <label>{{subTotalFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>{{descuentoCalculoFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>{{subtotalFacturaConDescuento | number : '1.2-2'}} {{simboloMonedaUtilizado }}</label>
                                </div>
                                <div class="">
                                    <label>{{ivaCalculoFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>{{retencionCalculoFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                                <div class="">
                                    <label>{{totalFactura | number : '1.2-2'}} {{simboloMonedaUtilizado}}</label>
                                </div>
                            </form>
                        </div>

                    </div>

                    <!-- Acciones -->
                    <div class="row mt-3">

                        <div class="col-lg-3 col-md-3 col-sm-2"></div>

                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="md-form">
                                <button type="button" (click)="crearFactura()" [disabled]="!formAddFactura.valid" class="btn orange-chang waves-effect">Guardar
                                    factura
                                </button>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="md-form">
                                <button type="button" class="btn orange-chang waves-effect">Imprimir Factura</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Mostrar Info de producto -->
<div mdbModal #modalVerProducto="mdb-modal" class="modal modal-scroll fade" id="modalVerProducto" tabindex="-1">
    <div class="modal-dialog modal-lg cascading-modal " role="document">
        <!--Contenido-->
        <div class="modal-content background-gray mdl">

            <!--Titulo-->
            <div class="modal-header orange-chang white-text">
                <h4 class="title"> Información del producto</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalVerProducto.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Cuerpo modal-->
            <div class="modal-body mb-0">
                <div class="container-fluid">
                    <!-- Inicio form-->
                    <form>
                        <div class="row">

                            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                <div class="card card-cascade narrower">
                                    <div class="view view-cascade gradient-card-header orange-chang">
                                        <h4 class="mb-0">Imagen</h4>
                                    </div>
                                    <div class="card-body text-center">
                                        <img src="{{this.url + 'getImagen/productos/' + productoSeleccionado.Imagen}}" alt="..." class="img-thumbnail height-card-usuario">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Nombre</h6>
                                                <input type="text" id="nombreenvase" minlength="4" maxlength="50" class="input-modal-sm" name="nombreenvase" value={{productoSeleccionado.NombreProducto}}
                                                    readonly>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Categoria</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreCategoria}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Clasificación</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreClasificacion}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Subclasificación</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreSubClasificacion}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Empaque</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreEmpaque}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Cantidad por Empaque</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.CantidadEmpaque}}>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <h6 class="orange-chang-text">Envase</h6>
                                                <input type="text" id="categoria" class="input-modal-sm" readonly value={{productoSeleccionado.NombreEnvase}}>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <!-- Final form -->
                </div>
            </div>
        </div>
        <!--/.Contenido-->
    </div>
</div>

<!-- Modal para agregar detalles de producto -->
<div mdbModal #modalAgregarDetalleProducto="mdb-modal" class="modal fade" id="modalAgregarDetalleProducto" tabindex="-1"
    role="dialog" aria-labelledby="modalAgregarDetalleProducto" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Contenido-->
        <div class="modal-content background-gray mdl">

            <div class="modal-header white-text orange-chang">
                <h4 class="title">
                    <i class="fa fa-file-text-o"></i> Editar Detalle Producto</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalAgregarDetalleProducto.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Cuerpo modal-->
            <div class="modal-body mb-0">

                <form [formGroup]="formEditarDetalleProducto" (ngSubmit)="editarDatosProducto()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form">
                                <h6 class="orange-chang-text">Cantidad</h6>
                                <input type="number" id="cantidadProducto" minlength="4" class="input-modal-sm" name="cantidadProducto" formControlName="cantidadProducto">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <h6 class="orange-chang-text">Precio</h6>
                                <input type="number" id="precioProducto" minlength="4" class="input-modal-sm" name="precioProducto" formControlName="precioProducto">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <h6 class="orange-chang-text">Descuento</h6>
                                <input type="number" id="descuentoTotalProducto" min="0" class="input-modal-sm" name="descuentoTotalProducto" formControlName="descuentoTotalProducto">

                            </div>
                            <show-errors [control]="formEditarDetalleProducto.controls['descuentoTotalProducto']"></show-errors>
                        </div>
                        <div class="col-md-6 mt-4">
                            <br>
                            <div class="md-form checkbox-chang-filled">
                                <input [mdbValidate]=false class="form-check-input" type="checkbox" class="form-check-input" name="seleccionarcheck" id="checkbox33"
                                    formControlName="gravadoIva" mdbInputDirective>
                                <label class="form-check-label" for="checkbox33">Gravado de Iva</label>
                                <show-errors [control]="formEditarDetalleProducto.controls['gravadoIva']"></show-errors>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-1-half">
                        <button class="btn orange-chang mb-1" type="submit" [disabled]="!formEditarDetalleProducto.valid">Ingresar
                            <i class="fa fa-check ml-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/.Contenido-->
    </div>
</div>