<section>
  <form>
    <div class="row">  
      <!--Lista de productos agregados-->
      <div class="col-lg-4">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Productos Agregados</h4>
          </div>            
          
          <div class="container-fluid">
            <br>
            <div class="row">
              <div class="col-md-6 btn-sm-12">
                <button type="button" class="btn btn-outline-warning waves-effect">Ver factura</button>
              </div>
              <div class="col-md-6 btn-sm-12">
                  <button type="button" class="btn btn-outline-warning waves-effect">Generar factura</button>
                </div>
            </div>
            <br>
            <div class="list-group">                  
                <a href="#" class="list-group-item">
                  <h5 class="mb-1 font-orange">Bacon</h5>
                  <small class="font-orange">Hace 3 min</small>
                </a>
                <a href="#" class="list-group-item">
                  <h5 class="mb-1 font-orange">Chorizo</h5>
                  <small class="font-orange">Hace 5 min</small>
                </a>
                <a href="#" class="list-group-item">
                  <h5 class="mb-1 font-orange">Mortadela</h5>
                  <small class="font-orange">Hace 10 min</small>
                </a>
            </div>
            <br>
          </div>          
        </div>
        <br><br>
        
      </div>
      <!-- /.Imagen -->

      <!--Datos del producto-->
      <div class="col-lg-8  ">
        <div class="card card-cascade narrower">
          <div class="view gradient-card-header orange-chang">
            <h4 class="mb-0">Datos del Producto</h4>
          </div>
          <!-- Contenido -->
          <div class="card-body ">
            <div class="row">

              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <input type="search" id="nombreproducto" class="form-control autocomplete-producto" autocomplete="off">
                  <button class="mdb-autocomplete-clear">
                      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                          <path d="M0 0h24v24H0z" fill="none" />
                      </svg>
                  </button>
                  <label for="nombreproducto">Nombre de producto</label>
                </div>
              </div>

              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <input type="search" id="nombreproveedor" class="form-control autocomplete-proveedor" autocomplete="off">
                  <button class="mdb-autocomplete-clear">
                      <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                          <path d="M0 0h24v24H0z" fill="none" />
                      </svg>
                  </button>
                  <label for="nombreproveedor">Nombre de proveedor</label>
                </div>
              </div>

              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <input type="text" id="nombrerepresentanteproveedor" formControlName="nombrerepresentanteproveedor" class="form-control input-char-counter" length="50" autocomplete="off">
                  <label for="nombrerepresentanteproveedor" class="input-char-counter">Nombre representante proveedor</label>
                </div>
              </div>

              <div class="col-md-12">
                <br>
                <label for="nombretrabajador" class="disabled">Nombre del trabajador</label>
                <div class="md-form">
                  <input type="text" id="nombretrabajador" value="Chang" class="form-control" autocomplete="off" disabled>                  
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="number" id="porcentajeretencion" class="form-control" autocomplete="off">
                  <label for="porcentajeretencion">Porcentaje de retencion total</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="number" id="porcentajeiva" class="form-control" autocomplete="off">
                  <label for="porcentajeiva">Porcentaje de iva</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="number" id="descuento" class="form-control" autocomplete="off">
                  <label for="descuento">Descuento</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="number" id="cantidad" class="form-control" autocomplete="off">
                  <label for="cantidad">Cantidad</label>
                </div>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="number" id="precio" class="form-control" autocomplete="off">
                  <label for="precio">Precio</label>
                </div>
              </div>

              <div class="col-md-6">
                <label for="selectunidadmedidad">Unidad de medida</label>
                <select name="selectunidadmedidad"  class="selectunidadmedidad" multiple="multiple" style="width: 100%">
                  <option class="chip" value="IdUnidadMedida">Unidad 1</option>
                  <option  class="chip" value="IdUnidadMedida">Unidad 2</option>
                </select>
              </div>

              <div class="col-md-6">
                <br>
                <div class="md-form">
                  <input type="number" id="valorunidadmedida" class="form-control" autocomplete="off">
                  <label for="valorunidadmedida">Valor unidad de medida</label>
                </div>
              </div>


              <!-- <div class="col-md-6">
                <label for="clasificacion">Clasificación</label>

                <select class="form-control selectclasificacion" name="clasi" id="clasificacion" multiple="multiple" style="width: 100%" formControlName="clasificacion">
                  <option class = "chip" name = "clasificacion.IdClasificacion" *ngFor="let clasificacion of clasificaciones" [value]="clasificacion.IdClasificacion">{{clasificacion.NombreClasificacion}}</option>
                </select>

              </div>
              
              <div class="col-md-12">
                <br>
                <div class="md-form">
                  <textarea type="text" id="descripcionproducto" formControlName="descripcionProducto" class="md-textarea" autocomplete="off"></textarea>
                  <label for="descripcionproducto">Descripción</label>
                </div>
              </div> -->

            </div>
            <br>
            <div class="text-center mt-1-half">
              <button class="btn orange-chang mb-1">Ingresar <i class="fa fa-check ml-1"></i></button>
            </div>

          </div>
          <!-- Contenido -->
        </div>
      </div>
      <!-- /.Datos del usuario-->

    </div>
  </form>
  </section>
  