<section>
    <div class="row">
        <div class="col-md-12">
            <mdb-card cascade="true" narrower="true">
                <!--Titulo-->
                <div class="view view-cascade gradient-card-header orange-chang">
                    <h3 class="card-header-title mb-2">Otros Insumos</h3>
                </div>
                <!--/Titulo-->

                <mdb-card-body cascade="true" class="white-text">

                    <form [formGroup]="formAddProducto" (ngSubmit)="crearProducto()" novalidate>

                        <div class="row">

                            <div class="col-12">
                                <div class="form-row align-items-center">
                                    <div class="md-form md-outline col-9 col-sm-10 col-md-11 col-lg-11">
                                        <input type="text" id="nombreproducto" formControlName="nombreProducto" mdbInputDirective [mdbValidate]="false" class="form-control letras" autocomplete="off" [validateSuccess]="false" [validateError]="false">
                                        <label for="nombreproducto" class="grey-text-card">Nombre del Producto</label>

                                    </div>
                                    <div class="col-3 col-sm-2 col-md-1 col-lg-1 text-right">
                                        <button mdbBtn size="md" class="orange-chang mt-0" mdbTooltip="Agregar Imagen" placement="bottom" (click)="modalImagenProducto.show()">
                                            <mdb-icon far icon="file-image"></mdb-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12">
                                <label for="categoria" class="grey-text-card">Tipo Insumo</label>
                                <ng-select [items]="tipoInsumos" bindLabel="NombTipInsumo" formControlName="tipoInsumo" bindValue="IdTipInsumo" (change)="changeTipoInsumo($event)" placeholder="Selecciona un tipo de insumo">
                                </ng-select>
                            </div>

                            <div class="col-12 col-sm-12 col-md-9 mt-3">
                                <label for="proveedor" class="grey-text-card">Proveedor</label>
                                <ng-select [items]="proveedores" bindLabel="NombProveedor" bindValue="IdProveedor" id="proveedor" placeholder="Selecciona un proveedor" (change)="onChangeProveedor($event)" formControlName="proveedor">
                                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                        <div style="margin: 10px 0;" class="card">
                                            <div class="card-body">
                                                <h5 class="card-title" [ngOptionHighlight]="search">
                                                    {{item.NombProveedor}}</h5>
                                                <p class="card-subtitle mb-2 text-muted">
                                                    <b>Nombre del Representante</b>
                                                    <br>
                                                    <i>{{item.NombRepresentante}}</i>
                                                </p>
                                                <p class="card-text">
                                                    <b>Descripcion</b>
                                                    <br>
                                                    <i>{{item.DescProveedor}}</i>
                                                </p>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-select>

                                <show-errors [control]="formAddProducto.controls['proveedor']"></show-errors>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 mt-3">
                                <button tabindex="-1" mdbBtn type="button" size="sm" block="true" class="orange-chang add-btn-position-espacio" mdbTooltip="Agregar Proveedor" (click)="agregarProveedor()" placement="bottom" mdbWavesEffect>Agregar</button>
                            </div>

                            <div class="col-12 col-sm-12 col-md-9 mt-3">
                                <label class="grey-text-card d-none d-xl-block d-lg-block d-md-block">Categoria</label>
                                <ng-select placeholder="Selecciona una categoria">
                                </ng-select>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 mt-3">
                                <button tabindex="-1" mdbBtn type="button" size="sm" block="true" class="orange-chang add-btn-position-espacio" mdbTooltip="Agregar Categoria" placement="bottom" mdbWavesEffect>Agregar</button>
                            </div>

                            <div class="col-12 col-sm-12 col-md-9 mt-3">
                                <label class="grey-text-card d-none d-xl-block d-lg-block d-md-block">Clasificación</label>
                                <ng-select placeholder="Selecciona una clasificación">
                                </ng-select>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 mt-3">
                                <button tabindex="-1" mdbBtn type="button" size="sm" block="true" class="orange-chang add-btn-position-espacio" mdbTooltip="Agregar Clasificación" placement="bottom" mdbWavesEffect>Agregar</button>
                            </div>

                            <div class="col-12 col-sm-12 col-md-5 mt-3">
                                <label class="grey-text-card">Empaque</label>
                                <ng-select [items]="empaques" bindLabel="NombEmpaque" bindValue="IdEmpaque" placeholder="Selecciona un empaque" formControlName="empaque" id="empaque" (change)="onChangeEmpaque($event)">
                                </ng-select>
                                <show-errors [control]="formAddProducto.controls['empaque']"></show-errors>
                            </div>

                            <div class="col-12 col-sm-12 col-md-4 mt-4">
                                <div class="md-form md-outline">
                                    <input onlyPositiveNumber mdbInputDirective [validateSuccess]="false" [validateError]="false" type="text" id="cantidadEmpaque" formControlName="cantidadEmpaque" class="form-control" autocomplete="off">
                                    <label for="cantidadEmpaque">Cantidad por Empaque</label>
                                    <show-errors [control]="formAddProducto.controls['cantidadEmpaque']"></show-errors>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 mt-2">
                                <button tabindex="-1" mdbBtn type="button" size="sm" block="true" class="orange-chang add-btn-position-espacio" (click)="showModalEmpaque()" mdbTooltip="Agregar Empaque" placement="bottom" mdbWavesEffect>Agregar</button>
                            </div>

                            <div class="mt-3 ml-3 mb-0 d-block d-xl-none d-lg-none d-md-none"><label class="grey-text-card">Envase</label></div>

                            <div class="col-12 col-sm-12 col-md-9 mt-0">
                                <label class="grey-text-card d-none d-xl-block d-lg-block d-md-block">Envase</label>
                                <ng-select [items]="envases" bindLabel="NombEnvase" bindValue="IdEnvase" placeholder="Selecciona un envase" formControlName="envase" id="envase" (change)="onChangeEnvase($event)">
                                </ng-select>
                                <show-errors [control]="formAddProducto.controls['envase']"></show-errors>
                            </div>

                            <div class="col-12 col-sm-12 col-md-3 mt-2">
                                <button tabindex="-1" mdbBtn type="button" size="sm" block="true" class="orange-chang add-btn-position-espacio" (click)="showModalEnvase()" mdbTooltip="Agregar Envase" placement="bottom" mdbWavesEffect>Agregar</button>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 mt-2">
                                <div class="md-form md-outline">
                                    <input AcceptCharacters mdbInputDirective [validateSuccess]="false" [validateError]="false" type="text" id="codigoOriginal" formControlName="codigoOriginal" class="form-control">
                                    <label for="codigoOriginal">Código producto</label>
                                    <show-errors [control]="formAddProducto.controls['codigoOriginal']"></show-errors>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6 mt-2">
                                <div class="md-form md-outline">
                                    <input Alphanumeric mdbInputDirective [validateSuccess]="false" [validateError]="false" formControlName="codigoInterno" type="text" id="codigoInterno" class="form-control">
                                    <label for="codigoInterno" class="">Código interno</label>
                                    <show-errors [control]="formAddProducto.controls['codigoInterno']"></show-errors>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12">
                                <div class="md-form active-chang-label md-outline">
                                    <textarea mdbInputDirective [validateSuccess]="false" [validateError]="false" type="text" id="descripcionproducto" formControlName="descripcionProducto" class="md-textarea form-control" autocomplete="off"></textarea>
                                    <show-errors [control]="formAddProducto.controls['descripcionProducto']">
                                    </show-errors>
                                    <label for="descripcionproducto">Descripción</label>
                                </div>
                            </div>

                        </div>

                        <div class="text-center mt-3">
                            <button mdbBtn type="submit" class="orange-chang mb-1" [disabled]="formAddProducto.invalid || peticionEnCurso">
                                <mdb-icon fas icon="check" class="mr-1"></mdb-icon>Ingresar
                            </button>
                        </div>

                    </form>

                </mdb-card-body>

            </mdb-card>
        </div>
    </div>
</section>

<!-- Modal Imagen del Producto -->
<div mdbModal #modalImagenProducto="mdb-modal" class="modal fade" id="modalImagenProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Contenido-->
        <div class="modal-content background-gray mdl">

            <!--Header-->
            <div class="modal-header white-text orange-chang">
                <h4 class="title">
                    <mdb-icon far icon="file-image"></mdb-icon> Imagen del Producto
                </h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="modalImagenProducto.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!--Cuerpo Modal-->
            <div class="modal-body mb-0">

                <form [formGroup]="" novalidate>

                    <div class="card-body text-center animated zoomIn" data-wow-delay="0.6s">
                        <input type="file" id="imageProducto" class="dropify" data-height="300" data-allowed-file-extensions="jpg png jpeg" />
                    </div>

                    <div class="text-center mt-1-half">
                        <button mdbBtn type="button" class="orange-chang mb-1">
                            <mdb-icon fas icon="check" class="mr-1"></mdb-icon>Ingresar
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <!--/.Contenido-->
    </div>
</div>

<modal-empaque (resultadoConsulta)="resultQueryEmpaque($event)"></modal-empaque>
<modal-envase (resultadoConsulta)="resultQueryEnvase($event)"></modal-envase>